<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>Bank transfer - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
  <body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site" class="bg-light">

      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                
              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/bank.png" alt="銀行振込" class="wte_img_icons"></div>                
                  <h3 class="text-center">Bank transfer</h3>
                </div>
                <div class="card-body">
                  <p class="text-start text-md-center"><strong class="text-danger">We have received your bank transfer request.<br>After confirming the information, the secretariat will contact you with the bank transfer address. </strong></p>
                   
                  <p class="text-start text-md-center">Please check the following flow in advance.</p>
                 <h4 class="text-center mb-3">Flow to start using points by bank transfer</h4>
                  <ol class="wte_ol mb-4">
                    <li>We will inform you of the transfer account when you contact us. Please make the payment by the date you have entered.</li>
                    <li>We will confirm the payment. It takes 2-3 business days including the date of transfer for confirmation.</li>
                    <li>Points will be awarded as soon as payment is confirmed.</li>
                    <li>The management office will contact you as soon as the points have been awarded.</li>         
                  </ol>
                </div>
                <div class="card-footer">
                </div>
                  
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footeren.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
