<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>Bank transfer - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
  <body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site" class="bg-light">
  
      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  
              <div class="card mb-5">
                <form method="post" action="%CGI_URL%">
                  <input type="hidden" name="m" value="bnkcptset" />
                  <input type="hidden" name="pkey" value="%pkey%" />
                  <div class="card-header">
                    <div class="text-center"><img src="/assets/img/icons/bank.png" alt="Bank transfer" class="wte_img_icons"></div>
                    <h3 class="text-center">Bank transfer</h3>
                  </div>
                  <div class="card-body">
                    <p class="text-start text-md-center">Are the following contents correct?
                    <br>If there is no problem, please click the "Send" button.</p>                        
                    <table class="table mb-4">
                      <tbody>
                        <tr>
                          <th class="w-40">Plan</th>
                          <td>%pln_title% (Point: %pln_point_with_comma% pt / Price: %pln_price_with_comma% Yen)</td>
                        </tr>
                        <tr>
                          <th>Payer name</th>
                          <td>%kana%</td>
                        </tr>
                        <tr>
                          <th>Payment date</th>
                          <td>%date%</td>
                        </tr>
                        <tr>
                          <th>Remarks</th>
                          <td>%note%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                      
                  <div class="card-footer">
                    <div class="text-center">
                      <input type="submit" name="setBtn" value="&raquo; Send" class="btn btn-primary rounded-pill mb-5">
                    </div>
                    <div class="text-center">
                      <a href="%CGI_URL%?m=bnkfrmshw&amp;pkey=%pkey%"><small>&laquo; Go back to previous page</small></a>
                    </div>
                  </div> 
                      
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footeren.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
