  <!--フッタstart-->
  <footer id="footer" class="bgkey">
    <div><a href="#top" id="scroll" class="scroll bgkey"><span class="fa fa-angle-up"></span></a></div>
    <div class="container hideib">
      <div class="row fnavcont">         
        <div class="col-md-3 fnav">
          <h3>Beginner's guide</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/abouten">About Us</a></li>
            <li><a href="%ssl_host_url%/wte/lessonen">How to use</a></li>
            <li><a href="%ssl_host_url%/wte/starteren">Skype setting</a></li>
            <li><a href="%ssl_host_url%/wte/voiceen">User voices</a></li>
            <li><a href="%ssl_host_url%/wte/prflstfrmen">Teachers</a></li>
            <li><a href="%ssl_host_url%/wte/prflstfrmen">Teachers</a></li>  
            <li><a href="%ssl_host_url%/wte/planen">Price plan</a></li>
          </ul>
        </div>
        <div class="col-md-3 fnav">
          <h3>For Members</h3>
          <ul>
            <li><a href="%ssl_host_url%/WTE/mypage.cgi">Sign In</a></li>
            <li><a href="%ssl_host_url%/wte/faqen">FAQ</a></li>
            <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshwen">Inquiry</a></li>
            <li><a href="%ssl_host_url%/wte/agreeen">Terms of Use</a></li>
          </ul>
        </div>
        <div class="col-md-3 fnav">
          <h3>About Us</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/transactionen">Specified Commercial Transaction Act</a></li>
            <li><a href="%ssl_host_url%/wte/companyen">Company information</a></li>
            <li><a href="%ssl_host_url%/wte/privacyen">Privacy Policy</a></li>
            <li><a href="%ssl_host_url%/WTE/preg.cgi">Teacher's Apply</a></li>
          </ul>
        </div>
        <div class="col-md-3 fnav text-center">
          <h3>Social Media</h3>
          <ul class="fsocial">
            <li><a href="https://www.facebook.com/wte.jp/" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/wte_support" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fa fa-youtube-play"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="logo"><a href="/">%product_name%</a></h2>              
            <small>&copy; 2012-2020 WTE Support Team.</small>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--フッタend-->
