  <!-- header section -->
  <header id="header" class="sb-slide">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-2 hdlogo">
          <p class="sb-toggle-left hmnav"><span class="fa fa-bars"></span></p>
          
          <TMPL_IF NAME="session_member_handle">
          <p class="logo text-center"><a href="%ssl_host_url%/WTE/mypage.cgi">%product_name%</a></p>
          <TMPL_ELSE>
          <p class="logo text-center"><a href="/">%product_name%</a></p>
          </TMPL_IF>
          
        </div>
        <div class="col-lg-10 hdhnav">
           
          <TMPL_IF NAME="session_member_handle">
          <div class="float-end mynavcont hidetb">
            <ul class="mynav">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm" class="hnmy"><span class="fa fa-user-circle"></span>Edit Profile</a></li>
              <li class="fxn"><a href="%ssl_host_url%/WTE/mypage.cgi?m=passwdfrm" class="hnmy"><span class="fa fa-lock"></span>Change Password</a></li>
              <li class="fxn"><a href="%ssl_host_url%/WTE/mypage.cgi?m=logoff" class="hnmy"><span class="fa fa-sign-out"></span>Sign Out</a></li>
            </ul>
          </div>
          <TMPL_ELSE>
          <div class="float-end hnavcont">
            <ul class="hnav">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="hnmy"><span class="fa fa-sign-in"></span>Sign In</a></li>
              <li class="hidetb"><a href="%ssl_host_url%/WTE/reg.cgi" class="hnreg"><span class="fa fa-laptop"></span>Sign Up</a></li>
            </ul>
          </div>
          </TMPL_IF>
            
          <TMPL_IF NAME="session_member_handle">
          <nav class="gnav hidetb">
            <ul>
              <li>
                <a href="%ssl_host_url%/WTE/mypage.cgi">Mypage</a>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=schlstfrm">Book a Lesson</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=schlstfrm">Book by Calendar</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=prflstfrm">Book by Teacher</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=coulstfrm">Book by Lesson</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=lsnlstfrm">Lesson Record</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">Purchase Points</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">Credit card payment</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=bnkfrmshw">Bank transfer</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=actlstfrm">Point balance</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=cctlstfrm">Coupon balance</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/lesson">How to use</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/lesson">How to use</a></li>
                  <li><a href="%ssl_host_url%/wte/starter">Skype setting</a></li>
                  <li><a href="%ssl_host_url%/wte/faq">FAQ</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=inqfrmshw">Inquiry</a></li>
            </ul>
          </nav>
          <TMPL_ELSE>
          <nav class="gnav hidetb">
            <ul>
              <li>
                <a href="%ssl_host_url%/wte/about">About Us</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/about">About Us</a></li>
                  <li><a href="%ssl_host_url%/wte/text">About Text</a></li>
                  <li><a href="%ssl_host_url%/wte/lesson">How to use</a></li>
                  <li><a href="%ssl_host_url%/wte/starter">Skype setting</a></li>
                  <li><a href="%ssl_host_url%/wte/voice">User voices</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/prflstfrm">Teachers</a></li>
              <li><a href="%ssl_host_url%/wte/plan">Plan</a></li>
              <li><a href="%ssl_host_url%/wte/faq">FAQ</a></li>
              <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">Inquiry</a></li>
            </ul>
          </nav>
          </TMPL_IF>
        </div>
      </div>
    </div>
  </header>



  <nav class="sb-slidebar sb-left">
  <TMPL_IF NAME="session_member_handle">
    <ul class="sbbtn">
      <li><a href="/WTE/mypage.cgi">Mypage</a></li>
      <li><a href="/WTE/mypage.cgi?m=logoff">Sign Out</a></li>
    </ul>
    <ul class="sbmenu">
      <li><a href="%ssl_host_url%/WTE/mypage.cgi">Mypage</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=schlstfrm">Book by Calendar</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=prflstfrm">Book by Teacher</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=coulstfrm">Book by Lesson</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=lsnlstfrm">Lesson Record</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">Credit card payment</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=bnkfrmshw">Bank transfer</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=actlstfrm">Point balance</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=cctlstfrm">Coupon balance</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm">Edit Profile</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=passwdfrm">Change Password</a></li>
      <li><a href="%ssl_host_url%/wte/lesson">How to use</a></li>
      <li><a href="%ssl_host_url%/wte/starter">Skype setting</a></li>
      <li><a href="%ssl_host_url%/wte/faq">FAQ</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=inqfrmshw">Inquiry</a></li>
      <li><a href="%ssl_host_url%/wte/agree">Terms of Use</a></li>
      <li><a href="%ssl_host_url%/wte/transaction">Specified Commercial Transaction Act</a></li>
      <li><a href="%ssl_host_url%/wte/company">Company information</a></li>
      <li><a href="%ssl_host_url%/wte/privacy">Privacy Policy</a></li>
      <li><a href="%ssl_host_url%/WTE/preg.cgi">Teacher's Apply</a></li>
    </ul>
  <TMPL_ELSE>
    <ul class="sbbtn">
      <li><a href="%ssl_host_url%/WTE/reg.cgi">Sgin Up</a></li>
      <li><a href="%ssl_host_url%/WTE/mypage.cgi">Sing In</a></li>
    </ul>
    <ul class="sbmenu">
      <li><a href="/">Home</a></li>
      <li><a href="%ssl_host_url%/wte/about">About Us</a></li>
      <li><a href="%ssl_host_url%/wte/text">About Text</a></li>
      <li><a href="%ssl_host_url%/wte/lesson">How to use</a></li>
      <li><a href="%ssl_host_url%/wte/starter">Skype setting</a></li>
      <li><a href="%ssl_host_url%/wte/voice">User voices</a></li>
      <li><a href="%ssl_host_url%/wte/prflstfrm">Teachers</a></li>
      <li><a href="%ssl_host_url%/wte/plan">Price plan</a></li>
      <li><a href="%ssl_host_url%/wte/faq">FAQ</a></li>
      <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">>Inquiry</a></li>
      <li><a href="%ssl_host_url%/wte/agree">Terms of Use</a></li>
      <li><a href="%ssl_host_url%/wte/transaction">Specified Commercial Transaction Act</a></li>
      <li><a href="%ssl_host_url%/wte/company">Company information</a></li>
      <li><a href="%ssl_host_url%/wte/privacy">Privacy Policy</a></li>
      <li><a href="%ssl_host_url%/WTE/preg.cgi">Teacher's Apply</a></li>
    </ul>
  </TMPL_IF>
  </nav>
