<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>Usage history - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-12">
          <h1>Usage history</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="wform">
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Prev</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Prev</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>

            <table class="table">
              <tr>
                <th>Usage ID</th>
                <th>Date</th>
                <th>History</th>
              </tr>
              <TMPL_LOOP NAME="list_loop">
              <tr>
                <td>%lin_id%</td>
                <td>%lin_date_Y%/%lin_date_n%/%lin_date_j% (%lin_date_wj%) %lin_date_G%:%lin_date_i%:%lin_date_s%</td>
                <td>
                  <TMPL_IF NAME="lin_type_1">Sign in</TMPL_IF>
                  <TMPL_IF NAME="lin_type_2">Sign out</TMPL_IF>
                </td>
              </tr>
              </TMPL_LOOP>
            </table>
            
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Prev</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Prev</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="./footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
