<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>Lesson Reservation - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site" class="bg-light">

    <!-- schedule section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card mb-5">
              <div class="card-header">
                <div class="text-center"><img src="/assets/img/icons/reserved.png" alt="Lesson Reservation" class="wte_img_icons"></div>
                <h3 class="text-center">Lesson Reservation</h3>
              </div>
              <div class="card-body">
                <form action="%CGI_URL%" method="post">
                  <input type="hidden" name="m" value="lsnrsvset" />
                  <input type="hidden" name="pkey" value="%pkey%" />
                  <input type="hidden" name="sch_id" value="%sch_id%" />
                  <div class="row">
                    <p class="text-left text-md-center mb-5">Check your reservation information and click <strong class="text-danger">Book</strong>. <br>If you don't have enough points, you can purchase from <a href="%CGI_URL%?m=crdfrmshw">here</a>.</p>
                    <h4 class="wte_head-border mb-4">Reservation information</h4>
                  </div>
                    
                    
                  <TMPL_IF NAME="selected_course_id">
                    <TMPL_UNLESS NAME="selected_member_can_buy">
                      <div class="alert alert-danger mb-5">
                        <div class="row">
                          <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                            <img src="/assets/img/icons/checked.png" alt="完了報告" class="w-100 w-md-50 h-auto">
                          </div>
                          <div class="col-10 col-md-11">
                            <h5>You cannot apply for this lesson.</h5>
                            <p class="mb-0">
                              <TMPL_IF NAME="selected_member_can_not_buy_reason_1">Not enough points</TMPL_IF>
                              <TMPL_IF NAME="selected_member_can_not_buy_reason_2">Time overlaps with other lessons</TMPL_IF>
                              <TMPL_IF NAME="selected_member_can_not_buy_reason_3">Insufficient time frame for techer.</TMPL_IF>
                              <TMPL_IF NAME="selected_member_can_not_buy_reason_99">An error has occurred</TMPL_IF>
                            </p>
                          </div>
                        </div>
                      </div>
                    </TMPL_UNLESS>
                  </TMPL_IF>

                  <div class="row">
                    <div class="col-12 col-md-5 wte_lesson_detail">
                      <h5 class="mb-3"><i class="fas fa-calendar-alt text-primary me-2"></i>%sch_stime_Y%/%sch_stime_n%/%sch_stime_j%（%sch_stime_wj%）%sch_stime_G%:%sch_stime_i%～%sch_etime_G%:%sch_etime_i%</i></h5>
                      <ul class="text-muted wte_annotation">
                        <li>Your lesson will finish <span class="minute_replace_2">
                        <TMPL_IF NAME="selected_course_name">
                          <span id="selected_course_step">%selected_course_step%</span>
                        <TMPL_ELSE>
                          <span id="selected_course_step">--</span>
                        </TMPL_IF></span> before the end of lesson time.</li>
                      </ul>
                      <h5><i class="fas fa-user text-primary me-2"></i>
                        <TMPL_IF NAME="prof_logo">
                          <img src="%prof_logo_2_url%?%epoch%" class="wte_face_icons rounded-pill" alt="%prof_handle%">
                        <TMPL_ELSE>
                          <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill" alt="%prof_handle%">
                        </TMPL_IF>%prof_handle%
                      </h5>
                      <h5 class="mb-3"><i class="fas fa-chalkboard text-primary me-2"></i>
                        <TMPL_IF NAME="selected_course_name">
                          <span id="selected_course_name">%selected_course_name%</span>
                        <TMPL_ELSE>
                          <span id="selected_course_name">Please select a lesson</span>
                        </TMPL_IF>
                      </h5>
                      <h5 class="mb-3"><i class="fas fa-coins text-primary me-2"></i>
                        <TMPL_IF NAME="selected_course_name">
                          <span id="selected_course_fee_with_comma">%selected_course_fee_with_comma%</span> pt
                        <TMPL_ELSE>
                          <span id="selected_course_fee_with_comma">--</span> pt
                        </TMPL_IF>
                      </h5>
                    </div>
                    <div class="col-12 col-md-7 text-center mt-5 mt-md-0">
                      <h5 class="text-danger mb-3">Please select the lesson you would like to take</h5>
                      <div class="wte_div_table mb-5">
                        <div class="row wte_div_thead">
                          <div class="col-2 col-md-2">Select</div>
                          <div class="col-6 col-md-5">Lesson</div>
                          <div class="col-4 col-md-5">
                            <div class="row">
                              <div class="col-12 col-md-7">Point</div>
                              <div class="d-none d-md-block col-md-5">Time</div>
                            </div>
                          </div>
                        </div>
                        <TMPL_LOOP NAME="course_loop" COURSE_INTRO_CHARS="150">
                        <script type="application/json" class="course-json">%course_json%</script>
                        <label for="select_%course_id%">
                          <div class="row wte_div_tbody">
                            <div class="col-2 col-md-2">
                              <TMPL_IF NAME="member_can_buy">
                                <input type="radio" name="course_id" id="select_%course_id%" value="%course_id%" %checked%>
                              <TMPL_ELSE>
                                <input type="radio" name="" value="" disabled>
                              </TMPL_IF>
                            </div>
                            <div class="col-6 col-md-5 text-start">
                              <TMPL_IF NAME="course_logo">
                                <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">
                                  <img src="%course_logo_1_url%?%epoch%" class="wte_face_icons rounded-pill me-3" alt="%course_name%">
                                </a><a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">%course_name%</a>
                                <TMPL_ELSE>
                                <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">
                                  <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill me-3" alt="%course_name%">
                                </a><a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">%course_name%</a>
                              </TMPL_IF>
                              <TMPL_IF NAME="member_can_buy">
                              <TMPL_ELSE>
                                <span class="text-danger">
                                    <TMPL_IF NAME="member_can_not_buy_reason_1"><li>*Not enough points</li></TMPL_IF>
                                    <TMPL_IF NAME="member_can_not_buy_reason_2"><li>*Time overlaps with other lessons</li></TMPL_IF>
                                    <TMPL_IF NAME="member_can_not_buy_reason_3"><li>*Insufficient time frame for techer.</li></TMPL_IF>
                                    <TMPL_IF NAME="member_can_not_buy_reason_99"><li>*This lesson cannot be selected</li></TMPL_IF>
                                </span>
                              </TMPL_IF>
                            </div>
                            <div class="col-4 col-md-5">
                              <div class="row">
                                <div class="col-12 col-md-7">%course_fee_with_comma%pt</div>
                                <div class="col-12 col-md-5">%course_step% minutes</div>
                              </div>
                            </div>
                          </div>
                        </label>
                        </TMPL_LOOP>
                      </div>
                            
                      <h5 class="text-danger mb-3">Your point balance</h5>
                      <div class="wte_div_table mb-5">
                        <div class="row wte_div_tbody">
                          <div class="col-6"><strong>Your points</strong></div>
                          <div class="col-6">%member_point_with_comma% pt</div>
                        </div>
                        <div class="row wte_div_tbody">
                          <div class="col-6"><strong>Reserved points</strong></div>
                          <div class="col-6">%member_receivable_point_with_comma% pt</div>
                        </div>
                        <div class="row wte_div_tbody">
                          <div class="col-6"><strong>Available points</strong></div>
                          <div class="col-6">%member_available_point_with_comma% pt</div>
                        </div>
                      </div>
                      <TMPL_IF NAME="member_coupon">
                        <h5 class="text-danger mb-3">Coupon confirmation</h5>
                        <div class="wte_div_table mb-5">
                          <div class="row wte_div_tbody">
                            <div class="col-6"><strong>Your coupons</strong></div>
                            <div class="col-6">%member_coupon_with_comma% pt</div>
                          </div>
                          <div class="row wte_div_tbody">
                            <div class="col-6"><strong>Reserved coupons</strong></div>
                            <div class="col-6">%member_receivable_coupon_with_comma% pt</div>
                          </div>
                          <div class="row wte_div_tbody">
                            <div class="col-6"><strong>Available coupons</strong></div>
                            <div class="col-6">%member_available_coupon_with_comma% pt</div>
                          </div>
                        </div>
                      </TMPL_IF>
                    </div>
                    <div class="col-12">
                      <TMPL_IF NAME="member_can_buy">
                        <TMPL_IF NAME="member_can_buy_by_coupon">
                          <TMPL_IF NAME="member_can_buy_by_point">
                            <p><label><input type="checkbox" name="lsn_pay_type" value="2"> Pay with coupon</label></p>
                            <TMPL_ELSE>
                              <input type="hidden" name="lsn_pay_type" value="2" />
                              <p>* Payment with coupon will be done.</p>
                          </TMPL_IF>
                        </TMPL_IF>
                        <div class="text-center mb-5"><input type="submit" value="&raquo; Confirm reservation" class="btn btn-danger rounded-pill"></div>
                        <div class="alert alert-muted mb-5">
                          <div class="row">
                            <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                              <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                            </div>
                            <div class="col-10 col-md-11">
                              <ul class="wte_note">
                                <li>Reservation will be accepted <strong>%lesson_reservation_limit% hours before </strong>the lesson starts.</li>
                                <li>Cancellation can be accepted up to<strong> %cancelable_hours% in advance.</strong></li>
                                <li>Please be advised that the time displayed is <strong>local time in Japan.</strong></li>                                  
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-center"><a href="javascript:history.back();"><small>&raquo; Go back to previous page</small></a></div>
                      <TMPL_ELSE>
                        <div class="text-center mb-5">
                          <h5 class="text-danger mb-3">Reservation not possible due to insufficient tickets.</h5>
                          <div class="text-center mb-5"><a href="%CGI_URL%?m=crdfrmshw" class="btn btn-danger rounded-pill">&raquo; Click here to purchase points</a></div>
                        </div>
                        <div class="text-center"><a href="javascript:history.back();"><small>&raquo; Go back to previous page</small></a></div>
                      </TMPL_IF>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
              </div>                    
            </div>
                            
                            
           <div class="card mb-5">
              <div class="card-header">
                <div class="text-center"><img src="/assets/img/icons/reading.png" alt="講師から予約" class="wte_img_icons"></div>
                <h3 class="text-center">About the teacher</h3>
              </div>
              <div class="card-body pt-4 pb-4 pt-md-5 pb-md-5 position-relative">
                <div class="row">
                  <p class="text-left text-md-center mb-5">This is the profile of the teacher in charge.</p>
                </div>
                <div class="row">
                  <div class="col-4 col-md-2">
                    <TMPL_IF NAME="prof_logo">
                      <img src="%prof_logo_3_url%?%epoch%" alt="%prof_handle%" class="w-100 h-auto rounded-circle" />
                    <TMPL_ELSE>
                      <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%" class="w-100 h-auto rounded-circle" />
                    </TMPL_IF>
                  </div>
                  <div class="col-8 col-md-10 px-0 px-md-2 px-lg-4">
                    <div class="px-4">
                      <h3 class="mb-0"><strong>%prof_handle%</strong></h3>
                      <ul class="text-black-50 p-0 small">
                        <li class="d-inline-block me-4">
                          <small class="me-3">From</small>
                          <span class="flag-icon flag-icon-%prof_country% shadow medium me-2"></span>
                          <strong class="text-black medium d-none d-md-inline">%prof_country_name%</strong>
                        </li>
                        <li class="d-inline-block me-4">
                          <small class="me-3">Lives in</small>
                          <span class="flag-icon flag-icon-%prof_residence% shadow medium me-2"></span>
                          <strong class="text-black medium d-none d-md-inline">%prof_residence_name%</strong>
                        </li>
                        <TMPL_IF NAME="prof_gender">
                          <li class="d-inline-block me-4">
                            <small class="me-3">%prof_gender_caption%</small>
                            <strong class="text-black medium">
                              <TMPL_IF NAME="prof_gender_1">Male</TMPL_IF>
                              <TMPL_IF NAME="prof_gender_2">Female</TMPL_IF>
                            </strong>
                          </li>
                        </TMPL_IF>
                        <!--<li class="d-inline-block me-4"><small class="me-3">クーポン</small><span>
                          <TMPL_IF NAME="prof_coupon_ok">利用可能<TMPL_ELSE>利用不可能</TMPL_IF>
                        </span></li>-->
                      </ul>
                      <ul class="wte_tag mb-1">
                        <TMPL_LOOP NAME="prof_character_loop">
                          <li class="wte_tag_1"><a href="/WTE/site.cgi?m=prflstfrm&amp;s_prof_character=%id%"># %title%</a></li>
                        </TMPL_LOOP>
                      </ul>
                      <ul class="wte_tag mb-5">
                      <TMPL_LOOP NAME="prof_interest_loop">
                        <li class="wte_tag_2"><a href="/WTE/site.cgi?m=prflstfrm&amp;s_prof_interest=%id%"># %title%</a></li>
                      </TMPL_LOOP>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 offset-md-2 px-0 px-md-2 px-lg-4">
                    <div class="px-4">
                      <h3 class="wte_head-border h5 mb-4"><i class="fas fa-graduation-cap text-primary me-3"></i>Introduction</h3>
                      <div class="wte_accordion_wrapper pb-5">
                        <div class="wte_accordion">
                          %prof_intro%
                        </div>
                        <div class="wte_accordion_show_more">
                          <span><i class="fa-solid fa-arrow-down me-3"></i> See more</span>
                        </div>
                      </div>
                    </div>
                    <TMPL_IF NAME="prof_audio_url">
                    <div class="px-4">
                      <h3 class="wte_head-border h5 mb-4"><i class="fas fa-video text-primary me-3"></i>%Video</h3>
                      <div class="row">
                        <div class="col-12 col-md-6 px-3 mb-4 mb-md-0">
                          <div class="wte_youtubecont">
                            <iframe width="853" height="480" src="//www.youtube.com/embed/%prof_audio_url%" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                        <TMPL_IF NAME="prof_video_url">
                        <div class="col-12 col-md-6 px-3 pb-5">
                          <div class="wte_youtubecont">
                            <iframe width="853" height="480" src="//www.youtube.com/embed/%prof_video_url%" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                        </TMPL_IF>
                      </div>
                    </div>
                    </TMPL_IF>
                  </div>
                </div>
              </div>
              <div class="card-footer">
              </div>
            </div>                  
                  
        </div>
      </div>
    </section>
            

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footeren.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
  <script src="%static_url%/js/mypage/favset.js"></script>
    
        <script>
        $(document).ready(function(){
          $('.minute_replace').each(function(){
            var txt = $(this).html();
            $(this).html(
              txt.replace(/30/g,'25')
                 .replace(/60/g,'50')
                 .replace(/90/g,'75')
                 .replace(/120/g,'100')
            );
          });
          $('.minute_replace_2').each(function(){
            var txt2 = $(this).html();
            $(this).html(
              txt2.replace(/30/g,'5')
                 .replace(/60/g,'10')
                 .replace(/90/g,'15')
                 .replace(/120/g,'20')
            );
          });
        });
          (function () {

            let json_el_list = document.querySelectorAll('script.course-json');
            let courses = {};
            for (let i = 0, len = json_el_list.length; i < len; i++) {
              try {
                let data = JSON.parse(json_el_list.item(i).textContent);
                if (data && data.course_id) {
                  let id = data.course_id;
                  courses[id] = data;
                }
              } catch (e) { }
            }

            let checkbox_el_list = document.getElementsByName('course_id');
            for (let i = 0, len = checkbox_el_list.length; i < len; i++) {
              checkbox_el_list.item(i).addEventListener('click', changeCourse, false);
            }

            function changeCourse(event) {
              let reason_el = document.getElementById('member_can_not_buy_reason')
              if (reason_el) {
                reason_el.innerHTML = '';
              }
              let course = courses[event.currentTarget.value];
              let key_list = [
                'course_name',
                'course_fee_with_comma',
                'course_step',
                'course_etime_Gi'
              ];
              key_list.forEach(function (k) {
                document.getElementById('selected_' + k).textContent = course[k];
              });
            }
          })();
        $(function() {
          $(".wte_accordion_show_more").click(function() {
            var show_text = $(this)
              .parent(".wte_accordion_wrapper")
              .find(".wte_accordion");
            var small_height = 400; //This is initial height.
            var original_height = show_text.css({ height: "auto" }).height();

            if (show_text.hasClass("wte_acco_open")) {
              /*CLOSE*/
              show_text.height(original_height).animate({ height: small_height }, 400);
              show_text.removeClass("wte_acco_open");
              $(this)
                .html('<span><i class="fa-solid fa-arrow-down me-3"></i> Read more about self-introduction</span>')
                .removeClass("wte_accordion_active");
            } else {
              /*OPEN*/
              show_text
                .height(small_height)
                .animate({ height: original_height }, 400, function() {
                  show_text.height("auto");
                });
              show_text.addClass("wte_acco_open");
              $(this)
                .html('<span><i class="fa-solid fa-arrow-up me-3"></i> Close self-introduction</span>')
                .addClass("wte_accordion_active");
            }
          });
        });
        </script>    
</body>
</html>