<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>退会処理 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="スカイプ,%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site">

    <!--メインコンテンツstart-->
    <article id="main" class="col4">

      <!--コンテナstart-->
      <div class="container">

        <!--セクション「カード決済」start-->
        <section class="box">
        <TMPL_INCLUDE NAME="../include/messagealert.html">

          <!--セクション見出し-->
          <h1>退会</h1>

      <p>退会手続きが完了しました。</p>
      <p>これまでご利用頂き、誠にありがとうございました。</p>
      <p>またのご利用をお待ちしております。</p>

        </section>
      </div>

    </article>
    <!--メインコンテンツend-->

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
