<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>カンタン予約 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/headeren.html">
  <div id="sb-site" class="bg-light">

    <!-- schedule section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card mb-5">
              <div class="card-header">
                <div class="text-center"><img src="/assets/img/icons/reserved.png" alt="Reservation" class="wte_img_icons"></div>
                <h3 class="text-center"><strong class="text-primary">Easy</strong> Reservation</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <p class="text-left text-md-center mb-5">You can check the schedule of Teachers in a list.</p>
                </div>





          <nav aria-label="..." class="text-center">
            <ul class="pagination wte_week">
            <TMPL_LOOP NAME="week_loop">
              <TMPL_IF NAME="current">
                <li class="page-item active"><span class="page-link">%dt_n%/%dt_j%（%dt_wj%）</span></li>
              <TMPL_ELSE>
                <li class="page-item"><a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=%available%" class="page-link">%dt_n%/%dt_j%（%dt_wj%）</a></li>
              </TMPL_IF>
            </TMPL_LOOP>
            </ul>
          </nav>


                <div class="row">
                  <div class="col-12">
                    <div class="card card-search mt-3 mb-4">
                      <form action="%CGI_URL%#list" method="post">
                        <input type="hidden" name="m" value="prflstfrm" />
                        <div class="card-header">
                          <h3 class="h6"><span class="fas fa-search me-3"></span>Search box</h3>
                        </div>
                        <div class="card-body">
                          <div class="form-group row">
                            <div class="col-12 col-md-6 mb-2">
                              <div class="input-group">
                                <div class="input-group-text">
                                  Search by Teacher name
                                </div>
                                <input type="text" id="s_prof_handle" name="s_prof_handle" value="%s_prof_handle%" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                              <div class="input-group">
                                <div class="input-group-text">
                                  Free word search
                                </div>
                                <input type="text" id="s_prof_fulltext" name="s_prof_fulltext" value="%s_prof_fulltext%" class="form-control w100" />
                              </div>
                            </div>
                          </div>
                          <fieldset class="form-group mb-2">
                            <div class="form-check wte_search_tag wte_search_tag_1">
                              <TMPL_LOOP NAME="s_prof_character_loop">
                              <input type="checkbox" id="s_prof_character_%id%" name="s_prof_character" value="%id%" class="checkinp" %checked%>
                              <label class="check check1" for="s_prof_character_%id%"># %title%</label>
                              </TMPL_LOOP>
                            </div>
                          </fieldset>
                          <fieldset class="form-group mb-2">
                            <div class="form-check wte_search_tag wte_search_tag_2">
                              <TMPL_LOOP NAME="s_prof_interest_loop">
                              <input type="checkbox" id="s_prof_interest_%id%" name="s_prof_interest" value="%id%" class="checkinp" %checked%>
                              <label class="check check2" for="s_prof_interest_%id%"># %title%</label>
                              </TMPL_LOOP>
                            </div>
                          </fieldset>

                          <div class="text-center wte_search_detail_cont mb-2">
                            <span class="wte_search_detail"><i class="fas fa-plus me-3"></i> Display detailed search items</span>
                          </div>

                          <div class="wte_search_toggle mb-2 pt-3">
                            <div class="form-group row">
                              <div class="col-12 col-md-6 mb-2">
                                <div class="input-group">
                                  <div class="input-group-text">
                                    Home country
                                  </div>
                                  <select name="s_prof_country" class="form-select form-control" id="s_prof_country">
                                    <option value="">----</option>
                                    <TMPL_LOOP NAME="s_prof_country_loop">
                                    <option value="%country_code%" %selected%>%country_name%</option>
                                    </TMPL_LOOP>
                                  </select>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 mb-2">
                                <div class="input-group">
                                  <div class="input-group-text">
                                    Country of residence
                                  </div>
                                  <select name="s_prof_residence" class="form-select form-control" id="s_prof_residence">
                                    <option value="">----</option>
                                    <TMPL_LOOP NAME="s_prof_residence_loop">
                                    <option value="%country_code%" %selected%>%country_name%</option>
                                    </TMPL_LOOP>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-12 col-md-6 mb-2">
                                <div class="input-group">
                                  <div class="input-group-text">
                                    Gender
                                  </div>
                                  <select id="s_prof_gender" class="form-select form-control" name="s_prof_gender">
                                    <option value="">----</option>
                                    <option value="1" %s_prof_gender_1_selected%>Male</option>
                                    <option value="2" %s_prof_gender_2_selected%>Female</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 mb-0">
                                <div class="form-group mb-0">
                                  <TMPL_IF NAME="s_prof_reco">
                                  <label for="s_prof_reco">
                                    <input type="checkbox" name="s_prof_reco" id="s_prof_reco" value="1" class="me-3" checked="checked">Check recommended
                                  </label>
                                  <TMPL_ELSE>
                                  <label for="s_prof_reco">
                                    <input type="checkbox" name="s_prof_reco" id="s_prof_reco" value="1" class="me-3">Check recommended
                                  </label>
                                  </TMPL_IF>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">

                              <!--<div class="col-12 col-md-6 col-md-3">
                                <legend class="col-form-legend">%prof_rank_caption%</legend>
                                <div class="form-group">
                                  <select name="s_prof_rank" class="form-select form-control" id="s_prof_rank">
                                    <option value="">----</option>
                                    <TMPL_LOOP NAME="s_prof_rank_loop">
                                    <option value="%id%" %selected%>%title%</option>
                                    </TMPL_LOOP>
                                  </select>
                                </div>
                              </div>>-->
                            </div>
                          </div>
                            
                        </div>
                        
                        <div class="card-footer">
                          <div class="text-center"><input type="submit" value="&raquo; Search" class="btn btn-md btn-primary rounded-pill"></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

          <div class="row">
            <nav aria-label="..." class="text-center mb-0">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Prev</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Prev</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
          </div>

          <div class="row text-center">

            <ul class="wte_sort mb-4">
              <TMPL_IF NAME="available">
                <li>
                  <a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=0">All teachers</a>
                </li>
                <li>
                  <span><i class="fa-solid fa-arrow-down me-3"></i>Teachers wh can be booked</span>
                </li>
                <TMPL_ELSE>
                <li>
                  <span><i class="fa-solid fa-arrow-down me-3"></i>All teachers</span>
                </li>
                <li>
                  <a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=1">Teachers wh can be booked</a>
                </li>
              </TMPL_IF>
            </ul>
          </div>

                <div class="row text-center">
                  <ul class="wte_sort mb-4">
                    <li>
                      <TMPL_IF NAME="sort_key_score_selected">
                        <span><i class="fa-solid fa-arrow-down me-3"></i>Sort by popularity</span>
                      <TMPL_ELSE>
                        <a href="%search_base_url%&amp;sort_key=score#list">Sort by popularity</a>
                      </TMPL_IF>
                    </li>
                    <!--<li>
                      <TMPL_IF NAME="sort_key_rank_selected">
                      <span>Sort by rank</span>
                      <TMPL_ELSE>
                      <a href="%search_base_url%&amp;sort_key=rank">Sort by rank</a>
                      </TMPL_IF>
                    </li>-
                    <li>
                      <TMPL_IF NAME="sort_key_fee_selected">
                      <span><i class="fa-solid fa-arrow-down me-3"></i>Sort by least points</span>
                      <TMPL_ELSE>
                      <a href="%search_base_url%&amp;sort_key=fee">Sort by least points</a>
                      </TMPL_IF>
                    </li>-->
                    <li>
                      <TMPL_IF NAME="sort_key_new_selected">
                        <span><i class="fa-solid fa-arrow-down me-3"></i>Sort by newest arrival</span>
                      <TMPL_ELSE>
                        <a href="%search_base_url%&amp;sort_key=new#list">Sort by newest arrival</a>
                      </TMPL_IF>
                    </li>
                  </ul>
                </div>                        
                        

          <!--ループ：%prof_caption%一覧情報 start-->
          <TMPL_LOOP NAME="row_loop" COLS="4">
            
          <div class="row text-center">
            <div class="col-12 card card-sch mb-4">
              <div class="row card-sch-header">
                <div class="col-10 offset-2 col-md-11 offset-md-1">
                  <div class="row">
                    <TMPL_LOOP NAME="thead_loop">
                    <TMPL_IF NAME="prof_id">
                    <div class="col-3 position-relative card-sch-hover">
                      <a href="/wte/prfdtlfrm/%prof_id%" class="card-anchor"></a>
                      <ul class="wte_prof_link d-none d-md-block">
                        <li class="wte_prof_fav">
                        <TMPL_IF NAME="is_fav">
                          <a href="%CGI_URL%?m=favsetajx&amp;prof_id=%prof_id%" class="wte_fav_set wte_prof_fav_on">
                            <span class="fas fa-heart"></span>
                          </a>
                        <TMPL_ELSE>
                          <a href="%CGI_URL%?m=favsetajx&amp;prof_id=%prof_id%" class="wte_fav_set">
                            <span class="fas fa-heart"></span>
                          </a>
                        </TMPL_IF>
                        </li>
                      </ul>
                      <TMPL_IF NAME="prof_logo">
                        <img src="%prof_logo_2_url%?%epoch%" alt="%prof_handle%" class="w-75 h-auto rounded-pill p-0 p-md-4">
                      <TMPL_ELSE>
                        <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%" class="w-75 h-auto rounded-pill p-0 p-md-4">
                      </TMPL_IF>
                      <h3 class="h5">%prof_handle%</h3>
                      <ul class="text-black-50 p-0 small mb-2 d-none d-md-block">
                        <li class="d-inline-block me-4"><small class="me-3">From</small><span class="flag-icon flag-icon-%prof_country% shadow medium"></span></li>
                        <li class="d-inline-block me-4"><small class="me-3">Lives in</small><span class="flag-icon flag-icon-%prof_residence% shadow medium"></span></li>
                      </ul>
                    </div>
                    </TMPL_IF>
                    </TMPL_LOOP>
                  </div>
                </div>
              </div>
              <div class="row card-sch-body">
                <TMPL_LOOP NAME="tbody_row_loop">
                <div class="col-2 col-md-1 card-sch-date">
                  <strong>%h%:%m%</strong>
                </div>
                <div class="col-10 col-md-11">
                  <div class="row">
                  <TMPL_LOOP NAME="tbody_col_loop">
                    <div class="col-3 card-sch-date">
                    <TMPL_IF NAME="sch_id">
                      <TMPL_IF NAME="disabled">
                        <span class="finished"><i class="d-none d-md-inline">%stime% </i>Fineshed</span>
                      <TMPL_ELSE>
                        <TMPL_IF NAME="lsn_id">
                          <span class="reserved"><i class="d-none d-md-inline">%stime% </i>Reserved</span>
                        <TMPL_ELSE>
                          <span class="vacant"><a href="%CGI_URL%?m=lsnrsvcfm&amp;sch_id=%sch_id%"><i class="d-none d-md-inline">%stime% </i>Vacant</a></span>
                        </TMPL_IF>
                      </TMPL_IF>
                    <TMPL_ELSE>
                      &nbsp;
                    </TMPL_IF>
                    </div>
                  </TMPL_LOOP>
                  </div>
                </div>
                </TMPL_LOOP>
              </div>
            </div>
          </div>

          </TMPL_LOOP>

          <div class="row">
            <nav aria-label="..." class="text-center mb-0">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Prev</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Prev</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
          </div>




        </section>
      </div>
    </article>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footeren.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
  <script src="%static_url%/js/mypage/favset.js"></script>
  <script>
  $(document).ready(function(){
    $('table.scrollable tr:even').addClass('even');
  });
  </script>
</body>
</html>
