<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>Account - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">

<TMPL_INCLUDE NAME="../include/header_profen.html">
  <div id="sb-site">

      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
                
              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/bill.png" alt="Account" class="wte_img_icons"></div>
                  <h3 class="text-center">Account</h3>
                </div>
                <div class="card-body">                  
                    <p>Your submitted the bill. <br />Please wait until the payment.</p>    
                </div>        
            </div>   
        </div>
      </div>                        
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="./include/foot_prof.html">
  
</body>
</html>
