<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>Delete Class - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

              <div class="card mb-5">
                <form method="post" action="%CGI_URL%" enctype="multipart/form-data">
                  <input type="hidden" name="m" value="coudelset" />
                  <input type="hidden" name="pkey" value="%pkey%" />

                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/blackboard.png" alt="Delete Class" class="wte_img_icons"></div>
                  <h3 class="text-center">Delete Class</h3>
                </div>

                <div class="card-body">
                  <p>Are you sure you want to delete this item? Please check the content of the Class and click the “Delete” button.</p>

                  <TMPL_IF NAME="errs">
                    <div class="errs">%errs%</div>
                  </TMPL_IF>


                <div class="form-group">
                  <label>Class title</label>
                  <p>%course_name%</p>
                </div>

                <div class="form-group">
                  <label>Catch copy</label>
                  <p>%course_copy%</p>
                </div>

                <div class="form-group">
                  <label>Required points</label>
                  <p>%course_fee_with_comma% pt</p>
                </div>

                <TMPL_IF name="course_logo">
                <div class="form-group">
                  <label>Image</label>
                    <div id="course_logo_box">
                      <img src="%course_logo_2_url%?%epoch%" width="%course_logo_2_w%" height="%course_logo_2_h%" class="rounded-pill" alt="中">
                    </div>
                </div>
                </TMPL_IF>

                <div class="form-group">
                  <label >Large Category</label>
                  <p>%ccate_name_1%</p>
                </div>
                
                <TMPL_IF name="ccate_name_2">
                <div class="form-group">
                  <label>Small Category</label>
                  <p>%ccate_name_2%</p>
                </div>
                </TMPL_IF>

                <div class="form-group">
                  <label>Class duration</label>
                  <p>%course_step% mintes</p>
                </div>

                <div class="form-group">
                  <label>Class overview</label>
                  <div>%course_intro%</div>
                </div>

                <TMPL_IF name="course_youtube_id">
                <div class="form-group">
                  <label>Youtube ID</label>
                  <p>https://www.youtube.com/watch?v=%course_youtube_id%</p>
                </div>
                </TMPL_IF>

                <div class="form-group">
                  <label>Display/ Not display</label>
                  <p>
                  <TMPL_IF NAME="course_status_0">Not display</TMPL_IF>
                  <TMPL_IF NAME="course_status_1">Display</TMPL_IF>
                  </p>
                </div>
              </div>
                
            <div class="card-footer">
              
              <div class="alert alert-danger mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/bell.png" alt="完了報告" class="w-100 w-md-50 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">削除したデータは復旧できませんので、内容をご確認の上削除ください</p>
                  </div>
                </div>
              </div>
              <div class="text-center"><input type="submit" value="&raquo; Delete" name="setBtn" class="btn btn-primary rounded-pill" /></div>
            </div>
          </form>
          </div>

            </div>
          </div>
        </div>
      </section>
      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot_prof.html">

      <!-- フォーム二重投稿禁止 -->
      <script src="%static_url%/js/form-guard.js"></script>

</body>

</html>
