<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%prof_caption%募集 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader <TMPL_INCLUDE NAME="../include/body_prof_class.html">">

  <TMPL_INCLUDE NAME="../include/header_small.html">
    <div id="sb-site" class="bg-light">

    <!-- content section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-header">
                <h3 class="text-center">%prof_caption%応募フォーム</h3>
              </div>
              <div class="card-body">                
                <p>ご応募そして、情報のご送信どうもありがとうございます。採用担当の方で情報を確認した後、折り返し連絡の方させていただきます。</p>
              </div>
              <div class="card-footer">
              </div>                
          </div>
        </div>
      </div>
    </section>
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
