                      <h2 class="text-center mb-5">ご利用規約</h2>
                      <p class="text-md-center mb-5">%product_name%への%member_caption%登録にあたっては以下の利用規約にご同意いただいたうえでご利用ください。</p>

                      <h3 class="text-left h4">第1条（%member_caption%登録規約）</h3>
                      <p>この%member_caption%登録規約は、株式会社ライトアップ（以下「甲」とします。）が提供する「%product_name%」及び、これに付随するサービス（以下「本サービス」とします。）を、%member_caption%（以下「乙」とします。）が利用するためのルールを定めるものです。</p>

                      <h3 class="text-left h4">第2条（規約の範囲）</h3>
                      <p>乙は本サービスを利用するにあたり、この規約をよく読んだ上で、誠実に遵守するものとします。甲のホームページ上の情報および、甲が乙に対して別途Eメール等で発信する情報は、すべて本規約の一部を構成するものとします。</p>

                      <h3 class="text-left h4">第3条（本規約の変更）</h3>
                      <ol>
                        <li>甲は、本規約の乙の一般の利益に適合する場合又は本規約の目的に反しない場合に、乙の了承を得ることなく、本規約を変更することがあります。この場合、本サービスの利用条件は、変更後の利用規約によります。</li>
                        <li>乙は、変更後の規約の適用を受けることに同意します。</li>
                        <li>本規約を変更するときは、甲が別途定める場合を除いて、本サービスを提供するホームページ（以下「ホームページ」という。）に掲載する方法に通知するものとします。</li>
                        <li>本規約の変更の効力は、甲が別途定める場合を除いて、ホームページに表示された時点より、生じるものとします。</li>
                      </ol>

                      <h3 class="text-left h4">第4条（%member_caption%登録と承諾）</h3>
                      <ol>
                        <li>本サービスの利用を希望する者は、無料電話ソフト（Google Meet）をインストールし、甲が定める所定の方法により、%member_caption%登録を行うものとします。</li>
                        <li>%member_caption%登録に際しては、自己の通信環境がサービスの利用に適していることを確認して下さい。</li>
                        <li>%member_caption%登録をした者（登録を前提に仮登録した者も含む）は、%member_caption%登録を行った時点でこの利用規約の内容を承諾したものとみなします。</li>
                        <li>ユーザ登録は一人１回のみとし、同様に無料体験期間も一人１回のみの利用といたします。同一人物による複数登録による無料体験期間の不正利用が発覚した場合、甲から乙に損害金を請求し乙は支払うものといたします。</li>
                      </ol>

                      <h3 class="text-left h4">第5条（登録の不承認）</h3>
                      <p>本サービスへの%member_caption%登録希望者が以下のいずれかの項目に該当する場合、甲は登録を承認しない場合があります。</p>
                      <ol>
                        <li>既存の登録者が他の名称で登録しようとした場合</li>
                        <li>入会申込の際の申告事項に虚偽、誤記または記入もれがあった場合</li>
                        <li>本サービスの円滑な運営を妨げる恐れがある場合</li>
                        <li>過去において甲より除名処分を受けたことがある場合</li>
                        <li>上記以外の理由で、入会に際し不適当であると甲が判断した場合</li>
                      </ol>

                      <h3 class="text-left h4">第6条（本サービスの使用開始日）</h3>
                      <p>本サービスは、甲が乙に対してEメールにより本登録完了を通知した時点で使用期間の開始日とします。</p>

                      <h3 class="text-left h4">第7条（本サービス提供の期限）</h3>
                      <p>本サービス提供の有効期限はありませんが、6ヶ月以上のレッスン（レッスン・講義）予約がなされていない場合は、事前の通知なしに、登録情報を削除することがあります。</p>

                      <h3 class="text-left h4">第8条（本サービスの解約）</h3>
                      <p>本サービス利用の解約（＝退会手続）は、特にございません。第7条に定めるとおり、長期間の使用が見られない場合はこちらで削除する場合があります。</p>

                      <h3 class="text-left h4">第9条（返金）</h3>
                      <p>すでに購入済みのポイントについては、使用、未使用を問わず、返金及びポイントの返還はないものとします。なお乙の通信環境・通信接続や通信ソフトウェアおよび接続状況等の障害により本サービスの利用が困難であった場合も同様とします。</p>

                      <h3 class="text-left h4">第10条（レッスンの詳細）</h3>
                      <ol>
                        <li>乙は本サービスで銀行振込またはクレジットカードのいずれかでポイントを購入し、レッスン予約時に乙はポイントを消費するものとします。</li>
                        <li>乙が予約したレッスンをキャンセルフォームよりレッスンのキャンセルを申し出た場合、甲が事前に定めた期限内であれば、甲は乙にポイントの返還をするものとします。</li>
                        <li>%prof_caption%側の特別な理由で%prof_caption%がレッスンに出席してこなかった場合、または甲の責任によるトラブルでレッスンが正しく行われなかった場合は、甲が定める、その状況の度合いにあったポイントを乙に対して返還するものとします。</li>
                        <li>レッスンの受講可能時間帯、レッスン時間、受講料などについての詳細は甲のホームページ上でご確認するものとします。</li>
                        <li>乙の都合でレッスンの開始時刻が遅れた場合も終了時間は定刻といたします。その場合のポイントの返還は行わないものとします。</li>
                      </ol>

                      <h3 class="text-left h4">第11条（災害時の対策）</h3>
                      <p>レッスン提供国において突然発生するシステム障害・国内情勢・自然災害等、甲の責任によらない理由で、レッスンの受講が一時的に困難でありサービスを中断せざるをえなくなった場合、甲乙協議の上、ポイントの返還や再開の目途を立てるなどで解決するものとします。</p>

                      <h3 class="text-left h4">第12条（責任の範囲）</h3>
                      <ol>
                        <li>甲の都合により乙にレッスンを提供できなかった場合は、甲は乙にレッスン分のポイントを返還するものとします。レッスンキャンセルのために乙に起こったその他の損害に対してはレッスンキャンセルが突然であった場合でも甲は一切の責任を負わないものとします。</li>
                        <li>乙は十分に通信状況と機器の設定の確認をしてレッスンを受けるものとしますが、乙の通信機器、回線状況によりレッスンが受けられなかったと甲が判断した場合、甲より乙へのポイントの返還はないものとします。</li>
                        <li>乙が%prof_caption%へ送信またはアップロードしたファイル、動画、画像等の著作権利は当ホームページで公開、非公開に関わらず甲に守る権利はないとします。</li>
                        <li>サーバ接続障害によりサイトにアクセス出来ない場合、甲はその復旧に努めるものとし、乙の機会損失に対する補償はないものとします。</li>
                      </ol>

                      <h3 class="text-left h4">第13条（個人情報の保護）</h3>
                      <p>甲が知りえた乙の個人情報は甲の個人情報保護方針に則り運用いたします。なお、乙自身から%prof_caption%個人へ伝えた個人情報に関しては適用されないものとします。</p>

                      <h3 class="text-left h4">第14条（著作権および所有権）</h3>
                      <p>本サービスに関わる商標や記載、およびロゴマークについての著作権、所有権は全て甲に帰属します。乙が複製の使用や再配布などを行うことを禁止します。</p>

                      <h3 class="text-left h4">第15条（専属的合意管轄裁判所）</h3>
                      <p>甲と乙との間で訴訟の必要が生じた場合、東京地方裁判所を甲と乙の第一審の専属的合意管轄裁判所とします。</p>

                      <p>付則　本規約は2024年4月1日より実施いたします。</p>
