  <TMPL_IF NAME="session_member_handle">
  <TMPL_ELSE>
    <!-- cta section -->

    <div class="wte_footer_btn" id="footCta">
      <a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn"><small>＼まずは気軽にお試しください！／</small><br>無料体験はこちらから</a>
    </div>
    <section class="wte_bg_image_2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <p class="mb-1"><strong>＼まずは気軽にお試しください！／</strong></p>
              <a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </TMPL_IF>