  <!--フッタstart-->
  <footer id="footer" class="bg-primary">
    <div>
      <a href="#top" id="scroll" class="wte_scroll bg-primary">
        <span class="fas fa-angle-up"></span>
      </a>
    </div>
    <div class="container">
      <div class="row pt-5">
        <div class="d-none col-lg-3 wte_footer_nav">
          <h3>初めての方へ</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/about">%product_name%について</a></li>
            <li><a href="%ssl_host_url%/wte/plan">料金プラン</a></li>
            <li><a href="%ssl_host_url%/wte/prflstfrm">%prof_caption%紹介</a></li>
            <li><a href="%ssl_host_url%/wte/coulstfrm">授業紹介</a></li>  
            <li><a href="%ssl_host_url%/wte/lesson">ご利用までの流れ</a></li>
            <li><a href="%ssl_host_url%/wte/starter">必要機材・設定方法</a></li>
          </ul>
        </div>
        <div class="d-none col-lg-3 wte_footer_nav">
          <h3>%member_caption%の方へ</h3>
          <ul>
            <li><a href="%ssl_host_url%/WTE/mypage.cgi">%member_caption%ログイン</a></li>
            <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li>
            <li><a href="%ssl_host_url%/wte/faq">よくあるご質問</a></li>
            <li><a href="%ssl_host_url%/wte/agree">ご利用規約</a></li>
          </ul>
        </div>
        <div class="d-none col-lg-3 wte_footer_nav">
          <h3>運営会社情報</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/company">運営会社概要</a></li>
            <li><a href="%ssl_host_url%/wte/transaction">特定商取引法に基づく表示</a></li>
            <li><a href="%ssl_host_url%/wte/privacy">プライバシーポリシー</a></li>
            <li><a href="%ssl_host_url%/wte/apply">%prof_caption%募集について</a></li>
          </ul>
        </div>
        <div class="col-12 d-lg-block col-lg-4 offset-lg-4 wte_footer_nav text-center">
          <div class="wte_logo flex-column">
            <a href="%ssl_host_url%/"><img src="/assets/img/common/logo_w.png?2" alt="WTE" loading="lazy"></a>
          </div>
          <ul class="wte_social ps-0">
            <li><a href="https://www.facebook.com/wte.jp/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="https://twitter.com/wte_support" target="_blank"><span class="fab fa-x-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-instagram"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-youtube"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-tiktok"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 text-center">
          <small class="text-white">&copy; 2024 %product_name%.</small>
        </div>
      </div>
    </div>
  </footer>
  <!--フッタend-->
