  <!--フッタstart-->
  <footer id="footer" class="bg-primary">
    <div>
      <a href="#top" id="scroll" class="wte_scroll bg-primary">
        <span class="fas fa-angle-up"></span>
      </a>
    </div>
    <div class="container">
      <div class="row pt-5">
        <!--<div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>講師ページ</h3>
          <ul>
            <li><a href="%CGI_URL%?m=parent">マイページ</a></li>
            <li><a href="%CGI_URL%?m=schlstfrm">スケジュール</a></li>
            <li><a href="%CGI_URL%?m=lsnlstfrm">レッスン一覧</a></li>
            <li><a href="%CGI_URL%?m=billstfrm">請求管理</a></li>  
            <li><a href="%CGI_URL%?m=coulstfrm">授業管理</a></li>
            <li><a href="%CGI_URL%?m=prfmodfrm">プロフィール</a></li>
          </ul>
          <h3>規約マニュアル</h3>
          <ul>
            <li><a href="%ssl_host_url%/assets/pdf/kiyaku.pdf">講師規約</a></li>
            <li><a href="%ssl_host_url%/assets/pdf/manual.pdf">講師マニュアル</a></li>
          </ul>
        </div>
        <div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>コースシラバス</h3>
          <ul>
            <li><a href="%CGI_URL%?m=toeic">TOEIC® L&Rテスト突破コース</a>
              <ul>
                <li><a href="%CGI_URL%?m=toeic500">500～600点突破コース</a></li>
                <li><a href="%CGI_URL%?m=toeic730">730点突破コース</a></li>
              </ul>
            </li>
            <li><a href="%ssl_host_url%/WTE/preg.cgi">講師募集ページ</a></li>
          </ul>
        </div>
        <div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>ホームページ</h3>
          <ul>
            <li><a href="%ssl_host_url%">KIRIHARA Online Academy</a></li>
            <li><a href="%ssl_host_url%/WTE/preg.cgi">講師募集ページ</a></li>
            <li><a href="https://www.writeup.jp/" target="_blank">株式会社ライトアップ</a></li>
            <li><a href="https://www.kirihara.co.jp/" target="_blank">株式会社桐原書店</a></li>
            <li><a href="https://www.worldtalk.jp/" target="_blank">オンライン英会話ワールドトーク</a></li>
            <li><a href="https://pr.wte.jp/" target="_blank">レッスン予約システムWTE</a></li>
          </ul>
        </div>-->
        <div class="col-12 d-lg-block wte_footer_nav text-center">
          <div class="wte_logo flex-column">
            <a href="%ssl_host_url%/"><img src="/assets/img/common/logo.png?2" alt="KIRIHARA Online Academy" loading="lazy"></a>
          </div>
          <ul class="wte_social ps-0">
            <li><a href="https://www.facebook.com/KIRIHARA.Online.Academy" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="https://x.com/KIRIHARA_WT" target="_blank"><span class="fab fa-x-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/@KiriharaOnlineAcademy" target="_blank"><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 text-center">
          <small class="text-white"><small class="wte_copyright">&copy; 2024 WTE2.</small></small>
        </div>
      </div>
    </div>
  </footer>

