  <!--フッタstart-->
  <footer id="footer" class="bg-primary">
    <div>
      <a href="#top" id="scroll" class="wte_scroll bg-primary">
        <span class="fas fa-angle-up"></span>
      </a>
    </div>
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 d-lg-block wte_footer_nav text-center">
          <div class="wte_logo flex-column">
            <a href="https://www.remote.wte.jp/"><img src="/assets/img/common/logo.png?2" alt="WTE" loading="lazy"></a>
          </div>
          <ul class="wte_social ps-0">
            <li><a href="https://www.facebook.com/wte.jp/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="https://twitter.com/wte_support" target="_blank"><span class="fab fa-x-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-instagram"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-youtube"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-tiktok"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 text-center">
          <small class="text-white">&copy; 2024 %product_name%.</small>
        </div>
      </div>
    </div>
  </footer>
  <!--フッタend-->