  <!--フッタstart-->
  <footer id="footer" class="bg-primary">
    <div>
      <a href="#top" id="scroll" class="wte_scroll bg-primary">
        <span class="fas fa-angle-up"></span>
      </a>
    </div>
    <div class="container">
      <div class="row pt-5">
        <div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>Beginner's guide</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/about">About Us</a></li>
            <li><a href="%ssl_host_url%/wte/plan">Price plan</a></li>
            <li><a href="%ssl_host_url%/wte/prflstfrm">Teachers</a></li>
            <li><a href="%ssl_host_url%/wte/coulstfrm">Lessons</a></li>   
            <li><a href="%ssl_host_url%/wte/lesson">How to use</a></li>
            <li><a href="%ssl_host_url%/wte/starter">Google Meet Setting</a></li>
          </ul>
        </div>
        <div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>For Members</h3>
          <ul>
            <li><a href="%ssl_host_url%/WTE/mypage.cgi">Sign In</a></li>
            <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">Inquiry</a></li>
            <li><a href="%ssl_host_url%/wte/faq">FAQ</a></li>
            <li><a href="%ssl_host_url%/wte/agree">Terms of Use</a></li>
          </ul>
        </div>
        <div class="d-none d-lg-block col-lg-3 wte_footer_nav">
          <h3>About Us</h3>
          <ul>
            <li><a href="%ssl_host_url%/wte/company">Specified Commercial Transaction Act</a></li>
            <li><a href="%ssl_host_url%/wte/transaction">Company information</a></li>
            <li><a href="%ssl_host_url%/wte/privacy">Privacy Policy</a></li>
            <li><a href="%ssl_host_url%/wte/apply">Teacher's Apply</a></li>
          </ul>
        </div>
        <div class="col-12 d-lg-block col-lg-3 wte_footer_nav text-center">
          <div class="wte_logo flex-column">
            <a href="https://www.remote.wte.jp/"><img src="/assets/img/common/logo.png?2" alt="WTE" loading="lazy"></a>
          </div>
          <ul class="wte_social">
            <li><a href="https://www.facebook.com/wte.jp/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="https://twitter.com/wte_support" target="_blank"><span class="fab fa-x-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-instagram"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-youtube"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fab fa-tiktok"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 text-center">
          <small class="text-white">&copy; 2024 %product_name%.</small>
        </div>
      </div>
    </div>
  </footer>
  <!--フッタend-->
