<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVFMJ39K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header section -->
<header id="header" class="wte_header sb-slide">
  <div class="container-fluid position-relative">
    
    <div class="row">
      <div class="col-12 text-center">
        <div class="wte_logo"><a href="/"><img src="/assets/img/common/logo_w.png" alt="ワールドトーク"></a></div>
      </div>
    </div>

  </div>
</header>