  <footer id="footer" class="bgkey">
    <div><a href="#top" id="scroll" class="scroll bgkey"><span class="fa fa-angle-up"></span></a></div>
    <div class="container hideib">
      <div class="row fnavcont">
        <div class="col-12 fnav">
          <ul>
            <li><a href="/wte/company">Company Profile</a></li>
            <li><a href="/wte/privacy">Privacy Policy</a></li>
          </ul>
          <ul class="fsocial">
            <li><a href="https://www.facebook.com/wte.jp/" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/wte_support" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UC10mgeEPY2tpNSVbsnw-dTw" target="_blank"><span class="fa fa-youtube-play"></span></a></li>
            <li><a href="https://plus.google.com/103216016746508772254?hl=ja" target="_blank"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="logo"><a href="/">%product_name%</a></h2>
            <small>Copyright &copy; 2017 English Village. All Rights Reserved.</small>
          </div>
        </div>
      </div>
    </div>
  </footer>
