<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
<link rel="icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="/assets/css/style.css" />
<style>
.required::after {
    content: "*required";
    font-size: 1.4rem;
    padding-left: 10px;
    color: rgb(226, 67, 30);
}
</style>
