<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<title>お問い合わせ - <TMPL_INCLUDE NAME="../include/title.html"></title>
  <TMPL_INCLUDE NAME="../include/head.html">
  </head>
  <body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
  
    <TMPL_INCLUDE NAME="../include/header.html">
      <div id="sb-site" class="bg-light">
  
        <!-- schedule section -->
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  
                <div class="card mb-5">
                  <div class="card-header">
                    <div class="text-center"><img src="/assets/img/icons/chat.png" alt="お問い合わせ" class="wte_img_icons"></div>
                    <h3 class="text-center">お問い合わせ</h3>
                  </div>
                  <div class="card-body">
                    <p class="text-start text-md-center">お問い合わせありがとうございました。<br>担当より順次対応させていただきます。</p>
                    <p class="text-start text-md-center">サポート時間は平日 月～金の10：00～18：00です。<br>時間外のお問い合わせにつきましては、翌営業日に対応いたします。</p>
                  </div>               
                  <div class="card-footer">
                    <div class="text-center mb-5">
                      <a href="%CGI_URL%?m=parent" class="btn btn-primary rounded-pill">&raquo; マイページに戻る</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
