<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta http-equiv="refresh" content="0;URL=%CGI_URL%?m=athlinfrm&amp;s=%session_seller_id%&amp;lang=%member_lang%" />
<title>ログアウト - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader <TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site" class="bg-light">

    <!-- content section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <div class="wte_login card">
              <div class="card-header">
                  <!--セクション見出し-->
                <h3 class="text-center">ログアウト</h3>
              </div>
              <div class="card-body login-card-body">
                <p class="text-center">ログイン画面に切り替わります</p>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
        </div>              
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="/WTE/static/js/dom.js"></script>
<script src="/WTE/static/js/inputlimit.js"></script>
</body>
</html>
