<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>Cancel lesson - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/headeren.html">
    <div id="sb-site" class="bg-light">

    <!-- content section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">

              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/online-lesson.png" alt="Cancel lesson" class="wte_img_icons"></div>
                  <h3 class="text-center">Cancel lesson</h3>
                </div>
                  
                  
                <div class="card-body">
                    <p>Your lesson has been canceled.</p>
                </div>   
                <div class="card-footer">                  
                    <p>[<a href="%CGI_URL%?m=lsnlstfrm">Lesson Record</a>]</p>
                </div>    
            </div>

          </div>
        </div>
      </div>
    </section>        

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footeren.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
