<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>予約完了 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="スカイプ,%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!--メインコンテンツstart-->
    <article id="main" class="col4">

      <!--コンテナstart-->
      <div class="container">

        <section class="review box clearfix">
        <TMPL_INCLUDE NAME="../include/messagealert.html">

          <!--セクション見出し-->
          <h1>予約完了</h1>
          <h2>レッスン詳細 - %prof_handle% 先生</h2>
          <div class="reviewleft">
            <a href="%CGI_URL%?m=prfdtlfrm&amp;prof_id=%prof_id%">
              <TMPL_IF NAME="prof_logo">
                <img src="%prof_logo_3_url%?%epoch%" width="%prof_logo_3_w%" height="%prof_logo_3_h%" alt="%prof_handle% 先生" />
              <TMPL_ELSE>
                <img src="%static_url%/imgs/profile_blank.png" width="%prof_logo_3_w%" height="%prof_logo_3_h%" alt="%prof_handle% 先生" />
              </TMPL_IF>
            </a>
            <div>%prof_rank_caption%:%prof_rank_title%</div>
            <div>point:%prof_fee_with_comma%pt</div>
            <!-- 出身国 -->
            <div>%prof_country_caption%:%prof_country_name%</div>
            <!-- 居住国 -->
            <div>%prof_residence_caption%:%prof_residence_name%</div>
          </div>
          <div class="reviewright">
            <section class="info t12">

          <!--セクション見出し-->
          <h1>スケジュール</h1>
              <div class="block t17 alignCenter">
                <p>%sch_stime_Y%年%sch_stime_n%月%sch_stime_j%日（%sch_stime_wj%）%sch_stime_G%:%sch_stime_i%～%sch_etime_G%:%sch_etime_i%</p>
                <p>予約が完了しました。</p>
                <form action="%CGI_URL%" method="get">
                  <input type="hidden" name="m" value="lsnlstfrm" />
                  <p><input type="submit" value="予約一覧へ" class="submit" /></p>
                </form>
              </div>
            </section>
          </div>
        </section>

      </div>
      <!--コンテナend-->

    </article>
    <!--メインコンテンツend-->

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
