<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>体験レッスンはこちら - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader <TMPL_INCLUDE NAME="../include/body_class.html">">

  <TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site" class="bg-light">

    <!-- content section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-header">
                <h3 class="text-center">アカウントの作成</h3>
              </div>
              <div class="card-body">
                <p class="text-start text-md-center"><strong class="text-danger">本人認証のメールを送りましたので、メール内の「本登録URL」をクリックしてください。</strong></p>
                
                <div class="alert alert-muted mb-5">
                  <div class="row">
                    <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                      <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                    </div>
                    <div class="col-10 col-md-11">
                      <p class="mb-0">Yahooメール、Gmailなどのフリーアドレスの場合、「迷惑メールフォルダ」に分類されることがあります。<br>もし、メールが届かなければ「迷惑メールフォルダ」を一度ご確認ください。</p>
                    </div>
                  </div>
                </div>
                <p class="text-start text-md-center">※以下本人認証メールのサンプルです</p>
                <p class="text-center"><img src="/assets/img/caps/caps_reg9001.png" class="img-responsive center-block img-thumbnail" alt="[%product_name%] %member_caption%仮登録通知"></p>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
