<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%static_url%/js/dom.js"></script>
<script type="text/javascript" src="%static_url%/js/form.js"></script>
<script type="text/javascript" src="%static_url%/js/inputlimit.js"></script>
<style type="text/css">
#main { width: auto; }
#s_buz_id { width: 50px; }
#s_member_id { width: 50px; }
#s_prof_id { width: 50px; }
table.list tbody td a { font-size: 100%; }
#download-box {
	padding-left: 2em;
}
#download-box img {
	vertical-align: middle;
}
</style>
</head>
<body>
<h1>クチコミ管理</h1>
<div id="main">
<h2>検索</h2>
<p>
	%member_caption%が投稿したクチコミの一覧です。公開、非公開を選択することができます。
</p>
<form method="post" action="%CGI_URL%">
	<input type="hidden" name="m" value="prelstfrm" />
	<fieldset>
		<legend>絞り込み条件</legend>
		<table class="noborder">
			<tr>
				<td>識別ID</td>
				<td>：</td>
				<td><input id="s_buz_id" type="text" name="s_buz_id" value="%s_buz_id%" class="text inputlimit_num" /></td>
			</tr>
			<tr>
				<td>%member_caption%識別ID</td>
				<td>：</td>
				<td><input id="s_member_id" type="text" name="s_member_id" value="%s_member_id%" class="text inputlimit_num" /></td>
			</tr>
			<tr>
				<td>表示件数</td>
				<td>：</td>
				<td>
					<select name="limit" id="limit">
						<option value="20" %limit_20_selected%>20件</option>
						<option value="50" %limit_50_selected%>50件</option>
						<option value="100" %limit_100_selected%>100件</option>
					</select>
					<input type="submit" id="setBtn" value="検索" name="setBtn" class="submit" />
				</td>
			</tr>
		</table>
	</fieldset>
</form>

<TMPL_IF NAME="hit">
<h2>検索条件</h2>
<table class="noborder">
	<tr>
		<td>識別ID</td>
		<td>：</td>
		<td><TMPL_IF NAME="s_buz_id">%s_buz_id%<TMPL_ELSE>指定無し</TMPL_IF></td>
	</tr>
	<tr>
		<td>%member_caption%識別ID</td>
		<td>：</td>
		<td><TMPL_IF NAME="s_member_id">[%s_member_id%] %ajax_member_lastname% %ajax_member_firstname%（%ajax_member_handle%）<TMPL_ELSE>指定無し</TMPL_IF></td>
	</tr>
</table>
</TMPL_IF>

<h2> 検索結果</h2>
<div class="page_navi">
	<div class="desc">%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</div>
	<TMPL_IF NAME="hit">
	<div class="navi">
		<span class="prev"><TMPL_IF NAME="prev_url"><a href="%prev_url%" class="prev"><img src="%static_url%/imgs/iconspedia/back-32.png" width="32" height="32" alt="前の%prev_num%件へ" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></span>
		<span class="page"><TMPL_LOOP NAME="page_loop"><TMPL_IF NAME="current"><span class="current">%page%</span><TMPL_ELSE><a href="%url%">%page%</a></TMPL_IF><TMPL_UNLESS NAME="__last__"> | </TMPL_UNLESS></TMPL_LOOP></span>
		<span class="next"><TMPL_IF NAME="next_url"><a href="%next_url%" class="next"><img src="%static_url%/imgs/iconspedia/next-32.png" width="32" height="32" alt="次の%next_num%件へ" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></span>
	</div>
	</TMPL_IF>
</div>
<TMPL_IF NAME="hit">
<table class="list">
	<thead>
		<tr>
			<td>ID</td>
			<td>投稿日時</td>
			<td colspan="2">%member_caption%</td>
			<td>クチコミ</td>
			<td colspan="2">操作</td>
		</tr>
	</thead>
	<tbody>
		<TMPL_LOOP NAME="list_loop">
		<tr class="status_%buz_status%">
			<td>%buz_id%</td>
			<td>%buz_cdate_Y%年%buz_cdate_n%月%buz_cdate_j%日（%buz_cdate_wj%）%buz_cdate_G%:%buz_cdate_i%</td>
			<td>
				<TMPL_IF NAME="member_logo">
					<img src="%member_logo_1_url%?%epoch%" width="%member_logo_1_w%" height="%member_logo_1_h%" alt="" />
				<TMPL_ELSE>
					&nbsp;
				</TMPL_IF>
			</td>
			<td>[%member_id%] %member_handle%</td>
			<td>%buz_content%</td>
			<td>
				<span <TMPL_IF NAME="buz_show">class="statusok"<TMPL_ELSE>class="statusng"</TMPL_IF> data-class-0="statusng" data-class-1="statusok" data-caption-0="非表示" data-caption-1="表示中" id="buz_%buz_id%">
					<TMPL_IF NAME="buz_show">表示中<TMPL_ELSE>非表示</TMPL_IF>
				</span>
			</td>
			<td>
				<a href="%CGI_URL%?m=buztglajx&amp;buz_id=%buz_id%" data-id="%buz_id%" data-caption-0="表示する" data-caption-1="非表示にする" class="buztgl">
					<TMPL_IF NAME="buz_show">非表示にする<TMPL_ELSE>表示する</TMPL_IF>
				</a>
			</td>
		</tr>
		</TMPL_LOOP>
	</tbody>
</table>
<div class="page_navi">
	<div class="desc">%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</div>
	<TMPL_IF NAME="hit">
	<div class="navi">
		<span class="prev"><TMPL_IF NAME="prev_url"><a href="%prev_url%" class="prev"><img src="%static_url%/imgs/iconspedia/back-32.png" width="32" height="32" alt="前の%prev_num%件へ" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></span>
		<span class="page"><TMPL_LOOP NAME="page_loop"><TMPL_IF NAME="current"><span class="current">%page%</span><TMPL_ELSE><a href="%url%">%page%</a></TMPL_IF><TMPL_UNLESS NAME="__last__"> | </TMPL_UNLESS></TMPL_LOOP></span>
		<span class="next"><TMPL_IF NAME="next_url"><a href="%next_url%" class="next"><img src="%static_url%/imgs/iconspedia/next-32.png" width="32" height="32" alt="次の%next_num%件へ" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></span>
	</div>
	</TMPL_IF>
</div>
</TMPL_IF>
</div>

</body>
</html>
