<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>クチコミ管理｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-comments text-primary"></i> クチコミ管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item active">クチコミ管理</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="buzlstfrm" />
                    <p>
                      %member_caption%が投稿したクチコミの一覧です。公開、非公開を選択することができます。
                    </p>
                    <TMPL_IF NAME="buzadd_ok">
                    <div class="alert alert-success">クチコミを登録しました。</div>
                    </TMPL_IF>
                    <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search text-primary"></i> 検索</h3>
                        <div class="card-tools pull-right">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="card-body text-sm">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_buz_id">識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_buz_id" type="number" name="s_buz_id" value="%s_buz_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_id">%member_caption%識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_member_id" type="number" name="s_member_id" value="%s_member_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_prof_id">%prof_caption%識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_prof_id" type="number" name="s_prof_id" value="%s_prof_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label>表示フラグ</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="s_buz_show" id="s_buz_show" class="form-control">
                                  <option value="0" %s_buz_show_0_selected%>非表示</option>
                                  <option value="1" %s_buz_show_1_selected%>表示</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label>表示件数</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="limit" id="limit" class="form-control">
                                  <option value="20" %limit_20_selected%>20件</option>
                                  <option value="50" %limit_50_selected%>50件</option>
                                  <option value="100" %limit_100_selected%>100件</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-sm">
                        <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">検索</button>
                      </div>
                    </div>
                  </form>

                  <div class="card card-primary card-outline">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h3 class="card-title mb-0"><i class="fas fa-list text-primary"></i> 検索結果</h3>
                      <a href="%CGI_URL%?m=buzaddfrm%buzaddfrm_prof_param%" class="btn btn-sm btn-success"><i class="fas fa-plus mr-1"></i>クチコミを登録</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <div class="page_navi">
                        <p>%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>
                        <TMPL_IF NAME="hit">
                          <div class="text-center">
                            <ul class="pagination pagination-sm justify-content-center">
                              <li class="page-item">
                                <TMPL_IF NAME="prev_url">
                                  <a href="%prev_url%" class="page-link">&laquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&laquo;</a>
                                </TMPL_IF>
                              </li>
                              <TMPL_LOOP NAME="page_loop">
                                <TMPL_IF NAME="current">
                                  <li class="page-item active">
                                    <a class="page-link">%page%</a>
                                  </li>
                                  <TMPL_ELSE>
                                    <li class="page-item">
                                      <a href="%url%" class="page-link">%page%</a>
                                    </li>
                                </TMPL_IF>
                              </TMPL_LOOP>
                              <li class="page-item">
                                <TMPL_IF NAME="next_url">
                                  <a href="%next_url%" class="page-link">&raquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&raquo;</a>
                                </TMPL_IF>
                              </li>
                            </ul>
                          </div>
                        </TMPL_IF>
                      </div>
                      <TMPL_IF NAME="hit">
                        <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <thead>
                            <tr class="wt_table_sticky">
                              <td>ID</td>
                              <td>投稿日時</td>
                              <td colspan="2">%member_caption%</td>
                              <td colspan="2">%prof_caption%</td>
                              <td>クチコミ</td>
                              <td colspan="2">操作</td>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="list_loop">
                              <tr class="status_%buz_status%">
                                <td>%buz_id%</td>
                                <td>%buz_cdate_Y%年%buz_cdate_n%月%buz_cdate_j%日（%buz_cdate_wj%）%buz_cdate_G%:%buz_cdate_i%</td>
                                <td>
                                  <TMPL_IF NAME="member_logo">
                                    <img src="%member_logo_1_url%?%epoch%" style="width:40px;height:40px;border-radius:50%;" alt="" />
                                    <TMPL_ELSE>
                                      &nbsp;
                                  </TMPL_IF>
                                </td>
                                <td>[%member_id%] %member_handle%</td>
                                <td>
                                  <TMPL_IF NAME="prof_logo">
                                    <img src="%prof_logo_1_url%?%epoch%" style="width:40px;height:40px;border-radius:50%;" alt="" />
                                    <TMPL_ELSE>
                                      &nbsp;
                                  </TMPL_IF>
                                </td>
                                <td>[%prof_id%] %prof_handle%</td>
                                <td>%buz_content%</td>
                                <td>
                                  <span <TMPL_IF NAME="buz_show">class="statusok"<TMPL_ELSE>class="statusng"
                      </TMPL_IF> data-class-0="statusng" data-class-1="statusok" data-caption-0="非表示" data-caption-1="表示中" id="buz_%buz_id%">
                      <TMPL_IF NAME="buz_show">表示中<TMPL_ELSE>非表示</TMPL_IF>
                      </span>
                      </td>
                      <td>
                        <a href="%CGI_URL%?m=buztglajx&amp;buz_id=%buz_id%" data-id="%buz_id%" data-caption-0="表示する" data-caption-1="非表示にする" class="buztgl">
                          <TMPL_IF NAME="buz_show">非表示にする<TMPL_ELSE>表示する</TMPL_IF>
                        </a>
                      </td>
                      </tr>
                      </TMPL_LOOP>
                      </tbody>
                      </table>
                      </div>      
                      <div class="page_navi">

                          <div class="text-center">
                            <ul class="pagination pagination-sm justify-content-center">
                              <li class="page-item">
                                <TMPL_IF NAME="prev_url">
                                  <a href="%prev_url%" class="page-link">&laquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&laquo;</a>
                                </TMPL_IF>
                              </li>
                              <TMPL_LOOP NAME="page_loop">
                                <TMPL_IF NAME="current">
                                  <li class="page-item active">
                                    <a class="page-link">%page%</a>
                                  </li>
                                  <TMPL_ELSE>
                                    <li class="page-item">
                                      <a href="%url%" class="page-link">%page%</a>
                                    </li>
                                </TMPL_IF>
                              </TMPL_LOOP>
                              <li class="page-item">
                                <TMPL_IF NAME="next_url">
                                  <a href="%next_url%" class="page-link">&raquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&raquo;</a>
                                </TMPL_IF>
                              </li>
                            </ul>
                          </div>
                        </TMPL_IF>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <TMPL_INCLUDE NAME="include_footer.html">
  </div>
  <TMPL_INCLUDE NAME="include_foot.html">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="%static_url%/js/dom.js"></script>
    <script type="text/javascript" src="%static_url%/js/form.js"></script>
    <script type="text/javascript" src="%static_url%/js/inputlimit.js"></script>
    <script src="%static_url%/js/jquery.min.js"></script>
    <script src="%static_url%/js/admin/buztgl.js"></script>
</body>

</html>