<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>クーポン削除｜クーポン管理｜%product_name%</title>
    <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <TMPL_INCLUDE NAME="include_header.html">
            <TMPL_INCLUDE NAME="include_menu.html">

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0"><i class="fas fa-money-bill text-primary"></i> クーポン削除</h1>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                                        <li class="breadcrumb-item"><a href="%CGI_URL%?m=cpnlstfrm">クーポン管理</a></li>
                                        <li class="breadcrumb-item active">クーポン削除</li>
                                    </ol>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.content-header -->
                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <p>クーポンの削除が完了しました。</p>
                                    <a href="%CGI_URL%?m=cpnlstfrm" class="btn btn-info">クーポン管理へ</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <TMPL_INCLUDE NAME="include_footer.html">
    </div>
    <TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>