<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DL売上管理 | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-tasks text-primary"></i> DL売上管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item active">DL売上管理</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <p>販売した動画やPDFファイルの一覧です。売上集計も表記しておりますのでご確認ください。</p>
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-search text-primary"></i> 絞り込み検索</h3>
                      <div class="card-tools pull-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                    <form method="post" action="%CGI_URL%">
                      <input type="hidden" name="m" value="dsllstfrm" />
                      <div class="card-body text-sm">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_dsl_id">DL購入識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_dsl_id" type="number" name="s_dsl_id" value="%s_dsl_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_dwn_id">DL商品識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_dwn_id" type="number" name="s_dwn_id" value="%s_dwn_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_id">%member_caption%識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_member_id" type="number" name="s_member_id" value="%s_member_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_dsl_type">商品種別</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="s_dsl_type" id="s_dsl_type" class="form-control">
                                  <option value="">指定なし</option>
                                  <option value="1" %s_dsl_type_1_selected%>動画</option>
                                  <option value="2" %s_dsl_type_2_selected%>PDF</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="%s_cdate1%">販売期間</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <div class="row">                                
                                  <div class="col-12 col-sm-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">開始</span>
                                      </div>
                                      <input type="text" name="s_dsl_cdate_s" value="%s_dsl_cdate_s%" class="form-control" id="s_dsl_cdate_s" placeholder="YYYYMMDD形式">
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">終了</span>
                                      </div>
                                      <input type="text" name="s_dsl_cdate_e" value="%s_dsl_cdate_e%" class="form-control" id="s_dsl_cdate_e" placeholder="YYYYMMDD形式">
                                    </div>
                                  </div>                                    
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_crd_receipt_id">表示件数</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="limit" id="limit" class="form-control">
                                  <option value="20" %limit_20_selected%>20件</option>
                                  <option value="50" %limit_50_selected%>50件</option>
                                  <option value="100" %limit_100_selected%>100件</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-sm">
                        <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">検索</button>
                      </div>
                    </form>
                  </div>


                  <TMPL_IF NAME="hit">
                    <div class="card card-primary card-outline collapsed-card">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-file-excel text-primary"></i> 検索条件/CSV</h3>
                        <div class="card-tools pull-right">
                          <a href="%download_url%">
                            <i class="fas fa-download"></i> CSVダウンロード
                          </a>
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="card-body text-sm">
                        <table class="table">
                          <tr>
                            <td>DL購入識別ID</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_dsl_id">%s_dsl_id%<TMPL_ELSE>指定なし</TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>DL商品識別ID</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_dwn_id">[%s_dwn_id%] %ajax_dwn_title%<TMPL_ELSE>指定なし</TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>%member_caption%識別ID</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_id">%s_member_id%<TMPL_ELSE>指定なし</TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>商品種別</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_dsl_type">
                                <TMPL_IF NAME="s_dsl_type_1">動画</TMPL_IF>
                                <TMPL_IF NAME="s_dsl_type_2">PDF</TMPL_IF>
                                <TMPL_ELSE>
                                  指定なし
                              </TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>販売期間</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_dsl_cdate_s">
                                %s_dsl_cdate_s% ～
                                <TMPL_IF NAME="s_dsl_cdate_e">
                                  %s_dsl_cdate_e%
                                </TMPL_IF>
                                <TMPL_ELSE>
                                  <TMPL_IF NAME="s_dsl_cdate_e">
                                    ～ %s_dsl_cdate_e%
                                    <TMPL_ELSE>
                                      指定なし
                                  </TMPL_IF>
                              </TMPL_IF>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </TMPL_IF>

                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-list text-primary"></i> 検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <div class="page_navi">
                        <p>%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>
                        <TMPL_IF NAME="hit">
                          <div class="text-center">
                            <ul class="pagination pagination-sm justify-content-center">
                              <li class="page-item">
                                <TMPL_IF NAME="prev_url">
                                  <a href="%prev_url%" class="page-link">&laquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&laquo;</a>
                                </TMPL_IF>
                              </li>
                              <TMPL_LOOP NAME="page_loop">
                                <TMPL_IF NAME="current">
                                  <li class="page-item active">
                                    <a class="page-link">%page%</a>
                                  </li>
                                  <TMPL_ELSE>
                                    <li class="page-item">
                                      <a href="%url%" class="page-link">%page%</a>
                                    </li>
                                </TMPL_IF>
                              </TMPL_LOOP>
                              <li class="page-item">
                                <TMPL_IF NAME="next_url">
                                  <a href="%next_url%" class="page-link">&raquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&raquo;</a>
                                </TMPL_IF>
                              </li>
                            </ul>
                          </div>
                        </TMPL_IF>
                      </div>
                      <TMPL_IF NAME="hit">
                        <div class="card-body table-responsive-sm p-0">  
                        <table class="table table-hover">
                          <thead>
                            <tr class="wt_table_sticky">
                              <th>購入ID</th>
                              <th>商品種別</th>
                              <th>ダウンロード商品名</th>
                              <th>販売日</th>
                              <th>販売額</th>
                              <th>会員ID</th>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="list_loop">
                              <tr>
                                <td>%dsl_id%</td>
                                <td>
                                  <TMPL_IF NAME="dsl_type_1">動画</TMPL_IF>
                                  <TMPL_IF NAME="dsl_type_2">PDF</TMPL_IF>
                                </td>
                                <td>[%dwn_id%] %dwn_title%</td>
                                <td>%dsl_cdate_0%/%dsl_cdate_1%/%dsl_cdate_2%</td>
                                <td>%dsl_point_with_comma%回</td>
                                <td>%member_id%</td>
                              </tr>
                            </TMPL_LOOP>
                          </tbody>
                        </table>
                        </div>
                        <div class="page_navi mt-3">
                          <TMPL_IF NAME="hit">
                            <div class="text-center">
                              <ul class="pagination pagination-sm justify-content-center">
                                <li class="page-item">
                                  <TMPL_IF NAME="prev_url">
                                    <a href="%prev_url%" class="page-link">&laquo;</a>
                                    <TMPL_ELSE>
                                      <a class="page-link">&laquo;</a>
                                  </TMPL_IF>
                                </li>
                                <TMPL_LOOP NAME="page_loop">
                                  <TMPL_IF NAME="current">
                                    <li class="page-item active">
                                      <a class="page-link">%page%</a>
                                    </li>
                                    <TMPL_ELSE>
                                      <li class="page-item">
                                        <a href="%url%" class="page-link">%page%</a>
                                      </li>
                                  </TMPL_IF>
                                </TMPL_LOOP>
                                <li class="page-item">
                                  <TMPL_IF NAME="next_url">
                                    <a href="%next_url%" class="page-link">&raquo;</a>
                                    <TMPL_ELSE>
                                      <a class="page-link">&raquo;</a>
                                  </TMPL_IF>
                                </li>
                              </ul>
                            </div>
                          </TMPL_IF>
                        </div>
                      </TMPL_IF>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <TMPL_INCLUDE NAME="include_footer.html">
  </div>
  <TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>