  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="%CGI_URL%" class="brand-link">
      <img src="/assets/img/common/logo_s.png" alt="AdminLTE Logo" class="brand-image elevation-3">
      <span class="brand-text font-weight-bold">%product_name%</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar text-sm">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-header">各種データ管理</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=mbrlstfrm" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                %member_caption%管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=prflstfrm" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                %prof_caption%管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=coulstfrm" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                %prof_caption%授業管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=pdmlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calculator"></i>
              <p>
                %prof_caption%精算
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=lsnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                レッスン管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=lsnalladdfrm" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                レッスン一括登録
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=crdlstfrm" class="nav-link">
              <i class="nav-icon fas fa-credit-card"></i>
              <p>
                カード決済管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=autlstfrm" class="nav-link">
              <i class="nav-icon fas fa-redo"></i>
              <p>
                自動課金管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=plnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-yen-sign"></i>
              <p>
                プラン管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=annlstfrm" class="nav-link">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                お知らせ管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dwnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-download"></i>
              <p>
                DL商品管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dsllstfrm" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                DL売上管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=sellstfrm" class="nav-link">
              <i class="nav-icon fas fa-university"></i>
              <p>
                代理店管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=sdmlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calculator"></i>
              <p>
                代理店精算
              </p>
            </a>
          </li>
          <li class="nav-item d-none">
            <a href="%CGI_URL%?m=cpnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-money-bill"></i>
              <p>
                クーポン管理
              </p>
            </a>
          </li>
            
        <li><hr></li>
            
          <li class="nav-header">システム管理</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=bsecnffrm" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                基本設定
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=tpllstfrm" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                メールテンプレート
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=fmllstfrm" class="nav-link">
              <i class="nav-icon fas fa-paper-plane"></i>
              <p>
                フォローメール
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dctlstfrm" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                DL商品カテゴリー管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=cctlstfrm" class="nav-link">
              <i class="nav-icon fas fa-chalkboard"></i>
              <p>
                授業カテゴリー管理
              </p>
            </a>
          </li>

        <li><hr></li>
            
          <li class="nav-header">マニュアル一覧</li>
          <li class="nav-item">
            <a href="https://sites.google.com/view/wte-manual?usp=sharing" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-book"></i>
              <p>
                WTE操作マニュアル
              </p>
            </a>
          </li>
          
        <li><hr></li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
