<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レッスン払い戻し｜レッスン管理｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-calendar text-primary"></i> レッスン払い戻し</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item"><a href="%CGI_URL%?m=lsnlstfrm">レッスン管理</a></li>
                    <li class="breadcrumb-item active">レッスン払い戻し</li>
                  </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <p>売上確定レッスンの払い戻し処理の編集が完了しました。</p>
                  <div class="mb-2"><a href="%CGI_URL%?m=lsnlstfrm" class="btn btn-info">レッスン管理へ</a></div>
                  <div><a href="%CGI_URL%?m=lsnmodfrm&amp;lsn_id=%lsn_id%" class="btn btn-info">編集画面を再度開く</a></div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>

      <TMPL_INCLUDE NAME="include_footer.html">
    </div>
    <TMPL_INCLUDE NAME="include_foot.html">
  </body>

</html>

