<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>マイページ静的ページ作成</h1>
<div id="main">
<p>マイページ内に限定して表示する静的ページを用意することができます。</p>
<table class="list" summary="">
	<thead>
        <tr class="wt_table_sticky">
			<td>ID</td>
			<td>ページタイトル</td>
			<td>編集</td>
		</tr>
	</thead>
	<tbody>
		<TMPL_LOOP NAME="list_loop">
		<tr>
			<td>%mypg_id%</td>
			<td><TMPL_IF NAME="mypg_title">%mypg_title%<TMPL_ELSE>&nbsp;</TMPL_IF></td>
			<td><a href="%CGI_URL%?m=mpgmodfrm&amp;mypg_id=%mypg_id%"><img src="%static_url%/imgs/ico_edt_20.png" width="20" height="20" alt="編集" /></a></td>
		</tr>
		</TMPL_LOOP>
	</tbody>
</table>
</div>
</body>
</html>
