<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>システム管理</h1>
<div id="main">

<h2><a href="%CGI_URL%?m=bsecnffrm">基本設定</a></h2>
<div>
	<p>WTEシステムのベースとなる設定を行います。</p>
</div>
<h2><a href="%CGI_URL%?m=tpllstfrm">メール・テンプレート編集</a></h2>
<div>
	<p>システムから送信される各種通知メールのテンプレートを編集します。</p>
</div>
<h2><a href="%CGI_URL%?m=fmllstfrm">フォロー・メール</a></h2>
<div>
	<p>会員に配信するフォロー・メールの定義を行います。</p>
</div>
<!--<h2><a href="%CGI_URL%?m=mpglstfrm">マイページ</a></h2>
<div>
	<p>%member_caption%管理メニュー内に表示する静的ページを定義します。</p>
</div>-->
<h2><a href="%CGI_URL%?m=dctlstfrm">ダウンロード商品カテゴリー管理</a></h2>
<div>
	<p>ダウンロード商品カテゴリーの追加・編集・削除を行います。</p>
</div>
<h2><a href="%CGI_URL%?m=cctlstfrm">授業カテゴリー管理</a></h2>
<div>
	<p>授業カテゴリーの追加・編集・削除を行います。</p>
</div>

</div>
</body>
</html>
