<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>授業登録 - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

              <div class="card mb-5">

                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/blackboard.png" alt="授業登録" class="wte_img_icons"></div>
                  <h3 class="text-center">授業登録</h3>
                </div>

                <div class="card-body">
                <p>授業の新規登録が完了しました。</p>
              </div>

              <div class="card-footer">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="text-center"><a href="%CGI_URL%?m=coulstfrm" class="btn btn-primary rounded-pill">&raquo; 授業登録へ</a></div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="text-center"><a href="%CGI_URL%?m=parent" class="btn btn-primary rounded-pill">&raquo; ホームに戻る</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
</body>
</html>
