<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>授業の始め方 - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <!-- content section -->
      <section class="page bggrey">
        <div class="container tline">
          <div class="row">
            <div class="col-12">
              <h1>授業の始め方</h1>
            </div>              
            <div class="col-12">

              <h2 class="tlinefst">Step.1</h2>
               <div class="tbox clearfix">
                <div class="row">
                   <div class="col-12 col-md-6 col-lg-5">
                    <img src="/assets/img/caps/howtouse1.png" class="img-thumbnail w100" alt="新規%member_caption%登録">
                  </div>                
                  <div class="col-12 col-md-6 col-lg-7">
                    <h3>授業登録をしよう</h3>
                    <p>%prof_caption%管理画面の授業管理を選択します。 <br>
                    【+授業を新規追加する】をクリックして授業の登録を行います</p>
                  </div>

                </div>
              </div>

              <h2 class="tline">Step.2</h2>
               <div class="tbox clearfix">
                <div class="row">
                   <div class="col-12 col-md-6 col-lg-5">
                    <img src="/assets/img/caps/howtouse2.png" class="img-thumbnail w100" alt="新規%member_caption%登録">
                  </div>                
                  <div class="col-12 col-md-6 col-lg-7">
                    <h3>授業の詳細を設定する</h3>
                    <p>必須項目を設定して授業内容の登録を行います。</p>
                  </div>

                </div>
              </div>
                
              <h2 class="tline">Step.3</h2>
               <div class="tbox clearfix">
                <div class="row">
                   <div class="col-12 col-md-6 col-lg-5">
                    <img src="/assets/img/caps/howtouse3.png" class="img-thumbnail w100" alt="新規%member_caption%登録">
                  </div>                
                  <div class="col-12 col-md-6 col-lg-7">
                    <h3>スケジュールを登録しよう</h3>
                    <p>%prof_caption%管理画面の【スケジュール登録】をクリックします。 <br>
                    自分がレッスンを提供できる日付、時間のチェックボックスをクリックし、【登録するボタン】を押すとスケジュールが登録されます。</p>
                  </div>

                </div>
              </div>                

            </div>
          </div>
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot_prof.html">

      <script src="%static_url%/js/prof/buztgl.js"></script>
</body>

</html>
