<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title><TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%にご興味をお持ちいただいた皆さまへ、%product_name%にしかできない特徴をご紹介させていただきます。皆さまにあった%prof_caption%をお選びいただき、好きな時間、好きな場所でレッスンを受けられますので、毎日が忙しい方でも、長続きがしない方でも続けられます！ぜひ、気になる方は体験レッスンをお試しください。" />
<meta name="keywords" content="%product_name%">
<link rel="canonical" href="%ssl_host_url%/">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/header.html">
  <main id="sb-site">

    <!-- mainvis section -->
    <section class="wte_main">
      <!--<ul class="wte_slider owl-carousel-mv">-->
      <ul class="wte_slider">
        <li class="wte_slider_img wte_slider_toeic2025">

          <div class="wte_catch">
          </div>
        </li>
        <!--<li class="wte_slider_img wte_slider_2"></li>
        <li class="wte_slider_img wte_slider_3"></li>-->
      </ul>
    </section>
    
    <!-- theme section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5">こんな方に<strong class="text-primary">おすすめ</strong>です</h2>
            <p class="text-start text-md-center mb-5">%product_name%はこんなお悩みを持つ方にお勧めのプラットフォームです。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-center">
            <h3 class="h4">忙しくて教室<br class="d-block d-md-none">に通えない</h3>
            <div><img src="/assets/img/index/start_1.png" class="w-75 w-lg-50 mb-4" alt="忙しくて教室に通えない" loading="lazy"></div>
          </div>
          <div class="col-4 text-center">
            <h3 class="h4">学習の機会を<br class="d-block d-md-none">増やしたい</h3>
            <div><img src="/assets/img/index/start_2.png" class="w-75 w-lg-50 mb-4" alt="忙しくて教室に通えない" loading="lazy"></div>
          </div>
          <div class="col-4 text-center">
            <h3 class="h4">近くに通える<br class="d-block d-md-none">教室がない</h3>
            <div><img src="/assets/img/index/start_3.png" class="w-75 w-lg-50 mb-4" alt="忙しくて教室に通えない" loading="lazy"></div>
          </div>
        </div>
      </div>
    </section>
          
    <!-- solution section -->
    <section class="wte_bg_image wte_bg_image_1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center text-white heading_no_logo">オンラインでいつでもどこでも<br class="d-block d-md-none">気軽に学べます！</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">オンラインレッスンを<br class="d-block d-md-none"><strong class="text-primary">はじめてみませんか</strong></h2>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <p class="text-start">習いごとをはじめたいけれど、なかなか教室に通えないあなたに。<br>%product_name%はインターネット上でレッスンができる学習プラットフォームです。<br>PCがあれば、自分の好きな場所、好きな時間に希望のレッスンを受けられます。</p>
            <p class="text-start">理想の自分になるために、日常の中にオンラインレッスンを習慣にしてみませんか？<br>%product_name%では人気の%prof_caption%が様々なレッスンを提供しています。<br>きっとあなたの気になるレッスンがあるはず！</p>
            <p class="text-start">今なら無料体験レッスンを実施していますので、是非一度お試しください。</p>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <img src="/assets/img/index/about_1.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="オンラインレッスンをはじめてみませんか" loading="lazy">
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row">
            <div class="text-center">
              <p class="mb-1"><strong>＼まずは気軽にお試しください！／</strong></p>
              <a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a>
            </div>
          </div>
        </TMPL_IF>
      </div>
    </section>


    <!-- strengs section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">%product_name%ではこんなことが<strong class="text-primary">出来る</strong></h2>
            <p class="text-start text-md-center mb-5">%product_name%はオンラインでマンツーマンレッスンができるプラットフォーム。<br>ご利用いただくと、こんなことが実現できます。</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row h-100">
          <div class="col-12 col-md-7 offset-lg-1 col-lg-5 offset-xxl-2 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.1</span>自宅にいながら<strong class="text-primary">気軽に</strong>レッスン</h3>
            <p>仕事の帰りになかなか教室に通えない…。<br>そんな方でも、オンラインレッスンなら自宅でゆっくり学べます。<br>朝イチで通勤前の時間でも、就寝前のリラックスタイムでも、好きな時間でできるから続けられます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 align-items-center p-0">
            <img src="/assets/img/index/feature_1.jpg" class="w-100 h-100 object-fit-cover" alt="自宅にいながら気軽にレッスン" loading="lazy">
          </div>
        </div>
        <div class="row h-100">
          <div class="col-12 col-md-7 col-lg-5 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5 order-md-2">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.2</span>気の合う%prof_caption%と<strong class="text-primary">マンツーマン</strong>で</h3>
            <p>相性のいい%prof_caption%だといいんだけど…。<br>授業は誰に習うかは学習のモチベーションにもつながります。<br>相性の良い%prof_caption%を見つけて、マンツーマンで教えてもらえるから、毎回のレッスンがワクワクしながら受けられます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 offset-xxl-1 align-items-center p-0 order-md-1">
            <img src="/assets/img/index/feature_2.jpg" class="w-100 h-100 object-fit-cover" alt="気の合う%prof_caption%とマンツーマンで" loading="lazy">
          </div>
        </div>
        <div class="row h-100 mb-5">
          <div class="col-12 col-md-7 offset-lg-1 col-lg-5 offset-xxl-2 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.3</span><strong class="text-primary">お財布に優しい</strong>月々3,000円～</h3>
            <p>仕事の帰りになかなか教室に通えない…。<br>そんな方でも、オンラインレッスンなら自宅でゆっくり学べます。<br>朝イチで通勤前の時間でも、就寝前のリラックスタイムでも、好きな時間でできるから続けられます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 align-items-center p-0">
            <img src="/assets/img/index/feature_3.jpg" class="w-100 h-100 object-fit-cover" alt="お財布に優しい月々3,000円～" loading="lazy">
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row">
              <div class="text-center">
                <p class="mb-1"><strong>＼まずは気軽にお試しください！／</strong></p>
                <a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a>
              </div>
          </div>
        </TMPL_IF>
      </div>
    </section>

    <!-- voice section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">お客様からの<strong class="text-primary">声</strong></h2>
            <p class="text-start text-md-center mb-5">%product_name%はこれまで多くのお客様からお声をいただきました。<br>その一部を紹介させていただきます。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_1.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">%prof_caption%と話すことがモチベーションになっています</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（女性 会社員）</p>
                <p class="mb-0">何をやっても長続きしない性格なのですが、今回は続けられています。<br>それも、%product_name%で出会った%prof_caption%のおかげです。<br>挫折を繰り返しながらも、努力してスキルをつけた%prof_caption%の話を聞いて、同じようになりたいとモチベーションになります。<br>レッスンを続けたことで少しずつですが、私の会話力も成長していると感じます。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2 order-2">
            <img src="/assets/img/voice/voice_2.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 pe-0 pe-md-4 order-1">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">効率的に時間を使えるので計画を立てやすいです</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 会社員）</p>
                <p class="mb-0">毎日、仕事で忙しくてなかなか学校に通う時間がない中、オンラインで学習ができるというのはとても助かります。<br>マンツーマンレッスンだから、無駄な時間もなく充実したレッスンができています。<br>%prof_caption%も海外でビジネス経験がある方のため、将来のためにどういうスキルを身につけるべきか、話しているだけでも勉強になってます。</p>
              </div>
              <button class="wte_morebtn">続きを読む</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_3.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">バイトの給与を使って自分に投資をしています</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 大学生）</p>
                <p class="mb-0">%product_name%はお手頃な価格で続けられるので、大学生である私でも利用することができます。<br>学業の合間にバイトをして、そのお金を使って毎月学習を進めています。<br>%prof_caption%とのレッスンは学びが多く、自分の成長に繋がっていると実感しています。<br>自分に投資して、将来のために活かしていきたいと思います。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/wte/voice" class="btn btn-warning rounded-pill">他の声も確認する</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- flow section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">体験レッスン</strong>までの流れ</h2>
            <p class="text-start text-md-center mb-5">気になる方は、気軽にレッスンを体験ください。<br>レッスン予約はマイページから簡単にできます。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.1</div>
            <div><img src="/assets/img/common/flow_1.png" class="w-75 w-lg-50 mb-4" alt="アカウント作成" loading="lazy"></div>
            <h3 class="h4 mb-4">アカウント<br class="d-block d-lg-none">作成</h3>
            <p class="text-start d-none d-lg-block px-5">%product_name%のアカウントを作成します。<br>一緒にレッスンを充実させるためのプロフィール登録もします。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.2</div>
            <div><img src="/assets/img/common/flow_2.png" class="w-75 w-lg-50 mb-4" alt="レッスンを予約" loading="lazy"></div>
            <h3 class="h4 mb-4">レッスン<br class="d-block d-lg-none">を予約</h3>
            <p class="text-start d-none d-lg-block px-5">プロフィール登録が終わったら、気になる%prof_caption%のスケジュールを見てレッスンの予約をしましょう。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.3</div>
            <div><img src="/assets/img/common/flow_3.png" class="w-75 w-lg-50 mb-4" alt="体験スタート" loading="lazy"></div>
            <h3 class="h4 mb-4">体験<br class="d-block d-lg-none">スタート</h3>
            <p class="text-start d-none d-lg-block px-5">時間になったら通話システムを立ち上げてレッスンスタート！<br>%prof_caption%とのレッスンをお楽しみください。</p>
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row">
              <div class="text-center">
                <p class="mb-1"><strong>＼まずは気軽にお試しください！／</strong></p>
                <a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a>
              </div>
          </div>
        </TMPL_IF>
      </div>
    </section>

    
    <!-- professor section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">おすすめ<strong class="text-primary">%prof_caption%</strong>一覧</h2>
            <p class="text-start text-md-center mb-5">%product_name%の人気の%prof_caption%をご紹介いたします。<br>是非、%prof_caption%のプロフィールページもご確認ください。</p>
          </div>
        </div>
      </div>

      <div class="container-fruid">
        <div class="row mb-5">
          <div class="col-12 owl-carousel-ca">
            <TMPL_LOOP NAME="pref_score_loop" PROF_INTRO_CHARS="40" LIMIT="14">
            <div class="wte_carousel">
              <a href="%ssl_host_url%/wte/prfdtlfrm/%prof_id%" class="wte_carousel_ancher"></a>
              <TMPL_IF NAME="prof_logo">
                <img src="%prof_logo_2_url%" alt="%prof_handle% 先生" class="w-75 h-auto m-auto rounded-pill mb-3" loading="lazy">
              <TMPL_ELSE>
                <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle% 先生" class="w-75 h-auto m-auto rounded-pill mb-3" loading="lazy">
              </TMPL_IF>
              <h3 class="h4 text-center">%prof_handle% 先生</h3>
              <p class="text-black-50 lh-sm mb-4"><small>%prof_intro%</small></p>
              <div class="text-center">
                <a href="%ssl_host_url%/wte/prfdtlfrm/%prof_id%" class="btn btn-primary rounded-pill btn-sm">&raquo; 詳細を見る</a>
              </div>
            </div>
            </TMPL_LOOP>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/wte/prflstfrm" class="btn btn-warning rounded-pill">全ての%prof_caption%を見る</a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- course section -->
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">おすすめ<strong class="text-primary">授業</strong>一覧</h2>
            <p class="text-start text-md-center mb-5">%product_name%の人気の%prof_caption%をご紹介いたします。<br>是非、%prof_caption%のプロフィールページもご確認ください。</p>
          </div>
        </div>
      </div>

      <div class="container-fruid">
        <div class="row mb-5">
          <div class="col-12 owl-carousel-ca">
            <TMPL_LOOP NAME="pref_cscore_loop" PROF_INTRO_CHARS="40" LIMIT="20">
            <div class="wte_carousel">
              <a href="%ssl_host_url%/WTE/site.cgi?m=coudtlfrm&course_id=%course_id%" class="wte_carousel_ancher"></a>
              <TMPL_IF NAME="course_logo">
                <img src="%course_logo_2_url%" alt="%course_name%" class="w-75 h-auto m-auto rounded-pill mb-3" loading="lazy">
              <TMPL_ELSE>
                <img src="%static_url%/imgs/profile_blank.png" alt="%course_name%" class="w-75 h-auto m-auto rounded-pill mb-3" loading="lazy">
              </TMPL_IF>
              <h3 class="h4 text-center">%course_name%</h3>
              <p class="text-black-50 lh-sm mb-4"><small>%course_intro%</small></p>
              <div class="text-center">
                <a href="%ssl_host_url%/WTE/site.cgi?m=coudtlfrm&course_id=%course_id%" class="btn btn-primary rounded-pill btn-sm">&raquo; 詳細を見る</a>
              </div>
            </div>
            </TMPL_LOOP>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/wte/coulstfrm" class="btn btn-warning rounded-pill">全ての%prof_caption%を見る</a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- FAQ section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">よくある</strong>ご質問</h2>
            <p class="text-start text-md-center mb-5">体験レッスンをご検討の方からよくいただくご質問をまとめました。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">%product_name%とはどんなサービスですか？</h3>
              </div>
              <div class="wte_answer">
                  <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">%product_name%は世界中の%prof_caption%とレッスンできるオンラインレッスンサービスです。<br>インターネットとPC・スマートフォンさえあれば、誰でもすぐに始められます。<br>経験豊富な%prof_caption%が多数所属しておりますので、まずはあなたの目的に合わせて相性の良い%prof_caption%を探してみましょう。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">体験レッスンの受け方を教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">以下の流れで体験レッスンのご予約をお願いいたします。</p>
                <ol class="py-4 pt-0 pe-4 mb-0">
                    <li><a href="%ssl_host_url%/WTE/reg.cgi">こちらのページ</a>からアカウントを作成ください</li>
                    <li>本人認証のメールが届くのでクリックし、プロフィールを登録します</li>
                    <li><a href="%ssl_host_url%/WTE/mypage.cgi">マイページ</a>から予約をします
                        <ol type="a" class="ps-0">
                            <li>日程から予約 - カレンダーからレッスン希望日に予約ができます</li>
                            <li>%prof_caption%から予約 - 気になる%prof_caption%のスケジュールを予約できます</li>
                        </ol>
                    </li>
                    <li>予約ボタンをクリックし予約を確定ください</li>
                    <li>時間になったら通話システムを立ち上げてレッスンスタート！</li>
                </ol> 
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">体験に必要なものは何ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">パソコン（またはタブレット）、インターネット、通話システムの3つです。<br>また、パソコンにカメラやマイクがない方は、ウェブカメラやマイク付きイヤフォンの購入をお願いいたします。<br>詳しくは<a href="%ssl_host_url%/wte/lesson">ご利用方法のページ</a>をご確認ください。</p>
              </div>
            </div>                
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">どんな%prof_caption%が在籍していますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">全世界から、様々なバックグラウンドを持った%prof_caption%が参加しています。<br>詳しく%prof_caption%について知りたいかたは、<a href="%ssl_host_url%/wte/prflstfrm">%prof_caption%一覧ページ</a>よりプロフィール情報をご確認ください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">料金はどのくらいかかりますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">詳しい料金設定に関しましては、<a href="%ssl_host_url%/wte/plan">料金プランページ</a>をご確認ください。<br>ご利用される方のレッスン頻度に合わせて、複数のプランを用意しております。<br>ご自由にお選びください。</p>
              </div>
            </div>              
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/wte/faq" class="btn btn-warning rounded-pill">その他の質問を見る</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- plan section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">料金</strong>について</h2>
            <p class="text-start text-md-center mb-5">複数のプランを用意しています。<br>気軽に始めたい方も、しっかりやりたい方も選んで使えます。</p>
          </div>
        </div>
        <div class="row wte_plan mb-5">
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">お気軽プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">3,300</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">3,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～11</strong>回</li>
                  <li class="list-group-item">1コマ<strong class="text-primary">25</strong>分</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">安心プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">5,500</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">5,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～11</strong>回</li>
                  <li class="list-group-item">1コマ<strong class="text-primary">25</strong>分</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-secondary pt-4" style="margin-top:-.5rem">
                <h3 class="text-white h5 text-center">お得プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-secondary">6,600</strong>円</li>
                  <li class="list-group-item"><strong class="text-secondary">6,500</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-secondary">1～11</strong>回</li>
                  <li class="list-group-item">1コマ<strong class="text-secondary">25</strong>分</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">しっかりプラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">11,000</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">11,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～11</strong>回</li>
                  <li class="list-group-item">1コマ<strong class="text-primary">25</strong>分</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">強化プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">22,000</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">22,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～11</strong>回</li>
                  <li class="list-group-item">1コマ<strong class="text-primary">25</strong>分</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/wte/plan" class="btn btn-warning rounded-pill">プランの詳細はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </section>
        

    <!-- blog section -->
<!--   <section class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">%product_name%<strong class="text-primary">ブログ</strong></h2>
            <p class="text-start text-md-center mb-5">オンラインレッスンに関する情報配信しています。興味のある方はご覧ください。</p>
          </div>
        </div>
        <div class="row">
          <div id="feed">
            <div class="owl-carousel-col mb-5">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/blog" class="btn btn-warning rounded-pill" target="_blank">ブログを見る</a>
            </div>
          </div>
        </div>
      </div>
    </section>--> 

    <!-- Info section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">運営からの<strong class="text-primary">お知らせ</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="ibox">
              <TMPL_LOOP NAME="ann_loop">
              <h4>%ann_title%</h4>
              <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2% 投稿</div>
              <p>%ann_content%</p>
              </TMPL_LOOP>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  <!--footer.html読み込み-->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
</main>
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="/assets/js/index.js"></script>
</body>
</html>
