<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>はじめての方へ｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%にご興味をお持ちいただいた皆さまへ、%product_name%にしかできない特徴をご紹介させていただきます。皆さまにあった%prof_caption%をお選びいただき、好きな時間、好きな場所でレッスンを受けられますので、毎日が忙しい方でも、長続きがしない方でも続けられます！ぜひ、気になる方は体験レッスンをお試しください。">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/about">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>はじめての方へ</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">自分で選べるレッスン<br class="d-block d-md-none">だから<strong class="text-primary">続けられる</strong></h2>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p>%product_name%はオンライン上で%prof_caption%とマンツーマンレッスンができるプラットフォームです。<br>自分に合った%prof_caption%を探して、自由にレッスン予約ができるのが特徴です。</p>
            <p>好きな時間に、好きな場所で、好きな%prof_caption%とレッスンできるから、忙しい方でも、長続きしなくてお悩みの方でも、継続して学習をすることができます。</p>
            <p>料金プランも複数用意していますので、皆さまのご都合に合わせてご利用可能です。</p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <img src="/assets/img/about/about_1.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="自分で選べるレッスンだから続けられる" loading="lazy">
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-md-5 mb-5">
            <div class="bg-light rounded-3 p-5">
              <h3 class="text-center h4">%product_name%はこんな方におすすめです</h3>
              <ul class="text-center wte_check p-0">
                <li>毎日が忙しく、学習の時間がとれない</li>
                <li>雨の日や仕事終わりの通学がタイヘン</li>
                <li>%prof_caption%と相性が悪くやる気が上がらない</li>
                <li>自宅のリラックスした環境で学習したい</li>
                <li>家計負担をおさえてレッスンを続けたい</li>
                <li>マンツーマンで自分だけに教えて欲しい</li>
                <li>今すぐ%prof_caption%とのレッスンを体験したい</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-5">
            <p>少しでもご興味をお持ちいただきましたら、ぜひ体験レッスンをご利用ください。<br>アカウントを作成すると、体験が受けられるポイントをお渡しします。</p>
            <p>ぜひ、あなただけのレッスンをお楽しみください！</p>
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row">
            <div class="text-center"><a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a></div>
          </div>
        </TMPL_IF>
      </div>
    </section>


    <!-- strengs section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">%product_name%の<strong class="text-primary">5つ</strong>の特徴</h2>
            <p class="text-start text-md-center mb-5">%product_name%では皆さまに満足いただける沢山の特徴を持っています。<br>興味をお持ちいただけましたら、ぜひ体験レッスンをお試しください。</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row h-100">
          <div class="col-12 col-md-7 offset-lg-1 col-lg-5 offset-xxl-2 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.1</span><strong class="text-primary">優秀な%prof_caption%</strong>を揃えています</h3>
            <p>皆さまに満足いただけるレッスンを提供するために、%product_name%では%prof_caption%採用に力を入れています。<br>採用率はわずか5%、厳しい審査と面接を突破した%prof_caption%が揃っています。<br>登録されている%prof_caption%は<a href="%ssl_host_url%/wte/prflstfrm">こちら</a>から確認することが出来ます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 align-items-center p-0">
            <img src="/assets/img/about/feature_1.jpg" class="w-100 h-100 object-fit-cover" alt="優秀な%prof_caption%を揃えています" loading="lazy">
          </div>
        </div>
        <div class="row h-100">
          <div class="col-12 col-md-7 col-lg-5 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5 order-md-2">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.2</span><strong class="text-primary">初心者でも安心</strong>のレッスン</h3>
            <p>上手く喋れなかったらどうしよう？とお考えの方に。<br>%product_name%では初心者でも安心できるように、%prof_caption%の育成や教材の準備をしています。<br>はじめて学習する方でも、レベルに合わせてレッスンを組み立てられます。<br>ぜひ気軽にレッスンを体験ください。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 offset-xxl-1 align-items-center p-0 order-md-1">
            <img src="/assets/img/about/feature_2.jpg" class="w-100 h-100 object-fit-cover" alt="初心者でも安心のレッスン" loading="lazy">
          </div>
        </div>
        <div class="row h-100 mb-5">
          <div class="col-12 col-md-7 offset-lg-1 col-lg-5 offset-xxl-2 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.3</span><strong class="text-primary">続けやすい</strong>価格設定</h3>
            <p>上達のために欠かせないのが、レッスンを継続してくこと。<br>ただし、生活の中で習いごとにかけられる金額は限られます。<br>%product_name%では続けやすい価格帯でプランを設定していますので、気軽にご利用いただけます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 align-items-center p-0">
            <img src="/assets/img/about/feature_3.jpg" class="w-100 h-100 object-fit-cover" alt="続けやすい価格設定" loading="lazy">
          </div>
        </div>
        <div class="row h-100">
          <div class="col-12 col-md-7 col-lg-5 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5 order-md-2">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.4</span>%member_caption%からの<strong class="text-primary">満足の声</strong>も</h3>
            <p>%product_name%では多くの方のご意見を元に、レッスンの品質を改善しています。<br>これまで、多くの%member_caption%の皆さまから満足の声をいただきました。<br>皆さまからの声はこちらから確認することが出来ます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 offset-xxl-1 align-items-center p-0 order-md-1">
            <img src="/assets/img/about/feature_4.jpg" class="w-100 h-100 object-fit-cover" alt="%member_caption%からの満足の声も" loading="lazy">
          </div>
        </div>
        <div class="row h-100 mb-5">
          <div class="col-12 col-md-7 offset-lg-1 col-lg-5 offset-xxl-2 col-xxl-4 d-flex align-items-center justify-content-center flex-column p-5">
            <h3 class="mb-4 text-center text-md-start w-100"><span class="badge badge-circle rounded-pill badge-primary d-block d-lg-inline-block m-auto me-lg-3 mb-4 mb-lg-0">Point.5</span>オリジナルの<strong class="text-primary">レッスン教材</strong></h3>
            <p>何からレッスンをはじめていいか分からない方へ、%product_name%ではレベルに合わせた教材を準備しています。<br>ぜひ、最初のレッスンで皆さまのレベルを教えてください。<br>%prof_caption%があなたに合わせた教材を選び、レッスンを組み立てます。</p>
          </div>
          <div class="col-12 col-md-5 col-lg-6 col-xxl-5 align-items-center p-0">
            <img src="/assets/img/about/feature_5.jpg" class="w-100 h-100 object-fit-cover" alt="自宅にいながら気軽にレッスン" loading="lazy">
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row">
            <div class="text-center"><a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">無料体験はこちらから</a></div>
          </div>
        </TMPL_IF>
      </div>
    </section>


    <!-- strengs section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">%product_name%の<strong class="text-primary">提供レッスン</strong></h2>
            <p class="text-start text-md-center mb-5">%product_name%ではお客様のご要望に合わせた様々なレッスンを行っています</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 px-3 mb-4">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_1.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンライン英会話</h3>
                <p class="mb-0">英語が苦手な方でも安心してはじめられる英会話レッスン。<br>日本語の話せる優しい%prof_caption%があなたの学習をサポートします。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=1" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_2.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン日本語" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンライン日本語</h3>
                <p class="mb-0">日本語を上達させたい外国人留学生のための日本語レッスン。<br>仕事に役立つ話し方や、発音や敬語など細かく指導いたします。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=2" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_3.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン家庭教師" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンライン家庭教師</h3>
                <p class="mb-0">受験勉強をお考えのお子さまに、指導の得意な%prof_caption%を揃えました。<br>受験当日にむけて、目標達成のため一緒に伴走いたします。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=3" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_4.jpg" class="w-100 h-100 object-fit-cover" alt="オンラインボイトレ" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンラインボイトレ</h3>
                <p class="mb-0">歌を上手に歌いたいあなたに、オンラインの歌唱指導を準備。<br>ボイストレーナーがひとりひとりに合わせた指導をいたします。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=4" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_5.jpg" class="w-100 h-100 object-fit-cover" alt="オンラインピアノ" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンラインピアノ</h3>
                <p class="mb-0">お子様の習い事に送迎不要のオンラインピアノレッスンです。<br>自宅でできるから、レッスンの様子もわかり安心です。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=5" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/common/category_6.jpg" class="w-100 h-100 object-fit-cover" alt="オンラインヨガ" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">オンラインヨガ</h3>
                <p class="mb-0">美しく健康でありたい方に自宅での健康習慣を作りましょう。<br>インストラクターが楽しく皆さまのトレーニングをサポート。</p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=6" class="btn btn-md btn-warning rounded-pill">&raquo; %prof_caption%を見る</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- flow section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">体験レッスン</strong>までの流れ</h2>
            <p class="text-start text-md-center mb-5">気になる方は、気軽にレッスンを体験ください。<br>レッスン予約はマイページから簡単にできます。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.1</div>
            <div><img src="/assets/img/common/flow_1.png" class="w-75 w-lg-50 mb-4" alt="アカウント作成" loading="lazy"></div>
            <h3 class="h4 mb-4">アカウント<br class="d-block d-lg-none">作成</h3>
            <p class="text-start d-none d-lg-block px-5">%product_name%のアカウントを作成します。<br>一緒にレッスンを充実させるためのプロフィール登録もします。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.2</div>
            <div><img src="/assets/img/common/flow_2.png" class="w-75 w-lg-50 mb-4" alt="レッスンを予約" loading="lazy"></div>
            <h3 class="h4 mb-4">レッスン<br class="d-block d-lg-none">を予約</h3>
            <p class="text-start d-none d-lg-block px-5">プロフィール登録が終わったら、気になる%prof_caption%のスケジュールを見てレッスンの予約をしましょう。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.3</div>
            <div><img src="/assets/img/common/flow_3.png" class="w-75 w-lg-50 mb-4" alt="体験スタート" loading="lazy"></div>
            <h3 class="h4 mb-4">体験<br class="d-block d-lg-none">スタート</h3>
            <p class="text-start d-none d-lg-block px-5">時間になったら通話システムを立ち上げてレッスンスタート！<br>%prof_caption%とのレッスンをお楽しみください。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
