<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>夏休みに特訓！英検準1級コース<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/akaneeikenp1202508public">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_student2">
      <div class="wte_catch">
        <h1>夏休みに特訓！英検準1級コース</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">  
            <h2 class="text-center mb-5">夏休みに特訓！英検準1級コース について</h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">英検準1級合格を目指す人のための講座です。<br>10名程度のグループレッスンですることと、毎週課題を出すことによって、生徒同士のモチベーション維持と、勉強をしないといけない状況を作り出します。</p>  
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年8月6日(水）～2025年10月22日（水）21:00～21:50<br>週1回1時間×12回 3ヶ月間</p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-2">※Amazon URLとリンクしています</p>
            <ul class="mb-2">
                <li><a href="https://amzn.asia/d/1BKb9So" target="_blank">出る順パス単 英検準1級</a></li>
                <li><a href="https://amzn.asia/d/77cfHuJ" target="_blank">7日間完成 英検準1級 予想問題ドリル</a></li>
            </ul>
              
            <p class="mb-0">　▼以下の購入は任意</p>
            <ul class="mb-5">
                <li><a href="https://amzn.asia/d/7tkDxrh" target="_blank">英検準1級 二次試験・面接 完全予想問題 改訂版</a></li>
            </ul>              

              
            
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              
             
              
            <table class="table">
                <tr>
                  <th class="col-5">DAY</th>

                  <th class="col-7">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY0<br></td>

                  <td>
                  </td>
                </tr>                
                <tr>
                  <td>DAY1<br>2025/8/6</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>英作文の書き方</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/8/13</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY1 解説</li>
                        <li>英作文チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/8/20</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY2 解説</li>
                        <li>DAY1の要約チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/8/27</td>
 
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY3 解説</li>
                        <li>英作文チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY5<br>2025/9/3</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY4 解説</li>
                        <li>DAY3の要約チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY6<br>2025/9/10</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY5 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY7<br>2025/9/17</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY6 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY8<br>2025/9/24</td>

                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY7 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY9<br>2025/10/1</td>

                  <td>
                    <ul class="mb-0">
                        <li>面接ポイント解説</li>
                        <li>面接実践</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/8</td>

                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/15</td>

                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/22</td>
      
                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>
                </tr>                
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
