<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>TOEIC初心者500-600点対策コース<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/akanetoeic600202511public">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<header id="header" class="wte_header sb-slide">
  <div class="container-fluid position-relative">  
    <div class="row">
      <div class="col-12 text-center">
        <div class="wte_logo"><a href="https://www.worldtalk.jp/p/akanetoeic600202511"><img src="/assets/img/common/logo_w.png" alt="ワールドトーク"></a></div>
      </div>
    </div>
  </div>
</header> 
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">         
              <img src="/assets/img/syllabus/header_toeic600_202511.png?v2" class="w-100 h-auto" alt="TOEIC初心者500-600点対策コース">
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-10 offset-lg-1 px-5">  
              <h2 class="text-center mb-5"></h2>
          </div>            
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">3ヶ月間の短期集中型で、TOEIC&reg;500〜600点を目指す初中級者向けの講座です。<br>基礎文法や問題の解き方を丁寧に学び直し、毎週の宿題で学習習慣を定着させます。<br>仲間と一緒に取り組むことでモチベーションを保ちながら、効率的にスコアアップを目指せます。</p>  
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-2">2025年11月5日（水）～2026年1月28日（水）<br>※12月31日はお休み</p>
            <ul class="mb-5">
              <li>毎回21:00～21:50（50分）</li>
              <li>週1回・全12回（3ヶ月間）</li>
            </ul>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-2">※Amazon URLとリンクしています</p>
            <ul class="mb-5">
                <li><a href="https://amzn.asia/d/dIEKYKm " target="_blank">TOEIC L&amp;R TEST はじめから超特急 金のパッケージ</a></li>
                <li><a href="https://amzn.asia/d/fAmKAvX" target="_blank">公式TOEIC Listening &amp; Reading 問題集 12</a></li>
            </ul>
             
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              
             
              
            <table class="table">
                <tr>
                  <th class="col-4">DAY</th>
                  <th class="col-4">レッスン内容</th>
                  <th class="col-4">宿題範囲</th>
                </tr>
                <tr>
                  <td>DAY0<br></td>
                  <td>                    
                  </td>
                  <td>
                      金のパッケージ<br>P20~50                      
                    </td>
                </tr>            
                <tr>
                  <td>DAY1<br>2025/11/5</td>

                  <td>
                    <strong>【消去法が基本！】</strong>                       
                    <ul class="mb-0">
                        <li>オリエンテーション</li>
                        <li>DAY0の宿題チェックと解説</li>
                        <li>PART1の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      金のパッケージ<br>P52~78
                  </td>                     
                </tr>
                <tr>
                  <td>DAY2<br>2025/11/12</td>

                  <td>
                    <strong>【TOEICの罠に注意！】</strong> 
                    <ul class="mb-0">
                        <li>DAY1の宿題チェックと解説</li>
                        <li>PART2の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      金のパッケージ<br>P80~114
                  </td>                  
                </tr>
                <tr>
                  <td>DAY3<br>2025/11/19</td>

                  <td>
                    <strong>【シーンをイメージ】</strong>   
                    <ul class="mb-0">
                        <li>DAY2の宿題チェックと解説</li>
                        <li>PART3の攻略法</li>
                    </ul>
                  </td>
                  <td>
                      金のパッケージ<br>P116~141        
                  </td>                   
                </tr>
                <tr>
                  <td>DAY4<br>2025/11/26</td>
 
                  <td>
                    <strong>【効果的な先読み]】</strong>  
                    <ul class="mb-0">
                        <li>DAY3の宿題チェックと解説</li>
                        <li>PART4の攻略法</li>
                    </ul>
                  </td>              
                  <td> 
                      金のパッケージ<br>P144~192
                  </td>                   
                </tr>
                <tr>
                  <td>DAY5<br>2025/12/3</td>

                  <td>
                    <strong>【頻出パターンに慣れる】</strong>  
                    <ul class="mb-0">
                        <li>DAY4の宿題チェックと解説</li>
                        <li>PART5の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      金のパッケージ<br>P194~214       
                  </td>                    
                </tr>
                <tr>
                  <td>DAY6<br>2025/12/10</td>

                  <td>
                    <strong>【前後をしっかり】</strong>  
                    <ul class="mb-0">
                        <li>DAY5の宿題チェックと解説</li>
                        <li>PART6(SP)の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      金のパッケージ<br>P216~238
                  </td>                   
                </tr>
                <tr>
                  <td>DAY7<br>2025/12/17</td>

                  <td>
                    <strong>【時間管理が明暗を分ける】</strong>  
                    <ul class="mb-0">
                        <li>DAY6の宿題チェックと解説</li>
                        <li>PART7(SP)の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      金のパッケージ<br>P239~303               
                  </td>                  
                </tr>
                <tr>
                  <td>DAY8<br>2025/12/24</td>

                  <td>
                    <strong>【解くべき問題の見極め】</strong>  
                    <ul class="mb-0">
                        <li>DAY7の宿題チェックと解説</li>
                        <li>PART7(MP)の攻略法</li>
                    </ul>
                  </td>
                  <td> 
                      公式問題集12<br>TEST1 のリスニング
                      <div><a href="https://docs.google.com/forms/d/1DEeVZs80kkKqScD3YV2lAwwneQ5yBLCQ1N2X3-8DXXM/viewform?edit_requested=true" target="_blank">宿題フォームはこちら</a><br>（〆切：2026/1/4（日））</div>                           
                  </td>                   
                </tr>
                <tr>
                  <td>DAY9<br>2026/1/7</td>

                  <td>
                    <strong>【本番を知ろう】</strong>  
                    <ul class="mb-0">
                        <li>DAY8の宿題チェックと解説</li>
                    </ul>
                  </td>
                  <td> 
                      公式問題集12<br>TEST1 のリーディング    
                      <div><a href="https://docs.google.com/forms/d/109tF91y9cnJrK6fAm-T_BKRlkPR2pFcPGTib3s2PcxA/viewform?edit_requested=true" target="_blank">宿題フォームはこちら</a><br>（〆切：1/11（日））</div>                          
                  </td>                   
                </tr>
                <tr>
                  <td>DAY10<br>2026/1/14</td>

                  <td>
                    <strong>【本番を知ろう】</strong>  
                    <ul class="mb-0">
                        <li>DAY9の宿題チェックと解説</li>
                    </ul>
                  </td>
                  <td> 
                      公式問題集12<br>TEST2 のリスニング
                      <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSeKzxAIWFVPLRaVEVU7uUtWzXEQCO9dUZ9yDGKk1xlkFHZPuQ/viewform" target="_blank">宿題フォームはこちら</a><br>（〆切：1/18（日））</div>                           
                  </td>                   
                </tr>
                <tr>
                  <td>DAY11<br>2026/1/21</td>

                  <td>
                    <strong>【本番を知ろう】</strong>  
                    <ul class="mb-0">
                        <li>DAY10の宿題チェックと解説</li>
                    </ul>
                  </td>
                  <td> 
                      公式問題集12<br>TEST2 のリーディング  
                      <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSeKzxAIWFVPLRaVEVU7uUtWzXEQCO9dUZ9yDGKk1xlkFHZPuQ/viewform" target="_blank">宿題フォームはこちら</a><br>（〆切：1/25（日））</div>                           
                  </td>                   
                </tr>
                <tr>
                  <td>DAY12<br>2026/1/28</td>
      
                  <td>
                    <strong>【本番を知ろう】</strong>  
                    <ul class="mb-0">
                        <li>DAY11の宿題チェックと解説</li>
                    </ul>
                  </td>
                  <td> 
                  </td>                   
                </tr>   
                 
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
