<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>TOEIC上級者800-900点コース｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/akanetoeic900202602public">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">         
              <img src="/assets/img/syllabus/header_akanetoeic900202602.png" class="w-100 h-auto" alt="TOEIC上級者800-900点コース">
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">

          <div class="col-12 col-lg-8 offset-lg-2 px-5">       
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">TOEIC LRで900点以上を目指す人のための講座です。<br>グループレッスンですることによって、同じ目標を持つ仲間とのモチベーション維持と、勉強習慣を身につけることができます。</p>  

              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-0">2026年2月5日(木)～3月26日(木)</p>
            <ul class="mb-5">
              <li>毎回21:00～21:50</li>
              <li>毎週木曜日1回 50分</li>
              <li>全8回(2か月間)</li>                
            </ul>
              
 
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
              
            <p class="mb-0">※Amazon URLとリンクしています</p>              
 
            <p class="d-md-inline-block mb-5"><a href="https://amzn.asia/d/aKP6dbs" target="_blank">ETS TOEIC 短期攻略 950+ (LC+RC+既出模擬試験3回)</a></p><br>  
              
              
          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5 mt-4"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <th class="col-5">レッスン内容</th>                    
                  <th class="col-4">宿題範囲</th>                   
                </tr>
                <tr>
                  <td>DAY1<br>2026/2/5</td>
                   
                  <td>
                    <strong>【PART1&2演習】</strong>   
                    <ul class="mb-0">
                        <li>オリエンテーション</li>
                        <li>演習</li>
                    </ul>
                  </td>                    
                  <td>
                    <ul class="mb-0">
                        <li>P17~39</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div> -->                   
                  </td> 
                </tr>
                <tr>
                  <td>DAY2<br>2026/2/12</td>
                    
                  <td>
                    <strong>【PART3&4 演習】</strong>    
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>                      
                  </td> 
                  <td>
                    <ul class="mb-0">
                        <li>P40~63</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->       
                  </td>                     
                </tr>
                <tr>
                  <td>DAY3<br>2026/2/19</td>
                  
                  <td>
                    <strong>【PART5&6 演習】</strong>  
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>
                  </td>  
                  <td>
                    <ul class="mb-0">
                        <li>P64~79</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->             
                  </td>                      
                </tr>
                <tr>
                  <td>DAY4<br>2026/2/26</td>
                    
                  <td>
                    <strong>【PART5&6 強化】</strong>   
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>
                  </td> 
                  <td>
                    <ul class="mb-0">
                        <li>P80~105</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr>
                <tr>
                  <td>DAY5<br>2026/3/5</td>
                     
                  <td>
                    <strong>【PART7 演習】</strong>   
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>
                  </td>  
                  <td>
                    <ul class="mb-0">
                        <li>P106~141</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                    
                </tr>   
                <tr>
                  <td>DAY6<br>2026/3/12</td>

                    
                  <td>
                    <strong>【実践力強化】</strong> 
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>
                  </td>   
                  <td>                    
                    <ul class="mb-0">
                        <li>P144~183</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr> 
                <tr>
                  <td>DAY7<br>2026/3/19</td>
                    
                  <td>
                    <strong>【実践力強化】</strong> 
                    <ul class="mb-0">
                        <li>宿題範囲の解説・演習</li>
                    </ul>
                  </td>
                  <td>
 
                    <ul class="mb-0">
                        <li>P186~225</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr>    
                <tr>
                  <td>DAY8<br>2026/3/26</td>
                    
                  <td>
                    <strong>【実践力強化】</strong> 
                    <ul class="mb-0">
                        <li>解説・演習</li>
                    </ul>
                  </td> 
                  <td>

                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr>                  
                
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
