<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>夏休みに特訓！英検準1級コース<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/akaneeikenp1202508">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_student2">
      <div class="wte_catch">
        <h1>夏休みに特訓！英検準1級コース</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">  
            <h2 class="text-center mb-5">夏休みに特訓！英検準1級コース について</h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">英検準1級合格を目指す人のための講座です。<br>複数名でグループレッスンすること、毎週課題を出すことによって、生徒同士のモチベーション維持と、勉強をしないといけない状況を作り出します。</p>  
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年8月6日(水）～2025年10月22日（水）21:00～21:50<br>週1回1時間×12回　3ヶ月間</p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-2">※Amazon URLとリンクしています</p>
            <ul class="mb-2">
                <li><a href="https://amzn.asia/d/1BKb9So" target="_blank">出る順パス単 英検準1級</a></li>
                <li><a href="https://amzn.asia/d/77cfHuJ" target="_blank">7日間完成 英検準1級 予想問題ドリル</a></li>
            </ul>
              
            <p class="mb-0">　▼以下の購入は任意</p>
            <ul class="mb-5">
                <li><a href="https://amzn.asia/d/7tkDxrh" target="_blank">英検準1級 二次試験・面接 完全予想問題 改訂版</a></li>
            </ul>   
            
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              
             
              
            <table class="table">
                <tr>
                  <th class="col-2">DAY</th>
                  <th class="col-5">レッスン内容</th>    
                  <th class="col-5">宿題範囲</th>
                </tr>
                <tr>
                  <td>DAY0<br></td>
                  <td>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単~P61</li>
                    </ul>
                    ※ 上記範囲の暗記をお願いします<br>※ 提出の必要はありません  
                  </td>                    
                </tr>                
                <tr>
                  <td>DAY1<br>2025/8/6</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>英作文の書き方</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P62~105
                        <li>予想問題ドリル DAY1(解答、英作文、要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSessZ9Ve0OWmEB4p3NZwg4LAEiO6RkXSAq8BRpot8ZqmhKiFQ/viewform" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/10（日））</div>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY2<br>2025/8/13</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY1 解説</li>
                        <li>英作文チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P106~151</li>
                        <li>予想問題ドリル DAY2(解答、DAY1の要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3FdpMcP7XCzD_Gbk9yLN9aDcXlheVBaA3bWVoYm8z7uZmcg/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/17（日））</div>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY3<br>2025/8/20</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY2 解説</li>
                        <li>DAY1の要約チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P152~195</li>
                        <li>予想問題ドリル DAY3(解答、英作文、要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSeekVTyMvxsXmxr2Rt23ijJ9olbrEsbj5JptAF5y7bGTcB_PQ/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/24（日））</div>              
                  </td>                    
                </tr>
                <tr>
                  <td>DAY4<br>2025/8/27</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY3 解説</li>
                        <li>英作文チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P196~240</li>
                        <li>予想問題ドリル DAY4(解答、DAY3の要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSe6244MWjFPr7AhewkvfGc-dvq9ckXuOKs7LDu3WR8E37Ut5g/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/31（日））</div>                 
                  </td>                    
                </tr>
                <tr>
                  <td>DAY5<br>2025/9/3</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY4 解説</li>
                        <li>DAY3の要約チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                         <li>パス単P241~285</li>
                        <li>予想問題ドリル DAY5(解答、英作文、要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScbgC61RK4ck_Cj_6_ZczHCxXL2tlXubJpNb8-3b_WWi-JfgQ/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/9/7（日））</div>          
                  </td>                    
                </tr>
                <tr>
                  <td>DAY6<br>2025/9/10</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY5 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P286~329</li>
                        <li>予想問題ドリル DAY6(解答、英作文、要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSf_O5uebnK94XtAjhSy1jd_FrnkhgT5rxcr2G3utlqRAojxpQ/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/9/14（日）））</div>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY7<br>2025/9/17</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY6 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P330~374</li>
                        <li>予想問題ドリル DAY7(解答、英作文、要約要提出)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScgf9fohyKoMNRuoVcaXFA48pOhIryIFZ_ZAY_e_aXEkmfNrw/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/9/21（日））</div>             
                  </td>                    
                </tr>
                <tr>
                  <td>DAY8<br>2025/9/24</td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単語彙テスト</li>
                        <li>予想問題ドリル DAY7 解説</li>
                        <li>英作文、要約チェック</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>パス単P375~420</li>
                        <li>反訳トレーニング</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSep97iZ1kbu_4YWWnZpLdVGK4j5abdHA64sazy8mTxnDFl5BQ/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/9/28（日））</div>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY9<br>2025/10/1</td>
                  <td>
                    <ul class="mb-0">
                        <li>面接ポイント解説</li>
                        <li>面接実践</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>反訳トレーニング</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScZ3I9OdLz_5OrX_kQz9FhjmBPGE31tC3Y4qVDLDy__Bk4p1Q/viewform?usp=header" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/10/5（日））</div>        
                  </td>                    
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/8</td>
                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>完全予想問題の練習</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLSdIB7glhf2l5Fs48jRt-anzB0bB0lxt3WE95nTKdWutcK3wUA/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/10/12（水））</div>-->

                  </td>                    
                </tr>
                <tr>
                  <td>DAY11<br>2025/10/15</td>
                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>完全予想問題の練習</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLSdIB7glhf2l5Fs48jRt-anzB0bB0lxt3WE95nTKdWutcK3wUA/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/10/19（水））</div>-->

                  </td>                    
                </tr>
                <tr>
                  <td>DAY12<br>2025/10/22</td>
                  <td>
                    <ul class="mb-0">
                        <li>面接実践</li>
                    </ul>
                  </td>                    
                  <td>
                  </td>
                </tr>                
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
