<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>TOEIC730点対策講座｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/akanetoeic2025">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>TOEIC730点対策講座</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-8 offset-lg-2 px-5">
            <h2 class="text-center mb-5">TOEIC730点対策講座について</h2>
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">TOEIC LRで730点程度を目指す人のための講座です。<br>10名程度のグループレッスンですることと、毎週課題を出すことによって、生徒同士のモチベーション維持と、勉強をしないといけない状況を作ります。</p>
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年5月28日（水）～2025年7月30日（水）21:00～22:00<br>週1回1時間×10回　2か月間</p>
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-5">※Amazon URLとリンクしています</p>
            <ul class="mb-5">
                <li><a href="https://amzn.to/4caDwoQ" target="_blank">公式TOEIC®︎ Listening & Reading トレーニング　リスニング編 2</a></li>
                <li><a href="https://amzn.to/4cfrHxH" target="_blank">公式TOEIC®︎ Listening & Reading トレーニング　リーディング編 2</a></li>
                <li><a href="https://amzn.to/3Zqvi7K" target="_blank">公式TOEIC®︎ Listening & Reading 問題集 11</a></li>
            </ul>
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-2">DAY</th>
                  <th class="col-4">対象ページ</th>
                  <th class="col-6">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/5/28</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P12~18</li>
                        <li>R P12~25</li>
                    </ul>
                    <div><a href="https://forms.gle/uMiMqoqfYuCJbRAFA" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/5/28）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>オリエンテーション</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/6/4</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P20~26</li>
                        <li>R P28~41</li>
                    </ul>
                    <div><a href="https://forms.gle/7junmaca7ue16oWz6" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/6/1）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 2 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/6/11</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P28~34</li>
                        <li>R P44~57</li>
                    </ul>
                    <div><a href="https://forms.gle/unzhN8htiwHKRkQe7" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/6/8）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 5 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/6/18</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P36~42</li>
                        <li>R P60~73</li>
                    </ul>
                    <div><a href="https://forms.gle/Wn9UsmpJgWGiACas6" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/6/15）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 6 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY5<br>2025/6/25</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P44~50</li>
                        <li>R P76~89</li>
                    </ul>
                    <div><a href="https://forms.gle/FVZiGFRkgYq3sqWRA" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/6/22）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 3 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY6<br>2025/7/2</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P52~58</li>
                        <li>R P92~105</li>
                    </ul>
                    <div><a href="https://forms.gle/mMrh2Q36dhxeLy2H8" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/6/29）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 3 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY7<br>2025/7/9</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P60~66</li>
                        <li>R P108~121</li>
                    </ul>
                    <div><a href="https://forms.gle/xqUyXroc55yG1ags5" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/6）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 4 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY8<br>2025/7/16</td>
                  <td>
                    <ul class="mb-0">
                        <li>L P68~74</li>
                        <li>R P124~137</li>
                    </ul>
                    <div><a href="https://forms.gle/bBKnraLh1EHJtWSx5" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/13）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 4 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY9<br>2025/7/23</td>
                  <td>
                    <ul class="mb-0">
                        <li>公式問題集 11 TEST 1 </li>
                    </ul>
                    <div><a href="https://forms.gle/zzcYtw1Wc8N6z3bK7" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/20）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>PART 1 攻略法</li>
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/7/30</td>
                  <td>
                    <ul class="mb-0">
                        <li>公式問題集 11 TEST 2</li>
                    </ul>
                    <div><a href="https://forms.gle/75dxh8USQeSiWgxH8" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/27）</div>
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>リスニング-ディクテーション、シャドウイング、問題の解説</li>
                        <li>リーディング-誤答が多い問題の解説<br>（解説前に、生徒さんに説明してもらう）</li>
                    </ul>
                  </td>
                </tr>
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
