<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>%prof_caption%の募集について｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%にご興味をお持ちいただいた皆さまへ、%product_name%にしかできない特徴をご紹介させていただきます。皆さまにあった%prof_caption%をお選びいただき、好きな時間、好きな場所でレッスンを受けられますので、毎日が忙しい方でも、長続きがしない方でも続けられます！ぜひ、気になる方は体験レッスンをお試しください。" />
<meta name="keywords" content="%product_name%">
<link rel="canonical" href="%ssl_host_url%/">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">
<TMPL_INCLUDE NAME="../include/header.html">
  <main id="sb-site">
      
    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>%prof_caption%の募集について</h1>
      </div>
    </section>      

      
    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">【在宅・副業可】<br class="d-block d-md-none"><strong class="text-primary">オンライン%prof_caption%</strong><br class="d-block d-lg-none">募集しています！</h2>
            <h4 class="text-start text-md-center mb-5">オンライン%prof_caption%なら、自分の空いた時間で自宅から教えられます<br>あなたの素敵なスキルを世界中の生徒に広げていきませんか？</h4>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <p>新しいオンラインプラットフォーム%product_name%は世界中の生徒にオンラインでレッスンを行うサイトです。</p>
            <div class="bg-light rounded-3 py-5 px-2 p-sm-5 mb-5">
              <ul class="text-center wte_check p-0 m-0">
                <li>指導経験を活かした仕事を探している</li>
                <li>子育てをしながら在宅で仕事をしたい</li>
                <li>時短勤務で教えられる仕事をしたい</li>
                <li>自分の経験やスキルを仕事にしたい</li>
                <li>世界中の生徒に教えたい</li>
              </ul>
            </div>                
            <p>現在、サービススタートするにあたってのオープニングメンバーを募集しています。<br>先生のライフスタイルに合わせてレッスンを組むことができます。</p>
            <p>興味がある方はぜひ、エントリーフォームからご応募ください！</p>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <img src="/assets/img/apply/about_1.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="オンライン%prof_caption%募集しています！" loading="lazy">
          </div>
          <div class="col-12 px-5">
            <div class="text-center mt-3">
              <a href="%ssl_host_url%/WTE/preg.cgi"class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">エントリーはこちら</a>
            </div>
          </div>
        </div>         
      </div>
    </section>      
      
    <!-- strengs section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">%product_name%でレッスンする<br class="d-block d-md-none"><strong class="text-primary">メリット</strong>は？</h2>
            <p class="text-start text-md-center mb-5">%product_name%はオンラインでマンツーマンレッスンができるプラットフォームです。<br>%product_name%でレッスンをするメリットについてご説明します。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 px-3 mb-4">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/apply/feature_1.jpg" class="w-100 h-100 object-fit-cover" alt="好きな時間に仕事ができる" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">好きな時間に仕事ができる</h3>
                <p>あなたのライフスタイルに合わせて、時間にとらわれずに仕事をすることができます。</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/apply/feature_2.jpg" class="w-100 h-100 object-fit-cover" alt="在宅で働くことができる" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">在宅で働くことができる</h3>
                <p>オンラインレッスンだから、自宅でもお仕事が可能です。海外在住の方でも大丈夫です！</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-3 mb-5">
            <div class="card">
              <div class="card-eyecatch mb-3">
                <img src="/assets/img/apply/feature_3.jpg" class="w-100 h-100 object-fit-cover" alt="指導経験を活かせる" loading="lazy">
              </div>
              <div class="card-body">
                <h3 class="h4 text-center">指導経験を活かせる</h3>
                <p>事情があって指導をつづけられなくなった方に、活躍できる場所を提供いたします。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
              <h2 class="text-center mb-5"><strong class="text-primary">募集要項</strong></h2>
          </div>
        </div>          
        <div class="row">
          <div class="col-12 mb-5">
            <table class="table">
              <tr>
                <th class="col-3">仕事内容</th>
                <td class="col-9"><h4>オンラインレッスン%prof_caption%</h4>
                現在、以下%prof_caption%を募集しています。
                <ul>    
                    <li>オンライン英会話%prof_caption%</li>
                    <li>オンライン日本語%prof_caption%</li>
                    <li>オンライン家庭教師</li>
                    <li>オンラインボイストレーナー</li>
                    <li>オンラインピアノ%prof_caption%</li>
                    <li>オンラインフィットネスコーチ</li>
                </ul>
                採用に合格したら、%prof_caption%管理画面上でお仕事を管理します。<br>管理画面から、レッスンを提供できる時間をご登録ください。<br>その情報を見て、生徒は予約を行います。<br>該当の時間になりましたら、通話システムを起動しレッスンスタートとなります。<br>レッスン後には、ちゃんとレッスンが終わったことを知らせる完了報告を行います。
                </td>
              </tr>
              <tr>
                <th>勤務地</th>
                <td>パソコンとインターネットがあればどこでも可能です。</td>
              </tr>
              <tr>
                <th>勤務時間</th>
                <td>フリーシフトのため、ご自身のペースでスケジュール管理が可能です。</td>
              </tr>
              <tr>
                <th>応募資格</th>
                <td>以下、ご応募資格をご一読のうえ、該当される方はエントリーをお願いいたします。
                    <ul>
                      <li>スクールでの指導歴が3年以上あること</li>
                      <li>就業経験をお持ちの方</li>
                      <li>提供レッスンのいずれかを対応可能な方</li>
                      <li>%prof_caption%の利用規約を守れる方</li>
                    </ul>
                    他のオンライン英会話サービスは、主に「フィリピン人」を%prof_caption%として採用していますが、%product_name%では、出来る限り「日本人」の方を%prof_caption%としてお迎えしたいと考えています。</td>
              </tr>
              <tr>
                <th>雇用形態</th>
                <td>業務委託契約</td>
              </tr>
              <tr>
                <th>報酬について</th>
                <td>1コマあたりの報酬を設定し、1ヶ月のレッスン数に応じてお支払いたします。<br>支払方法は日本の銀行口座へ入金となりますが、海外在住の方には、WiseやPayPalでの送金対応も可能です。</td>
              </tr>                
            </table>
          </div>
          <div class="col-12 px-5">
            <div class="text-center mt-3">
              <a href="%ssl_host_url%/WTE/preg.cgi"class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">エントリーはこちら</a>
            </div>
          </div>
        </div>       
      </div>
    </section>

    
    <!-- FAQ section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">よくある</strong>ご質問</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">オンラインレッスン%product_name%とはどんなサービスですか？</h3>
              </div>
              <div class="wte_answer">
                  <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">%product_name%は世界中の%prof_caption%とレッスンができるオンラインレッスンサービスです。<br>インターネットとPC・スマートフォンさえあれば、誰でもすぐに始められます。<br>経験豊富な%prof_caption%が多数所属しておりますので、まずはあなたの目的に合わせて相性の良い%prof_caption%を探してみましょう。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">育児の都合上、平日5時間しかレッスンできないのですが大丈夫ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">はい、問題ございません。<br>ご都合の良い日程でスケジュールの登録ができますので、自分の好きなタイミングでレッスンを行うことが可能です。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">カメラはOnにしないといけないですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">はい、生徒の皆さまが安心してレッスンするためにも、ビデオはOnにしてレッスンのご提供をお願いいたします。<br>レッスンを行う前に、ビデオがちゃんと付くかどうかのチェックをお願いいたします。</p>
              </div>
            </div>                             
          </div>
        </div>

      </div>
    </section>
      
    
    <!-- flow section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">採用</strong>までの流れ</h2>
            <p class="text-start text-md-center mb-5">ご応募いただき以下の流れで採用を行っています。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.1</div>
            <div><img src="/assets/img/common/flow_1.png" class="w-75 w-lg-50 mb-4" alt="アカウント作成" loading="lazy"></div>
            <h3 class="h4 mb-4">エントリー<br class="d-block d-lg-none">フォーム入力</h3>
            <p class="text-start d-none d-lg-block px-5">少しでも求人に興味がある方は、エントリーフォームからご応募ください。<br>ご自身の経歴や想いなどをお送りください。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center position-relative">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.2</div>
            <div><img src="/assets/img/common/flow_2.png" class="w-75 w-lg-50 mb-4" alt="レッスンを予約" loading="lazy"></div>
            <h3 class="h4 mb-4">採用面談・<br class="d-block d-lg-none">模擬レッスン</h3>
            <p class="text-start d-none d-lg-block px-5">1次審査後にオンラインでの採用面談に進めさせていただきます。<br>面接時に模擬レッスンも行います。</p>
            <div class="wte_triangle_right"></div>
          </div>
          <div class="col-4 text-center">
            <div class="badge badge-circle rounded-pill badge-primary text-center mb-4">Step.3</div>
            <div><img src="/assets/img/common/flow_3.png" class="w-75 w-lg-50 mb-4" alt="体験スタート" loading="lazy"></div>
            <h3 class="h4 mb-4">規約の確認と<br class="d-block d-lg-none">%prof_caption%登録</h3>
            <p class="text-start d-none d-lg-block px-5">面談後、数日以内に結果をお送りします。<br>合格された方はメール記載の規約の確認と%prof_caption%登録をお願いします</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-5">
            <h4 class="text-center">皆さまからのご応募お待ちしております！</h4>
          </div>
          <div class="col-12 px-5">
            <div class="text-center mt-3">
              <a href="%ssl_host_url%/WTE/preg.cgi"class="btn btn-warning btn-lg btn-cta rounded-pill wte_cta_btn">エントリーはこちら</a>
            </div>
          </div>
        </div>
      </div>
    </section>      


  
  <!--footer.html読み込み-->
<TMPL_INCLUDE NAME="../include/footer.html">
</main>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
