<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>運営会社概要｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%の運営会社を紹介いたします。生徒の皆さまへ最適なレッスン環境を構築するために体制を整えていきます。">
<meta name="keywords" content="%product_name%">
<link rel="canonical" href="%ssl_host_url%/wte/company">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>運営会社概要</h1>
      </div>
    </section>
    
    <!-- table section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">会社概要</h2>
            <p class="text-md-center mb-5">%product_name%の運営会社を紹介いたします。生徒の皆さまへ最適なレッスン環境を構築するために体制を整えていきます。</p>
          </div>
          <div class="col-12 col-lg-10 offset-lg-1">
          
            <table class="table">
              <tr>
                <th class="col-3">会社名</th>
                <td class="col-9">株式会社ライトアップ</td>
              </tr>
              <tr>
                <th>設立</th>
                <td>2002年4月5日</td>
              </tr>
              <tr>
                <th>所在地</th>
                <td>〒150-0002　東京都渋谷区渋谷2-15-1　渋谷クロスタワー32F</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>03-5784-0700（代表）</td>
              </tr>
              <tr>
                <th>FAX番号</th>
                <td>03-3499-8071</td>
              </tr>
              <tr>
                <th>代表者</th>
                <td>代表取締役社長　白石 崇</td>
              </tr>
              <tr>
                <th>事業内容</th>
                <td>インターネット関連業務全般
                  <ul>
                   <li>コンテンツの企画・制作</li>
                   <li>ウェブサイトの構築</li>
                   <li>CMSソリューションの提供</li>
                   <li>SEOソリューションの提供</li>
                   <li>自社メディア運営</li>
                   </ul>
                 </td>
              </tr>
              <tr>
                <th>お問い合わせ</th>
                <td>こちらの<a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせフォーム</a>よりお問合わせください。</td>
              </tr>
              <tr>
                <th>取引先銀行</th>
                <td>みずほ銀行　渋谷支店</td>
              </tr>
            </table>
          
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
