<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>エラー - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%">
<link rel="canonical" href="%ssl_host_url%/">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- head section -->
    <section class="phead">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>エラー</h1>
          </div>
        </div>
      </div>
    </section>

  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 col-lg-offset-2">
            <div class="wform">
            <p class="errs">%error%</p>
            <!--ボタン：前のページへ戻る-->
            <div class="text-center"><button name="backBtn" onclick="javascript:history.back()" class="btn btn-primary">&lt;&lt; 前のページへ戻る</button></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
