<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>よくあるご質問 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%の利用をご検討いただいている方からのよくある質問を紹介いたします。ご検討する際の課題解決となれば幸いです。また、よくある質問から疑問が解決しない場合は、お手数ですがお問い合わせフォームよりお問い合わせよろしくお願いいたします。">
<meta name="keywords" content="%product_name%">
<link rel="canonical" href="%ssl_host_url%/wte/faq">
<TMPL_INCLUDE NAME="../include/head.html">
<style>
.anchor_f {
    padding-top: 100px;
    margin-top: -100px;    
}      
.anchor_chousei:before {   
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}  
</style>    
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>よくあるご質問</h1>
      </div>
    </section>
      
      <a id="faq_trial" class="anchor_f anchor_chousei"></a>   
      
    <section>
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">体験レッスン</strong><br class="d-block d-md-none">についてのご質問</h2>
            <p class="text-start text-md-center">%product_name%では無料体験レッスンを用意しています。<br>体験レッスンを受ける際に不明点があればご確認ください。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">体験レッスンの受け方を教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">以下の流れで体験レッスンのご予約をお願いいたします。</p>
                <ol class="py-4 pt-0 pe-4 mb-0">
                    <li><a href="%ssl_host_url%/WTE/reg.cgi">こちらのページ</a>からアカウントを作成ください</li>
                    <li>本人認証のメールが届くのでクリックし、プロフィールを登録します</li>
                    <li><a href="%ssl_host_url%/WTE/mypage.cgi">マイページ</a>から予約をします
                        <ol type="a" class="ps-0">
                            <li>日程から予約 - カレンダーからレッスン希望日に予約ができます</li>
                            <li>%prof_caption%から予約 - 気になる%prof_caption%のスケジュールを予約できます</li>
                        </ol>
                    </li>
                    <li>予約ボタンをクリックし予約を確定ください</li>
                    <li>時間になったら通話システムを立ち上げてレッスンスタート！</li>
                </ol> 

              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">体験に必要なものは何ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">パソコン（またはタブレット）、インターネット、通話システム（Google Meet）の3つです。<br>また、パソコンにカメラやマイクがない方は、ウェブカメラやマイク付きイヤフォンの購入をお願いいたします。<br>詳しくは<a href="%ssl_host_url%/wte/lesson">ご利用方法のページ</a>をご確認ください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">どんな%prof_caption%が在籍していますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">全世界から、様々なバックグラウンドを持った%prof_caption%が参加しています。<br>詳しく%prof_caption%について知りたいかたは、<a href="%ssl_host_url%/wte/prflstfrm">%prof_caption%一覧ページ</a>よりプロフィール情報をご確認ください。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">体験のキャンセル・振り替えはできますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">はい、可能です。<br>体験レッスン予約後に、レッスンの詳細ページよりキャンセル処理を行ってください。<br>レッスンの振り替えは、再度スケジュールの予約をお願いいたします。<br>※キャンセル期限を超えてしまうと再予約ができませんのでご注意ください。</p>
              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">海外からでも体験レッスンできますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">はい、体験可能です！<br>必要な環境さえ整っていれば、世界中どこからでもレッスンをお楽しみいただけます。<br>ぜひ、お気軽にご体験ください。</p>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>
      
    <a id="faq_account" class="anchor_f anchor_chousei"></a>
      
    <section class="bg-light">
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">アカウント</strong><br class="d-block d-md-none">についてのご質問</h2>
            <p class="text-start text-md-center">%product_name%に登録したアカウントについてのご質問です。<br>アカウントの取り扱い方法についてご確認ください。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">%member_caption%登録にお金はかかりますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">いいえ、%member_caption%登録時にお金はかかりませんのでご安心ください。<br>カード登録も不要、勝手にお金が支払われてしまったとお困りになることはありません。<br>安心して、ご登録をお願いいたします。</p>

              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">1つのアカウントを複数人で利用できますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">いいえ、複数人で1アカウントのご利用は禁止しております。<br>複数人の登録が必要でしたら、1人ずつアカウントの作成をお願いいたします。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">パスワードを忘れてしまいました</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">パスワードの再設定をすることができます。<br>こちらの<a href="%ssl_host_url%/WTE/pwdrst.cgi">パスワードリセット</a>より、パスワードの再設定をお願いいたします。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">休会制度はありますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">休会の制度はありません。<br>但し、プラン解約をしてしまえば、継続して課金されることはありません。<br>プラン解約をしても、アカウントへのログインは可能ですので、いつでも再開頂くことは可能です。</p>
              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">退会の仕方を教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">退会をご希望の方はお問い合わせフォームより退会希望の旨ご連絡ください。<br>退会をするとデータ自体が消えてしまいますので、再度ログインすることができません。ご了承のほどよろしくお願いいたします。</p>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>   
      
    <a id="faq_plan" class="anchor_f anchor_chousei"></a>
      
    <section>
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">料金</strong>についてのご質問</h2>
              <p class="text-start text-md-center">%product_name%の料金について、良くいただく質問です。<br>詳しい料金プランを知りたい方は<a href="%ssl_host_url%/wte/plan">こちらのページ</a>も確認ください。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">料金はどのくらいかかりますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">詳しい料金設定に関しましては、<a href="%ssl_host_url%/wte/plan">料金プランページ</a>をご確認ください。<br>ご利用される方のレッスン頻度に合わせて、複数のプランを用意しております。<br>ご自由にお選びください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">クレジットカードは利用可能ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">はい、%product_name%ではクレジットカード決済が可能です。<br>その他にも、銀行振込による入金もできますので、ご都合に合わせてご利用ください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">プラン以外にかかるお金はありますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">いいえ、ありません。<br>ただし、%prof_caption%とのレッスンの中で市販の教材購入を薦められた場合は、購入する際に金額は発生いたしますのでご了承の上、ご購入をご検討ください。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">定期決済の解約方法を教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">定期決済の解約は以下の流れでお願いいたします。</p>
                <ol class="py-4 pt-0 pe-4 mb-0">
                    <li>%member_caption%マイページに<a href="%ssl_host_url%/WTE/mypage.cgi">ログイン</a></li>
                    <li>カード決済ページに定期購入の解約ボタンが表示されます</li>
                    <li>解約ボタンをクリックすると、定期決済の解約ができます</li>
                    <li>解約後も再購入が可能ですのでお気軽にご利用ください</li>
                </ol> 
              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">領収書の発行はできますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">はい、領収書の発行は可能です。<br>手動での発行となりますので、お手数ですがお問い合わせフォームから領収書の発行をご依頼ください。</p>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>
      
    <a id="faq_call" class="anchor_f anchor_chousei"></a>
      
    <section class="bg-light">
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">通話システム</strong><br class="d-block d-md-none">についてのご質問</h2>
            <p class="text-start text-md-center">レッスンに必要な通話システムについての質問。<br>Google Meetの設定方法は<a href="%ssl_host_url%/wte/starter">こちらのページ</a>もご確認ください。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">通話システムは何を利用しますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">Google Meetを利用しています。<br>Google MeetはGoogleアカウントが必要です。<br>お持ちでない方は<a href="https://www.google.com/account/about/?hl=ja" target="_blank">こちらのページ</a>よりアカウント作成をお願いいたします。</p>

              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">音声が聞こえないときはどうしたらいいですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">音声が聞こえない時はパソコンの音量が正しく設定されているか？<br>ミュートになっていないかなどをご確認ください。<br>ご自身の環境が問題ないにも関わらず、音声が聞こえずレッスンが出来なかった場合は、お問い合わせフォームより、その旨をお知らせください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">ウェブカメラは必要ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">ご自身のパソコンにカメラがない場合は、ウェブカメラの取り付けをご検討ください。<br>レッスンの品質を向上させるためにも、%prof_caption%・%member_caption%のどちらのカメラもOnにすることを推奨しております。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">回線が悪くレッスンができませんでした</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">%prof_caption%の回線が悪くレッスンが出来なかった場合、レッスン詳細ページにある「相手が来なかった」にチェックを入れ送信ください。<br>ご自身の回線が悪い場合は「自分のトラブル」にチェックし送信ください。<br>どちらの原因か分からない場合はお問い合わせフォームよりご連絡ください。</p>
              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">通話システムに入室できません</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">Google Meetにアクセスできない場合、通知メールのリンクをクリックください。<br>改善しないようでしたら、Google Meetを再起動ください。<br>他のソフトが立ち上がりすぎていないかも合わせてチェックください。<br>それでも上手くいかなければ、%prof_caption%にメッセージを送信し指示をお待ちください。</p>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>    
      
    <a id="faq_group" class="anchor_f anchor_chousei"></a>
      
    <section>
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">団体利用</strong>についてのご質問</h2>
              <p class="text-start text-md-center">法人利用や学校利用をお考えの方からのよくある質問です。<br>団体様向けのレッスンも提供していますので、ご検討お願いいたします。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">企業の研修として利用可能ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">はい、ご利用可能です。<br>詳しい御社のご状況を確認させていただきたいため、一度<a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせフォーム</a>よりご連絡いただけますと幸いです。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">学校・スクールのプログラムとして導入は可能ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">はい、スクールでもご利用可能です。<br>貴校のプログラムに合わせてご提案させていただきますので、まずは<a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせフォーム</a>よりご状況をお送りください。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">請求書でのお支払いは可能ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">5名以上のご利用で請求書でのお支払が可能となります。<br>お打ち合わせの際に請求についての確認をさせていただきます。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">団体申し込みの場合、体験レッスンはできますか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">はい、可能です。<br>一般%member_caption%と同じく、無料体験のページよりアカウントを作成し、体験レッスンをお試しください。<br>複数名の体験レッスンをご希望の方は、一度ご連絡ください。</p>                  

              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">団体利用の場合の流れを教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 pb－0 mb-0">レッスン開始まで以下の流れで進みます。</p>
                <ol class="py-4 pt-0 pe-4 mb-0">
                    <li>まずは一度お問い合わせください</li>
                    <li>お打ち合わせにて課題のヒアリングとご提案をさせていただきます</li>
                    <li>体験を実施し問題ないかご確認ください</li>
                    <li>お見積書・発注書をお送りしますので、ご捺印ください</li>
                    <li>アカウントの準備が出来ましたら、予約を行いレッスンスタートです</li>
                </ol> 
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>   
      
    <a id="faq_other" class="anchor_chousei"></a>
          
    <section class="bg-light">
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5"><strong class="text-primary">その他</strong>についてのご質問</h2>
            <p class="text-start text-md-center">その他に頂いているご質問を共有します。<br>疑問の解決に繋がりますと幸いです。</p>
          </div>            
          <div class="col-12 wte_faq">
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">推奨環境を教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">パソコンのOSやブラウザーのバージョンは出来るだけ最新バージョンに設定ください。<br>最新のセキュリティ対策が反映されているため安心してご利用いただけます。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">システムからメールが届きません</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">体験レッスンのためのアカウント作成時に、本人確認のメールが届かない場合は、一度<a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせフォーム</a>よりご連絡ください。<br>メールプロバイダのなりすましメール防止対策によって、メールが届かなくなることがあるため、その際は原因を確認し改善させていただきます。</p>
              </div>
            </div>
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">メールが文字化けしてしまいます</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                  <p class="p-4 mb-0">一部の古いメールソフトの場合、文字化けすることがございます。<br>文字化けが起こる場合は、メールソフトのバージョンアップ、もしくはGmailなどのフリーのメールアドレスをご利用ください。<br>※携帯のキャリアメールの場合、迷惑メールの設定を行った時にドメイン指定をしないと弾かれてしまうことがございます。</p>
              </div>
            </div>   
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">%prof_caption%との直接のやりとりは可能ですか？</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">直接的なトラブルを避けるためにも、%member_caption%様と%prof_caption%様のメッセージのやりとりは、プラットフォーム上で行っています。<br>レッスン詳細ページ上にあるメッセージ機能をご利用いただき、連絡をお願いいたします。</p>
              </div>
            </div>                 
            <div class="wte_faqbox">
              <div class="wte_question bg-primary">
                <span class="badge badge-white badge-faq position-absolute rounded-pill">Q</span>
                <h3 class="text-white h4 mb-0">登録した個人情報の取り扱いについて教えてください</h3>
              </div>
              <div class="wte_answer">
                <span class="badge badge-secondary badge-faq rounded-pill position-absolute m-3">A</span>
                <p class="p-4 mb-0">ご登録いただいた皆さまの個人情報は厳重に取り扱わせていただきます。<br>利用用途につきましては、プライバシーポリシーをご確認お願いいたします。</p>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </section>
      
      
    <section>
      <div class="container">          
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5">それでも解決しない方は？</h2>
            <p class="text-start text-md-center">上記FAQで課題が解決しない方は、お問い合わせフォームから問い合わせください。<br>最大2営業日以内に、メールにてご返信させていただきます。</p>
          </div>
          <div class="col-12">
            <div class="text-center">
              <a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw" class="btn btn-warning btn-lg rounded-pill">お問い合わせはこちら</a>
            </div>
          </div>            
        </div>
      </div>
    </section>       

  <!--footer.html読み込み-->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">

<script>
$(function() {
	$('.limitunit').each(function(){
		var txt1 = $(this).html();
		$(this).html(
			txt1.replace('d','日')
		);
	});
	$('.limitunit').each(function(){
		var txt2 = $(this).html();
		$(this).html(
			txt2.replace('h','時間')
		);
	});
	$('.limitunit').each(function(){
		var txt3 = $(this).html();
		$(this).html(
			txt3.replace('m','分')
		);
	});
});
</script>
</body>
</html>
