<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>親子参加もOK！サマートラベル・アドベンチャー！<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/about">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_kids">
      <div class="wte_catch">
        <h1>親子参加もOK！サマートラベル・アドベンチャー！</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">  
            <h2 class="text-center mb-5">サマートラベル・アドベンチャー！ について</h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">この講座では、「聞く・話す・読む・書く」の4技能をバランスよく体験できます。<br>英語初心者～初中級レベルのお子さんが、夏休みの特別イベントとして「英語って楽しい！」と感じられることを目指したレッスンです。</p>
            <ul class="mb-5">
                <li>少人数のグループレッスンで、同年代の仲間と一緒に取り組むことで、やる気や継続する力を育てます。</li> 
                <li>毎回のミニ発表を通して、「聞く力」や「話す自信」も自然と身につけていきます。</li> 
            </ul>
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">★火曜日午前の旅<br>2025/7/29・8/5・8/19　毎週火曜日 10:00～10:55<br>※間に5分休憩あり</p>

            <p class="mb-5">★木曜日午後の旅<br>2025/7/31・8/7・8/21　毎週木曜日17:00～17:55<br>※間に5分休憩あり</p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-5">先生のオリジナル教材を使用するので、特別な購入は必要ありません♪<br>レッスン中のアクティビティで、おうちにある紙やマーカーなどをご用意いただく可能性があります。</p>

            
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              
             
              
            <table class="table">
                <tr>
                  <th class="col-5">DAY</th>

                  <th class="col-7">レッスン内容</th>
                </tr>
                
                <tr>
                  <td>DAY1<br><strong>Let‘s pack and Go<br>出発準備</strong><br><br>2025/7/29 ・ 2025/7/31</td>

                  <td>
                    旅のはじまり！英語で自己紹介をしたり、「持っていきたいもの」を英語で表現。<br>ワークシートを使って英語で持ち物リストを作り、みんなに発表しよう  
                    <ul class="mb-0">
                        <li>自己紹介・あいさつ・すきなもの</li>
                        <li>単語を学ぶ　ゲーム　クイズ</li>
                        <li>ワークシートで理解をふかめよう　スーツケースに何入れる？</li>
                        <li>Show and tell  持ち物リストをみんなにシェア</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br><strong>Safari Adventure!　＋　Under the sea<br>サファリと海の世界</strong><br><br>2025/8/5 ・ 2025/8/7</td>

                  <td>
                    サファリ探検と海の世界へ出発！<br>動物や自然に関する英語にふれ、「I see a lion!」などの動詞表現も学習。<br>ビンゴやI spyゲームで大盛り上がろう！
                    <ul class="mb-0">
                        <li>単語を学ぶ　リスニングクイズ　ゲーム</li>
                        <li>ワークシートで理解を深めよう　サファリで動物探し</li>
                        <li>Show and tell  レッスンのまとめ</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br><strong>City Adventure！ and back Home let’s share<br>世界の街をめぐろう</strong><br><br>2025/8/19 ・ 2025/8/21</td>

                  <td>
                    世界の街をバーチャル旅！<br>「Can I have a ___, please?」「Where is the ～？」など旅先の街で使える表現を学び、<br>おみせや街中でのロールプレイにもチャレンジ！
                    <ul class="mb-0">
                        <li>世界の都市を見てみよう！　行きたいところを英語で言ってみよう</li>
                        <li>街で、お店で、英語を使ってみよう　ロールプレイ</li>
                        <li>Show and tell　最終日のまとめ</li>
                    </ul>
                  </td>
                </tr>
              
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
