<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>お問い合わせ - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>お問い合わせ</h1>
      </div>
    </section>

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="wform">
              <p>お問い合わせを送信しました。お送りいただいたお問い合わせは、担当より順次ご対応いたします。なお、お問い合わせ対応時間は平日 月～金の10：00～19：00です。対応時間外のお問い合わせにつきましては、翌営業日にご対応いたします。あらかじめご了承ください。</p>
              <p class="text-center"><a href="/">&raquo; ページTOPに戻る</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
