<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>お問い合わせ - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>お問い合わせ</h1>
      </div>
    </section>

    <!-- schedule section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 px-5 text-center">
            <h2 class="mb-5">サービスへの<strong class="text-primary">お問い合わせ</strong></h2>
            <p class="text-start text-md-center">不明点等あればよくある質問をご覧ください。<br>それでも解決しないようでしたら、こちらのお問い合わせフォームよりご連絡ください。</p>
          </div>        
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card mb-5">
            <form method="post" action="%CGI_URL%" class="wform">
              <input type="hidden" name="m" value="inqcfmset" />
              <input type="hidden" name="pkey" value="%pkey%" />
              <input type="hidden" name="inq_mtype_caption_1" value="%member_caption%" />
              <input type="hidden" name="inq_mtype_caption_2" value="%member_caption%希望" />
              <input type="hidden" name="inq_mtype_caption_3" value="非%member_caption%" />
              <input type="hidden" name="inq_title_caption_1" value="入会・%member_caption%登録について" />
              <input type="hidden" name="inq_title_caption_2" value="料金・お支払方法について" />
              <input type="hidden" name="inq_title_caption_3" value="レッスンについて" />
              <input type="hidden" name="inq_title_caption_4" value="キャンペーンについて" />
              <input type="hidden" name="inq_title_caption_5" value="ご要望・ご意見" />
              <input type="hidden" name="inq_title_caption_6" value="その他のご質問、ご意見" />
              <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>

              <div class="card-body">
                <div class="alert alert-muted">
                  <div class="row">
                    <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                      <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                    </div>
                    <div class="col-10 col-md-11">
                      <p class="mb-0">よくある質問を以下にまとめました</p>
                    </div>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-4 col-md-2 mb-3 mb-md-0">
                    <a href="/wte/faq#faq_trial" class="btn btn-white btn-sq">
                      <i class="fas fa-chalkboard-teacher text-primary big pt-2 mb-2"></i>
                      <br>体験について
                    </a>
                  </div>
                  <div class="col-4 col-md-2 mb-3 mb-md-0">
                    <a href="%ssl_host_url%/wte/faq#faq_account" class="btn btn-white btn-sq">
                      <i class="far fa-credit-card text-primary big pt-2 mb-2"></i>
                      <br>登録について</a>
                  </div>
                  <div class="col-4 col-md-2 mb-3 mb-md-0">
                    <a href="%ssl_host_url%/wte/faq#faq_plan" class="btn btn-white btn-sq">
                      <i class="fas fa-check text-primary big pt-2 mb-2"></i>
                      <br>料金について</a>
                  </div>
                  <div class="col-4 col-md-2">
                    <a href="%ssl_host_url%/wte/faq#faq_call" class="btn btn-white btn-sq">
                      <i class="fas fa-video text-primary big pt-2 mb-2"></i>
                      <br>通話システム</a>
                  </div>
                  <div class="col-4 col-md-2">
                    <a href="%ssl_host_url%/wte/faq#faq_group" class="btn btn-white btn-sq">
                      <i class="fas fa-paper-plane text-primary big pt-2 mb-2"></i>
                      <br>団体について</a>
                  </div>
                  <div class="col-4 col-md-2">
                    <a href="%ssl_host_url%/wte/faq#faq_other" class="btn btn-white btn-sq">
                      <i class="fas fa-ellipsis-h text-primary big pt-2 mb-2"></i>
                      <br>その他ご質問</a>
                  </div>
                </div>

              <div class="form-group">
                <label for="inq_name" class="required %inq_name_err%">お名前</label>
                <input type="text" id="inq_name" name="inq_name" value="%inq_name%" placeholder="（例）山田太郎" class="form-control %inq_name_err%" />
              </div>
              <div class="form-group">
                <label for="inq_email" class="required %inq_email_err%">メールアドレス</label>
                <input type="email" id="inq_email" name="inq_email" value="%inq_email%" placeholder="（例）yamada@example.com" class="form-control %inq_email_err%" />
              </div>
              <fieldset class="form-group">
                <legend class="col-form-legend required %inq_mtype_err%">登録状況</legend>
                <div class="form-check form-check-inline">
                  <label class="form-check-label"><input type="radio" id="inq_mtype_1" name="inq_mtype" value="1" class="%inq_mtype_err%" %inq_mtype_checked_1% />%member_caption%</label>
                </div> 
                <div class="form-check form-check-inline">                  
                  <label class="form-check-label"><input type="radio" id="inq_mtype_2" name="inq_mtype" value="2" class="%inq_mtype_err%" %inq_mtype_checked_2% />%member_caption%希望</label>
                </div> 
                <div class="form-check form-check-inline">                       
                  <label class="form-check-label"><input type="radio" id="inq_mtype_3" name="inq_mtype" value="3" class="%inq_mtype_err%" %inq_mtype_checked_3% />非%member_caption%</label>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend class="col-form-legend required %inq_title_err%">お問い合わせ項目</legend>
                <div class="form-group">
                  <select id="inq_title" name="inq_title" class="form-select form-control %inq_title_err%">
                    <option value="">---お問い合わせ項目をお選び下さい---</option>
                    <option value="1" %inq_title_selected_1%>入会・%member_caption%登録について</option>
                    <option value="2" %inq_title_selected_2%>料金・お支払方法について</option>
                    <option value="3" %inq_title_selected_3%>レッスンについて</option>
                    <option value="4" %inq_title_selected_4%>キャンペーンについて</option>
                    <option value="5" %inq_title_selected_5%>ご要望・ご意見</option>
                    <option value="6" %inq_title_selected_6%>その他のご質問、ご意見</option>
                  </select>
                </div>
              </fieldset>
              <div class="form-group">
                <label for="contact" class="required %inq_cont_err%">お問い合わせ内容</label>
                <textarea id="inq_cont" name="inq_cont" class="form-control %inq_cont_err%" style="height:150px;" placeholder="お問い合わせ内容をご記入下さい">%inq_cont%</textarea>
                <ul class="note">
                  <li>お問い合わせ内容は<span id="inq_cont_max_char_num">3000</span>文字以内で入力してください。（現在の入力文字数：<span id="inq_cont_char_num">0</span>文字）</li>
                </ul>
              </div>
             </div>
             <div class="card-footer">
              <div class="text-center"><input type="submit" value="確認画面へ" name="setBtn" class="btn btn-primary rounded-pill" /></div>
             </div>     
            </form>
                
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">        
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="/WTE/static/js/dom.js"></script>
<script src="/WTE/static/js/inputlimit.js"></script>
<script>
(function () {

dom.event.addEventListener(window, "load", init);

var names = [
	'inq_cont'
];

function init() {
	for( var i=0; i<names.length; i++ ) {
		var elm = document.getElementById(names[i]);
		dom.event.addEventListener(elm, "keyup", count_char_num);
		dom.event.addEventListener(elm, "focus", count_char_num);
		dom.event.addEventListener(elm, "blur", count_char_num);
	}
	count_char_num();
}

function count_char_num() {
	for( var i=0; i<names.length; i++ ) {
		var elm = document.getElementById(names[i]);
		var char_num = document.getElementById(names[i] + "_char_num");
		if( ! char_num ) { continue; }
		var max_char_num = document.getElementById(names[i] + "_max_char_num");
		if( ! max_char_num ) { continue; }
		var n = elm.value.length;
		var max = parseInt(max_char_num.innerHTML);
		if(n > max) {
			n = '<span class="caution">' + n + '</span>';
		}
		char_num.innerHTML = n;
	}
}

})();
</script>
</body>
</html>
