<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>大学受験　夏期講座　―英語基礎固め編―｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/about">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_student">
      <div class="wte_catch">
        <h1>大学受験　夏期講座　―英語基礎固め編―</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">  
            <h2 class="text-center mb-5">大学受験　夏期講座　―英語基礎固め編― について</h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">大学受験に一歩踏み出したい高校1～3年生のための、「夏休み基礎固め」講座です。<br>① 【単語学習】2ヵ月間で『速読英単語』約1,900語に触れ、英語基礎力を強化<br>② 【習慣づけ】共通テスト、二次試験を見据えた、英語学習の習慣づけ<br>③ 【理解の定着と実践】毎週講師から出す課題<br>など、夏休みをフル活用した全10回のプログラムです。</p>  
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年8月5日（火）～2025年10月7日（火）21:00～21:50<br>週1回50分×10回　2か月間</p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-2">※Amazon URLとリンクしています</p>
            <ul class="mb-5">
                <li><a href="https://amzn.asia/d/2FMx4cF" target="_blank">【音声無料】Ｚ会の速読英単語 必修編[改訂第8版]  </a></li>
            </ul>
              
            <h3 class="text-center mb-5"><strong class="text-primary">本講座の目標</strong></h3>
            <ul class="mb-5">
                <li>2ヵ月間で単語帳1冊＝約1,900語に触れることで、大学受験の基礎となる「英語学習の習慣」を身につけること</li>
                <li>音読、速読、意味理解、リスニング、要約、英作文など様々な学習法を実践することで、「自分に合った単語学習法」を見つけること</li>
            </ul>             
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              
              <div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">各回の学習内容に応じた、講師オリジナルの課題をご用意しています。<br>レッスン外でもしっかり力がつく構成です。</p>
                  </div>
                </div>
              </div>               
              
            <table class="table">
                <tr>
                  <th class="col-4">DAY</th>
                  <th class="col-8">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/8/5</td>

                  <td>
                    <ul class="mb-0">
                        <li>オリエンテーション、アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>    
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/8/12</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/8/19</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>    
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/8/26</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY5<br>2025/9/2</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>中間テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY6<br>2025/9/9</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY7<br>2025/9/16</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY8<br>2025/9/23</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY9<br>2025/9/30</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>小テスト</li>                 
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>自宅課題のお伝え：1日1単元の音読＆リスニング、和文英訳</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/7</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>単語学習法①：リスニング、オーバーラッピング、音読</li>
                        <li>単語学習法②：速読、内容理解、要約</li>
                        <li>期末テスト</li>                            
                        <li>単語学習法③：和文英訳</li>
                        <li>質疑応答、お悩み相談</li>
                        <li>総括</li>
                    </ul>
                  </td>
                </tr>
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
