<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>大学入学共通テスト　年内仕上げ講座｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/kazudaigakucommontest202511">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<header id="header" class="wte_header sb-slide">
  <div class="container-fluid position-relative">
    
    <div class="row">
      <div class="col-12 text-center">
        <div class="wte_logo"><a href="https://www.worldtalk.jp/p/daigakucommontest202511"><img src="/assets/img/common/logo_w.png" alt="ワールドトーク"></a></div>
      </div>
    </div>

  </div>
</header>
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">         
              <img src="/assets/img/syllabus/header_kazudaigaku202511.png" class="w-100 h-auto" alt="大学入試共通テスト 完全攻略講座">
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-10 offset-lg-1 px-5">  
              <h2 class="text-center mb-5"></h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">       
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">高校1～3年生（高卒生含む）対象の共通テスト対策講座。<br>直近3年分の公式過去問を徹底分析し、大問別の攻略法を伝授します。<br>時間配分、資料問題の突破、リスニング先読みなど本番直結のテクニックを網羅。<br>仲間と切磋琢磨しながら年内に仕上げを完了し、本番に向けて自信を築きます。</p>  
              
            　<!--<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">この講座は<strong class="wte_marker">セミナー形式のグループレッスン</strong>です。</p>
                    <p class="mb-0">お一人ずつに対する個別指導は行いませんので、あらかじめご了承ください。</p>  
                  </div>
                </div>
              </div>--> 
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-0">2025年11月7日(金)～2025年12月26日（金）</p>
            <ul class="mb-5">
              <li>毎回 21:00～21:50（50分）</li>
              <li>週1回・全8回（2ヶ月間）</li>
            </ul>
              
            <!--<h3 class="text-center mb-5"><strong class="text-primary">参加形式</strong></h3>
            <ul class="mb-5">
              <li>オンラインでのリアルタイム参加</li>
              <li>アーカイブ視聴のみの参加も可能</li>
            </ul>-->      
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-3">購入は不要です。<br>公式過去問「令和7年度試験」の中から、重要問題だけを精選して使用します。</p> 
            <p class="d-md-inline-block mb-5">出典：大学入試センターホームページ<br><a href="https://www.dnc.ac.jp/kyotsu/kakomondai/" target="_blank">https://www.dnc.ac.jp/kyotsu/kakomondai/</a></p>
              
            　<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                      <h5 class="mb-0"><strong class="wte_marker">個別学習プランをプレゼント！</strong></h5>
                      <p class="mb-0">入試本番までの学習スケジュールを、個別にカスタマイズしてお届けします。<br>やるべきことが明確になるから、合格にぐっと近づきます。</p>  
                  </div>
                </div>
              </div>               
              
          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5 mt-4"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <th class="col-5">レッスン内容</th>                    
                  <th class="col-4">ぺージ範囲</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/11/7（金）</td>
                  <td>
                    <strong>【短文・図を正確に読み取ろう】</strong>
                    <ul class="mb-0">
                        <li>オリエンテーション</li>
                        <li>共通テスト英語の近年の傾向解説</li>
                        <li>各大学で求められる点数水準のお伝え</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リーディング第1問、第2問
                    <!--<<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->                    
                  </td>                    
                </tr>
                <tr>
                  <td>DAY2<br>2025/11/14（金）</td>
                  <td>
                    <strong>【日常会話・説明文の要旨を捉えよう】</strong>  
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>                      
                  </td>
                  <td>
                    令和7年度リーディング第3問、第4問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->       
                  </td>                     
                </tr>
                <tr>
                  <td>DAY3<br>2025/11/21（金）</td>
                  <td>
                    <strong>【論説文の論理展開を把握しよう】</strong> 
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リーディング第5問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->             
                  </td>                    
                </tr>
                <tr>
                  <td>DAY4<br>2025/11/28（金）</td>
  
                  <td>
                    <strong>【複雑な説明文を攻略しよう】</strong>  
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リーディング第6問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr>
                <tr>
                  <td>DAY5<br>2025/12/5（金）</td>
   
                  <td>
                    <strong>【登場人物の心情を想像・理解しよう】</strong>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リーディング第7問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                    
                </tr>  
                <tr>
                  <td>DAY6<br>2025/12/12（金）</td>
 
                  <td>
                    <strong>【評論文を「得意」に変えよう】</strong>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リーディング第8問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                      
                </tr>      
                <tr>
                  <td>DAY7<br>2025/12/19（金）</td>
  
                  <td>
                    <strong>【先読みのテクニックを身につけよう】</strong>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>リスニングの近年の傾向解説</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                        <li>次回までの課題お伝え</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リスニング第1～4問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                     
                </tr>  
                <tr>
                  <td>DAY8<br>2025/12/26（金）</td>
   
                  <td>
                    <strong>【音に集中して聴く体力をつけよう】</strong>
                    <ul class="mb-0">
                        <li>アイスブレイク</li>
                        <li>問題演習および解法・コツ伝授</li>
                        <li>質疑応答</li>
                    </ul>
                  </td>
                  <td>
                    令和7年度リスニング第5～6問
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>                    
                </tr>                  

              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
