<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>英検1級2次完全攻略！講座｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/about">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_seminor2">
      <div class="wte_catch">
        <h1>英検1級2次完全攻略！講座</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-8 offset-lg-2 px-5">  
            <h2 class="text-center mb-5">英検1級2次完全攻略！講座について</h2>
              
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-5">英検1級2次試験合格を目指す人、将来的に目指したい人のための講座です。<br>①	【アウトプット機会】6名程度の少人数ならではのペアワーク・模擬面接<br>②	【インプット機会】NHKテキスト『現代ビジネス英語』を用いた、面接で使える「ホットトピック」の学習<br>③	【理解の定着と実践】毎週講師から出す課題<br>など、合格までのエッセンスを詰め込んだ全10回のプログラムです。</p>  
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年8月7日（木）～2025年10月9日（木）21:00～21:50 </p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-2">※Amazon URLとリンクしています</p>
            <ul class="mb-5">
                <li><a href="https://amzn.asia/d/6bZFKAb" target="_blank">音声DL BOOK 杉田敏の 現代ビジネス英語 2025年 夏号 (語学シリーズ)</a></li>
            </ul>
          </div>
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
              <div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">各回の学習内容に応じた、講師オリジナルの課題をご用意しています。<br>レッスン外でもしっかり力がつく構成です。</p>
                  </div>
                </div>
              </div>               
              
            <table class="table">
                <tr>
                  <th class="col-4">DAY</th>
                  <th class="col-8">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/8/7</td>

                  <td>
                    <ul class="mb-0">
                        <li>オリエンテーション</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/8/14</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/8/21</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/8/28</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY5<br>2025/9/4</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY6<br>2025/9/11</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY7<br>2025/9/18</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆予習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY8<br>2025/9/25</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>リスニング、オーバーラッピング</li>
                        <li>関連トピックでのディスカッション</li>
                        <li>Short Speech個人ワーク＆ペアワーク</li>
                        <li>自宅課題のお伝え：テキストの音読＆復習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY9<br>2025/10/2</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>本番形式の模擬面接、生徒さん同士のフィードバック</li>
                        <li>面接官からの想定質問を考える</li>
                        <li>自宅課題のお伝え：テキストの音読＆復習、Short Speech原稿作成＆音読</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY10<br>2025/10/9</td>

                  <td>
                    <ul class="mb-0">
                        <li>アイスブレイク（グループワーク）</li>
                        <li>本番形式の模擬面接、生徒さん同士のフィードバック</li>
                        <li>面接官からの想定質問を考える</li>
                        <li>総括</li>
                    </ul>
                  </td>
                </tr>
              </table>

          </div>
        </div>

      </div>
    </section>
      
      



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
