<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>英検２級直前パック - Writing -｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/kohayeikenpackagerandl">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_student">
      <div class="wte_catch">
        <h1>英検２級直前パック Writing</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-10 offset-lg-1 px-5">  
              <h2 class="text-center mb-5">英検２級直前パック<span class="d-none d-md-inline"> </span><br class="d-inline d-md-none">- Writing -</h2>
          </div>
          <div class="col-12 col-lg-8 offset-lg-2 px-5">       
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">英検2級の要約問題と意見作文について本番前に知っておきたい知識や技術を確認する講座です。<br>実際に宿題を通して作文を書くことで、習った知識や技術の実践を行います。</p>  
              
            　<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">この講座は<strong class="wte_marker">セミナー形式のグループレッスン</strong>です。</p>
                    <p class="mb-0">お一人ずつに対する個別指導は行いませんので、あらかじめご了承ください。</p>  
                  </div>
                </div>
              </div> 
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-0">2025年9月17日（水）、19日（金）、24日（水）、26日（金）</p>
            <ul class="mb-5">
              <li>毎回 21:00-21:25（25分）</li>
              <li>週2回・全4回（2週間）</li>
            </ul>
              
            <h3 class="text-center mb-5"><strong class="text-primary">参加形式</strong></h3>
            <ul class="mb-5">
              <li>オンラインでのリアルタイム参加</li>
              <li>アーカイブ視聴のみの参加も可能</li>
            </ul>      
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-0">※Amazon URLとリンクしています</p> 
            <p class="d-md-inline-block mb-5"><a href="https://x.gd/zXHz5" target="_blank">最短合格！ 英検2級 要約＆英作文完全制覇</a></p>
              
          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5 mt-4"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <th class="col-4">ぺージ範囲</th>
                  <th class="col-9">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/9/17</td>
                  <td>
                    <ul class="mb-0">
                        <li>pp.18-48</li>
                    </ul>
                    <!--<<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->                    
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>要約問題の解き方</li>
                        <li>振り返りと宿題の連絡</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/9/19</td>
                  <td>
                    <ul class="mb-0">
                        <li>pp.112-136</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->       
                  </td>    
                  <td>
                    <ul class="mb-0">
                        <li>意見問題の解き方</li>
                        <li>振り返りと宿題の連絡</li>
                    </ul>                      
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/9/24</td>
                  <td>
                    <ul class="mb-0">
                        <li>pp.50-53</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->             
                  </td>
                  <td>
                    <ul class="mb-0">
                        <li>受講者様の要約を添削(提出がない場合は、要約問題のデモンストレーション)</li>
                        <li>振り返り</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/9/26</td>
                  <td>
                    <ul class="mb-0">
                        <li>pp.220-221</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>   
                  <td>
                    <ul class="mb-0">
                        <li>受講者様の作文を添削(提出がない場合は、作文問題のデモンストレーション)</li>
                        <li>振り返り</li>
                    </ul>
                  </td>
                </tr>

              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
