<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>英単語暗記革命！！講座｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/about">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page wte_page_seminor">
      <div class="wte_catch">
        <h1>英単語暗記革命！！</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-8 offset-lg-2 px-5">  
            <h2 class="text-center mb-5">英単語暗記革命！！講座について</h2>
              
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">英検やTOEICなどをはじめとした資格試験、そして学校の英語授業や日常英会話にて英単語学習にお悩みをかかえる方が対象です。<br>単語学習の工夫を学ぶことにより、自分にとって最適な学び方を選びことができる力を養成します。</p>  
              
            　<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">この講座は<strong class="wte_marker">セミナー形式のグループレッスン</strong>です。</p>
                    <p class="mb-0">お一人ずつに対する個別指導は行いませんので、あらかじめご了承ください。</p>  
                  </div>
                </div>
              </div> 
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-5">2025年7月30日（水）～2025年8月27日（水）21:00～21:50<br>週1回50分×5回</p>
              
            <h3 class="text-center mb-5"><strong class="text-primary">参加形式</strong></h3>
            <ul class="mb-5">
              <li>オンラインでのリアルタイム参加</li>
              <li>アーカイブ視聴のみの参加も可能</li>
            </ul>         
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-5">なし</p>              
          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <!--<th class="col-4">対象ページ</th>-->
                  <th class="col-9">レッスン内容</th>
                </tr>
                <tr>
                  <td>DAY1<br>2025/7/30</td>
                  <!--<td>
                    <ul class="mb-0">
                        <li>Lesson 1 Nostalgic Eating (1)~(3)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>                    
                  </td>-->  
                  <td>
                    <ul class="mb-0">
                        <li>自分がとるべき学習方法を大まかに確認する方法がわかる。</li>
                        <li>自分の現在の語彙力を知る。</li>
                        <li>振り返りを行う。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2025/8/6</td>
                  <!--<td>
                    <ul class="mb-0">
                        <li>Lesson 1 Nostalgic Eating (4)~(5)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSdDt4BLYLNY71adn_aUUfPfs5EM0zBY0pkfQve-nluya5p6cw/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/6（水））</div>                      
                  </td>--> 
                  <td>
                    <ul class="mb-0">
                        <li>効果的な英単語学習の方法を学ぶ。</li>
                        <li>一部の学習法について、レッスンの中で実践する。</li>
                        <li>振り返りを行う。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY3<br>2025/8/13</td>
                  <!--<td>
                    <ul class="mb-0">
                        <li>Lesson 2 July Is Disability Pride Month (1)~(3)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScpdCrKKEl3GGI5OqOJwjyjIlR00Z58dk85bO8zccgQfXS3iw/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/13（水））</div>                      
                  </td>--> 
                  <td>
                    <ul class="mb-0">
                        <li>効果的な学習習慣の立て方を学ぶ。</li>
                        <li>自身の学習習慣について共有する。</li>
                        <li>振り返りを行う。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY4<br>2025/8/20</td>
                  <!--<td>
                    <ul class="mb-0">
                        <li>Lesson 2 July Is Disability Pride Month (4)~(5)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSfjC4E8u9wr4EImBTKYHr05AjrY_SPzTNphh71O9XhuYrhH8w/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/20（水））</div>                        
                  </td>--> 
                  <td>
                    <ul class="mb-0">
                        <li>英単語学習が上手くいかない時の原因を分析をし対策を立てられるような戦略を学ぶ。</li>
                        <li>一部の学習法について、レッスンの中で実践する。</li>
                        <li>振り返りを行う。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>DAY5<br>2025/8/27</td>
                  <!--<td>
                    <ul class="mb-0">
                        <li>Lesson 3 The ‘Humanization’ of Pets (1)~(3)</li>
                    </ul>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScbXR9VZfcpllppeHZFG8L_fOVUQI6luloIjo5WgvYIt8dxBw/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/8/27（水））</div>                      
                  </td>--> 
                  <td>
                    <ul class="mb-0">
                        <li>英単語を使いこなせるような学習法を学ぶ。</li>
                        <li>一部の学習法を実践する。</li>
                        <li>振り返りを行う。</li>
                    </ul>
                  </td>
                </tr>
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
