<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>英検２級直前パック Reading & Listening 講座｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/kohayeikenpackagerandl202601">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">         
              <img src="/assets/img/syllabus/header_eikenpackrandl202601.png" class="w-100 h-auto" alt="英検２級直前パック Reading & Listening 講座">
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">

          <div class="col-12 col-lg-8 offset-lg-2 px-5">       
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p class="mb-0">英検2級の読解とリスニングで本番前に知っておきたい知識や技術を確認する講座です。<br>実際に講座の中で問題を解く中で、習った知識や技術の実践を行います。</p>  
              
            　<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">この講座は<strong class="wte_marker">セミナー形式のグループレッスン</strong>です。</p>
                    <p class="mb-0">お一人ずつに対する個別指導は行いませんので、あらかじめご了承ください。</p>  
                  </div>
                </div>
              </div> 
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-0">2026年1月13日(火)、16日(金)、20日（火）、23日（金）</p>
            <ul class="mb-5">
              <li>毎回20:00～20:50（50分）</li>
              <li>週2回・全4回（2週間）</li>
            </ul>
              
            <h3 class="text-center mb-5"><strong class="text-primary">参加形式</strong></h3>
            <ul class="mb-5">
              <li>オンラインでのリアルタイム参加</li>
              <li>アーカイブ視聴のみの参加も可能</li>
            </ul>                    
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-0">※Amazon URLとリンクしています</p>  
            <p class="d-md-inline-block mb-4"><a href="https://x.gd/lTHUr" target="_blank">最短合格! 英検2級 リーディング&リスニング問題完全制覇</a></p><br>              
            <p class="mb-0">▼以下は購入任意ですが、あるとより効果的です</p>   

            <p class="d-md-inline-block me-5"><a href="https://x.gd/gbmA7I" target="_blank">出る順で最短合格! 英検2級単熟語EX 第2版</a></p>
              
          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5 mt-4"><strong class="text-primary">カリキュラム</strong>詳細</h3>
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <th class="col-6">レッスン内容</th>
                  <th class="col-3">ページ範囲</th>
                </tr>
                <tr>
                  <td>DAY1<br>2026/1/13</td>
                  <td>
                    <ul class="mb-0">
                        <li>単語学習法</li>
                        <li>Reading 空所補充対策</li>
                        <li>Reading E-mail問題対策</li>
                        <li>振り返りと宿題の連絡</li>
                    </ul>
                  </td>                    
                  <td>
                    <ul class="mb-0">
                        <li>pp.106-115</li>
                        <li>pp.56-61</li>
                    </ul>
                    <!--<<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->                    
                  </td>
                </tr>
                <tr>
                  <td>DAY2<br>2026/1/16</td>
                  <td>
                    <ul class="mb-0">
                        <li>単語テスト、言い換えテスト</li>
                        <li>Listening 大問1対策</li>
                        <li>振り返りと宿題の連絡</li>
                    </ul>                      
                  </td>                    
                  <td>
                    <ul class="mb-0">
                        <li>pp.230-237</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->       
                  </td>    

                </tr>
                <tr>
                  <td>DAY3<br>2026/1/20</td>
                  <td>
                    <ul class="mb-0">
                        <li>単語テスト、言い換えテスト</li>
                        <li>Reading 論説文問題対策</li>
                        <li>振り返りと宿題の連絡</li>
                    </ul>
                  </td>                    
                  <td>
                    <ul class="mb-0">
                        <li>pp.88-100</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->             
                  </td>

                </tr>
                <tr>
                  <td>DAY4<br>2026/1/23</td>
                  <td>
                    <ul class="mb-0">
                        <li>単語テスト、言い換えテスト</li>
                        <li>Listening 大問2対策</li>
                        <li>振り返り</li>
                    </ul>
                  </td>                    
                  <td>
                    <ul class="mb-0">
                        <li>pp.248-257</li>
                    </ul>
                    <!--<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScTsVtc31zb7XAeAWQWtmpfDWNI1BYmMBP6V6v78dzWlzLNeQ/viewform?usp=sharing&ouid=115853646129967094532" target="_blank">宿題フォームはこちら</a><br>（〆切：2025/7/30（水））</div>-->        
                  </td>   
                </tr>
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
