<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>料金プラン｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="%product_name%,料金プラン,オンラインレッスン" />
<link rel="canonical" href="%ssl_host_url%/wte/plan" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
  <TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>料金プラン</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">安価な<strong class="text-primary">プラン</strong><br class="d-block d-md-none">用意しております</h2>
          </div>
          <div class="col-12 px-5">
            <p class="text-left text-md-center mb-0">%product_name%では、レッスンの予約にポイントを利用します。<br>ポイントは毎月定額で購入できる月額プラン、もしくは単発で購入するスポットプランを選べます。<br>ポイントには有効期限がございますのでご利用の際はご注意ください。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- subscription section -->
    <section class="bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">お得な<strong class="text-primary">月額</strong>プラン</h2>
          </div>
        </div>
        <div class="row wte_plan mb-5">
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">お気軽プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">3,300</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">3,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～3</strong>回</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">安心プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">5,500</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">5,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～5</strong>回</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-secondary pt-4" style="margin-top:-.5rem">
                <h3 class="text-white h5 text-center">お得プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-secondary">6,600</strong>円</li>
                  <li class="list-group-item"><strong class="text-secondary">6,500</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-secondary">2～6</strong>回</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-secondary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-secondary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">しっかりプラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">11,000</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">11,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">3～11</strong>回</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">強化プラン</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">22,000</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">22,000</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">7～22</strong>回</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="alert alert-muted bg-white mb-5">
            <div class="row">
              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
              </div>
              <div class="col-10 col-md-11">
                <ul class="wte_note">
                  <li>金額は税込価格です</li>
                  <li>購入いただいたポイントは返金できませんのでご注意ください</li>
                  <li>ポイントの有効期限を過ぎると失効となります</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- spot section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">追加の<strong class="text-primary">スポット</strong>プラン</h2>
          </div>
        </div>
        <div class="row wte_plan mb-5">
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">1,000ポイント</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item"><strong class="text-primary">1,100</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">1,000</strong>pt付与</li>
                  <li class="list-group-item"><strong class="text-primary">1</strong>回追加</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">1,500ポイント</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item"><strong class="text-primary">1,650</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">1,500</strong>pt付与</li>
                  <li class="list-group-item"><strong class="text-primary">1</strong>回追加</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">2,000ポイント</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item"><strong class="text-primary">2,200</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">2,000</strong>pt付与</li>
                  <li class="list-group-item"><strong class="text-primary">1～2</strong>回追加</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">3,000ポイント</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item"><strong class="text-primary">3,300</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">3,000</strong>pt付与</li>
                  <li class="list-group-item"><strong class="text-primary">1～3</strong>回追加</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-15">
            <div class="card mb-4">
              <div class="card-header bg-primary pt-3">
                <h3 class="text-white h5 text-center">5,000ポイント</h3>
              </div>
              <div class="card-body">
                <ul class="p-0 text-center list-group">
                  <li class="list-group-item">月額<strong class="text-primary">4,950</strong>円</li>
                  <li class="list-group-item"><strong class="text-primary">4,500</strong>pt付与</li>
                  <li class="list-group-item">受講<strong class="text-primary">1～3</strong>回追加</li>
                  <li class="list-group-item d-none d-md-block">1コマ<strong class="text-primary">25</strong>分</li>
                  <li class="list-group-item">有効期限<strong class="text-primary">1</strong>ヶ月</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="alert alert-muted mb-5">
            <div class="row">
              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
              </div>
              <div class="col-10 col-md-11">
                <ul class="wte_note">
                  <li>金額は税込価格です</li>
                  <li>購入いただいたポイントは返金できませんのでご注意ください</li>
                  <li>ポイントの有効期限を過ぎると失効となります</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- pay section -->
    <section class="bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">お支払</strong>について</h2>
            <p class="text-left text-md-center mb-0">%product_name%では、クレジットカードと銀行振込にてポイント購入ができます。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <h3 class="text-center">クレジットカード決済</h3>
              </div>
              <div class="card-body">
                <ul class="pselect">
                  <li><img src="/assets/img/icons/visa.svg" alt="VISA"></li>
                  <li><img src="/assets/img/icons/mastercard.svg" alt="MASTERカード"></li>
                  <li><img src="/assets/img/icons/jcb.svg" alt="JCB"></li>
                </ul>
                <ul>
                  <li>クレジットカードはVISA、MASTER、JCBに対応しています。</li>
                  <li>月額プランは、毎月コースの月額料金を引き落としいたします。</li>
                  <li>カード情報の送信は初月のみで、翌月からは自動的に引き落としされるため、更新は不要です。</li>
                  <li>お支払い後、すぐにレッスンの予約が可能です。</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <h3 class="text-center">銀行振込</h3>
              </div>
              <div class="card-body">
                <ul class="pselect">
                  <li><img src="/assets/img/icons/bank.svg" alt="銀行振込"></li>
                </ul>
                <ul>
                  <li>銀行振込はスポットプランのみの対応となります。</li>
                  <li>銀行振込フォームより購入プランを送信いただいた後、お客様よりお振込み頂く流れとなります。</li>
                  <li>入金確認後に受講が可能となります。※金融機関により、お振込みいただいてから確認までに数日かかる場合もございます。</li>
                  <li>お振り込み手数料はお客様ご負担となります。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
