<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>Meetについて - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%のオンラインレッスンでは通話システムにMeetを利用いたします。Meetは無料で使えるオンラインのビデオ通話システムです。ブラウザで開くシステムなので、アプリのインストールも不要。気軽にご利用いただけます。" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>Meetについて</h1>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
          
        <div class="row">
          <div class="col-12 px-5 pb-5">
            <h2 class="text-center mb-5"><strong class="text-primary">Meet</strong>でオンライン<br class="d-block d-md-none">レッスンを楽しもう！</h2>
            <p class="text-md-center">Meetは無料で使えるオンラインのビデオ通話システムです。<br>Googleのアカウントがあれば、気軽に高画質のビデオ通話や画面共有をご利用いただけます。</p>
            <p class="text-md-center">Meetはブラウザで動く仕組みのため、複雑なソフトのインストールも不要です。<br>以下の手順でご利用ください。</p>  
          </div>
        </div>
          
          
        <div class="row">
          <div class="col-12 px-5 pt-md-5"> 
            <h3 class="mb-5 wte_head-border"><span class="badge badge-circle rounded-pill badge-primary">Step.1</span>Googleアカウント作成</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-md-6 px-5 mb-5">
            <p>GmailなどのGoogleアカウントがない方はアカウント作成をお願いします。</p>
            <p>「アカウントを作成する」から簡単に作成ができますので、気軽にご登録ください。<br>その他Googleの便利なサービスも利用可能です。</p>
            <div class="text-start"><a href="https://www.google.com/account/about/?hl=ja" class="btn btn-warning rounded-pill" target="_blank">&raquo; Googleアカウントの作成はこちら</a></div>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <img src="/assets/img/starter/meet_step_1.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="Googleアカウント作成" loading="lazy">
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 text-center">
            <i class="fa-solid fa-angles-down text-primary big"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12 px-5">
            <h3 class="mb-5 wte_head-border"><span class="badge badge-circle rounded-pill badge-primary">Step.2</span>レッスン前に<br class="d-md-none">ビデオとマイクのチェック</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-md-6 px-5 mb-5 order-md-2">
            <p>Google Meetのページから「新しい会議」を作成し、「今すぐ開始」をクリックしましょう。</p>
            <p>Meetが開きますので、ビデオと音声がちゃんと反応しているかご確認ください。</p>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5 order-md-1">
            <img src="/assets/img/starter/meet_step_2.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="レッスン前にビデオとマイクのチェック" loading="lazy">
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 text-center">
            <i class="fa-solid fa-angles-down text-primary big"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12 px-5">
            <h3 class="mb-5 wte_head-border"><span class="badge badge-circle rounded-pill badge-primary">Step.3</span>レッスンを楽しもう！</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-md-6 px-5 mb-5">
            <p>Meetの準備ができたらレッスンスタート！<br>MeetのURLを起動しお待ちください。<br>%prof_caption%がルームに招待いたします。</p>
            <p>Meetでは画面共有機能やチャットなど、オンラインレッスンに使える機能がたくさんあります！<br>是非、充実したレッスンをお楽しみください。</p>
          </div>
          <div class="col-12 col-md-6 px-5 mb-5">
            <img src="/assets/img/starter/meet_step_3.jpg" class="w-100 h-100 rounded-2 object-fit-cover" alt="レッスンを楽しもう！" loading="lazy">
          </div>
        </div>

      </div>
    </section>

      <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
