<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>特定商取引法に基づく表示｜<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%のオンラインレッスン販売における、特定商取引法に基づく表示です。" />
<meta name="keywords" content="%product_name%,特定商取引法に基づく表示,オンラインレッスン" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>特定商取引法に基づく表示</h1>
      </div>
    </section>
    
    <!-- table section -->
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5">特定商取引法に基づく表示</h2>
            <p class="text-md-center mb-5">%product_name%のオンラインレッスン販売における、特定商取引法に基づく表示です。</p>
          </div>
          <div class="col-12 col-lg-10 offset-lg-1">
          
            <table class="table">
            <tr>
              <th class="col-3">会社名</th>
              <td class="col-9">株式会社ライトアップ</td>
            </tr>
            <tr>
              <th>サービス名称</th>
              <td>WTE（ワールドトークエンジン）</td>
            </tr>
            <tr>
              <th>業務内容</th>
              <td>オンラインレッスンの提供サービス、電子コンテンツ（電子書籍、動画等）のダウンロードサービス</td>
            </tr>
            <tr>
              <th>代表者</th>
              <td>白石 崇</td>
            </tr>
            <tr>
              <th>本店住所</th>
              <td>〒150-0002　東京都渋谷区渋谷2-15-1　渋谷クロスタワー32F</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>03-5784-0707</td>
            </tr>
            <tr>
              <th>FAX番号</th>
              <td>03-5784-0717</td>
            </tr>
            <tr>
              <th>ホームページ</th>
              <td><a href="https://www.writeup.jp/" target="_blank">https://www.writeup.jp/</a></td>
            </tr>
            <tr>
              <th>商品代金</th>
              <td>商品ごとに表示しております</td>
            </tr>
            <tr>
              <th>商品代金以外の必要料金</th>
              <td>消費税</td>
            </tr>
            <tr>
              <th>お支払方法</th>
              <td>クレジットカード決済</td>
            </tr>
            <tr>
              <th>サービス開始時期</th>
              <td>%member_caption%登録を行い、クレジット決済認証後に動画や資料のダウンロード、レッスンを開始</td>
            </tr>
            <tr>
              <th>レッスン予約回数</th>
              <td>月々お支払いいただく金額に応じてレッスンの予約可能回数が異なります。またご登録者数に合わせて%prof_caption%を採用しておりますが、ご予約は先着順となり時間帯によってはご予約できなくなる可能性がございます。</td>
            </tr>
            <tr>
              <th>商品について</th>
              <td>特定商取引法上の商品に該当するものはございません。本サービスは全てオンラインで行います。</td>
            </tr>
            <tr>
              <th>販売価格</th>
              <td>月額制若しくは従量制（詳細は当社の規定による）</td>
            </tr>
            <tr>
              <th>返品・返金について</th>
              <td>デジタルコンテンツのため、商品の性質上返品・返金はお受けしておりません。</td>
            </tr>
            <tr>
              <th>退会について</th>
              <td>退会は特にございません。ご登録を解除されたい場合はお問合せフォームにてお伝えください。なお6ヶ月以上のご予約がない場合はこちらで削除する場合もあります。</td>
            </tr>
            <tr>
              <th>お問い合わせ先</th>
              <td>こちらの<a href="/WTE/site.cgi?m=inqfrmshw">お問い合わせフォーム</a>より、お問い合わせください。</td>
            </tr>
            <tr>
              <th>お問い合わせ時間</th>
              <td>営業日は月～金曜日（祝日除く）10：00～19：00となります。</td>
            </tr>

          </table>
          
          </div>
        </div>
      </div>
    </section>

  <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
