<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>お客様の声 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="%product_name%" />
<link rel="canonical" href="%ssl_host_url%/wte/voice" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="<TMPL_INCLUDE NAME="../include/body_class.html">">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">


    <!-- pagevis section -->
    <section class="wte_page">
      <div class="wte_catch">
        <h1>お客様からの声</h1>
      </div>
    </section>
      
      
    <!-- voice section -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <h2 class="text-center mb-5"><strong class="text-primary">お客様</strong>からの声</h2>
            <p class="text-start text-md-center mb-5">%product_name%はこれまで多くのお客様からお声をいただきました。<br>その一部を紹介させていただきます。</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_1.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">%prof_caption%と話すことがモチベーションになっています</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（女性 会社員）</p>
                <p class="mb-0">何をやっても長続きしない性格なのですが、今回は続けられています。<br>それも、%product_name%で出会った%prof_caption%のおかげです。<br>挫折を繰り返しながらも、努力してスキルをつけた%prof_caption%の話を聞いて、同じようになりたいとモチベーションになります。<br>レッスンを続けたことで少しずつですが、私の会話力も成長していると感じます。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2 order-2">
            <img src="/assets/img/voice/voice_2.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 pe-0 pe-md-4 order-1">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">効率的に時間を使えるので計画を立てやすいです</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 会社員）</p>
                <p class="mb-0">毎日、仕事で忙しくてなかなか学校に通う時間がない中、オンラインで学習ができるというのはとても助かります。<br>マンツーマンレッスンだから、無駄な時間もなく充実したレッスンができています。<br>%prof_caption%も海外でビジネス経験がある方のため、将来のためにどういうスキルを身につけるべきか、話しているだけでも勉強になってます。</p>
              </div>
              <button class="wte_morebtn">続きを読む</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_3.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">バイトの給与を使って自分に投資をしています</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 大学生）</p>
                <p class="mb-0">%product_name%はお手頃な価格で続けられるので、大学生である私でも利用することができます。<br>学業の合間にバイトをして、そのお金を使って毎月学習を進めています。<br>%prof_caption%とのレッスンは学びが多く、自分の成長に繋がっていると実感しています。<br>自分に投資して、将来のために活かしていきたいと思います。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2 order-2">
            <img src="/assets/img/voice/voice_4.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 pe-0 pe-md-4 order-1">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">子ども心を掴むのがとてもうまいです</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（女性 会社員／小学生の保護者）</p>
                <p class="mb-0">小学生の子どもがお世話になっています。<br>他の教室では緊張してあまり話せなかった娘ですが、%prof_caption%が子ども心を掴みながら楽しくレッスンを進めてくれるので、毎回レッスンをとても楽しみにしているようです。<br>子ども向けレッスンを得意とする%prof_caption%がたくさんいらっしゃるので、助かっています。</p>
              </div>
              <button class="wte_morebtn">続きを読む</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_5.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">資格取得のための道筋を立ててくれる</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 大学生）</p>
                <p class="mb-0">「資格取得」という明確な目標があることを初回のレッスンで%prof_caption%にお伝えしたところ、現在のスキルをチェックしたうえで、明確な学習計画プランを立ててくれました。<br>その結果、最短距離で目標を達成することができました。<br>独学で勉強するよりずっと効率的だと思いました。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2 order-2">
            <img src="/assets/img/voice/voice_6.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 pe-0 pe-md-4 order-1">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">初心者で不安でしたが安心して続けています</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（女性 会社員）</p>
                <p class="mb-0">まったくの初心者だったため、始めるまではとても不安だったのですが、初めての授業で%prof_caption%の方からとても丁寧にレクチャーしていただき、緊張することなくレッスンに臨めました。<br>ほかにも数人の%prof_caption%にレッスンを受けましたが、皆さんとても優しく安心して受講できます。<br>これからもよろしくお願いします。</p>
              </div>
              <button class="wte_morebtn">続きを読む</button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3 col-md-2">
            <img src="/assets/img/voice/voice_7.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 ps-0 ps-md-4">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">わからないところを質問できるのでスキルアップが実感できる</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（男性 会社員）</p>
                <p class="mb-0">マンツーマンレッスンなので、わからないところがあったり、つまずく度に質問できるため、挫折することなく続けることができています。<br>%prof_caption%の方はこちらが理解できるまでしっかり丁寧に教えて下さるので、スキルアップが実感できます。仕事やプライベートにさらに活かせるよう、頑張りたいです。</p>
              </div>
              <button class="wte_morebtn">もっと見る</button>
            </div>
          </div>
        </div>  
        <!--<div class="row mb-5">
          <div class="col-3 col-md-2 order-2">
            <img src="/assets/img/voice/voice_4.png" class="w-100 rounded-circle px-3">
          </div>
          <div class="col-9 col-md-10 pe-0 pe-md-4 order-1">
            <div class="wte_balloon wte_more">
              <div class="wte_more_container">
                <h3 class="h4 text-primary mb-0">勉強をすることが楽しいと感じるようになりました</h3>
                <p class="fs-5 fw-bold text-dark text-bold">（女性 会社員）</p>
                <p class="mb-0">今まで勉強することが嫌いで、仕事で必要なスキルを身につけるために仕方なく初めたレッスンでした。<br>しかし、%prof_caption%とお話しするのとが楽しく、スキルも身についてくるとさらに楽しくなりました。<br>また、自分の都合のいい時間が選べるのもとてもよかったと思っています。<br>無理なく楽しく受講でき、とても感謝しています。</p>
              </div>
              <button class="wte_morebtn">続きを読む</button>
            </div>
          </div>
        </div>-->          
      </div>
    </section>      

      
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/cta.html">
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>

