<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>アメリカ英語発音トレーニング講座<TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="">
<meta name="keywords" content="%product_name%,はじめての方へ,オンラインレッスン">
<link rel="canonical" href="%ssl_host_url%/wte/yoshinokamericanaccent202603">
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="smallheader">
<TMPL_INCLUDE NAME="../include/body.html">
<TMPL_INCLUDE NAME="../include/header_small.html">
    
  <div id="sb-site">

    <!-- pagevis section -->
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 px-5">         
              <img src="/assets/img/syllabus/header_american202603.png" class="w-100 h-auto" alt="アメリカ英語発音トレーニング講座">
          </div>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section>
      <div class="container">
        <div class="row mb-5">
           
          <div class="col-12 col-lg-8 offset-lg-2 px-5">   
            <h3 class="text-center mb-5"><strong class="text-primary">講座の概要</strong></h3>
            <p>アメリカ英語の発音を、基礎から応用まで体系的に学びます。<br>日本語話者が発音しにくい単語やフレーズ、イントネーションの付け方・間の取り方を、日本語でしっかり理解します。<br>練習を通して、自信を持って話せる、自然で通じる発音を身につけます。</p>
              
            　<!--<div class="alert alert-muted bg-lights mb-5">
                <div class="row">
                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/idea.png" alt="hint" class="w-75 h-auto">
                  </div>
                  <div class="col-10 col-md-11">
                    <p class="mb-0">この講座は<strong class="wte_marker">セミナー形式のグループレッスン</strong>です。</p>
                    <p class="mb-0">お一人ずつに対する個別指導は行いませんので、あらかじめご了承ください。</p>  
                  </div>
                </div>
              </div>-->               
  
              
            <h3 class="text-center mb-5"><strong class="text-primary">期間</strong></h3>
            <p class="mb-2">2026年3月2日（月）、9日（月）、16日（月）、30日（月） ※23日はお休み</p>
            <ul class="mb-5">
              <li>毎回20：00 ～ 20：50（50分）</li>
              <li>月4回・全4回（1か月）</li>
            </ul>
              
              
            <!--<h3 class="text-center mb-5"><strong class="text-primary">参加形式</strong></h3>

            <ul class="mb-5">
              <li>オンラインでのリアルタイム参加</li>
              <li>アーカイブ視聴のみの参加も可能</li>
            </ul>-->             
              
            <h3 class="text-center mb-5"><strong class="text-primary">使用するテキスト</strong></h3>
            <p class="mb-0">なし<br>（講師オリジナル教材を使用）</p>
            <!--<p class="mb-5"><a href="https://drive.google.com/file/d/1g9I9Bxu3X1PPdepUgiHJpy2t5AIkwg-l/view?usp=sharing" target="_blank">レッスンのテキストサンプル</a></p>-->

          </div>
            
          <div class="col-12 px-5" id="syllabus">
            <h3 class="text-center mb-5"><strong class="text-primary">カリキュラム詳細</strong></h3>
              
             
              
            <table class="table">
                <tr>
                  <th class="col-3">DAY</th>
                  <th class="col-5">レッスン内容</th>
                  <th class="col-4">到達目標</th>
                </tr>
                <!--<tr>
                  <td>DAY0<br></td>
                  <td>                    
                  </td>
                  <td>
                      金のパッケージ P20~50                      
                  </td
                </tr>-->               
                <tr>
                  <td>DAY1<br>2026/3/2</td>

                  <td>
                    <strong>1.パーツ練習</strong>                       
                    <ul class="mb-0">
                        <li>Tr/Dr “train, drive”</li>
                        <li>無声音・有声音 (k,g)</li>
                    </ul>
                    <strong>2.フレーズ練習・リンキング</strong>                       
                    <ul class="mb-0">
                        <li>Blending 1 - Consonant + vowel “pick up, take out”</li>
                        <li>Blending 2 – Assimilation (consonant + j/h) “can you”</li>
                    </ul>
                    <strong>3.音読練習</strong>                       
                    <ul class="mb-0">
                        <li>100文字程度、中級レベルの記事を扱う</li>
                        <li>言いづらい単語、フレーズを先に練習（日本語で説明）</li>
                        <li>講師が一度全文を読む</li>
                        <li>文章の区切りの良いところまで、講師の後について読む練習</li>
                        <li>文章の区切りの良いところまで、生徒だけで読む練習</li>
                        <li>生徒だけで全文を読む</li>
                    </ul>                      
                  </td>
                  <td> 
                    <ul class="mb-0">
                        <li>子音と母音のリンキングができるようになる。</li>
                        <li>trやdrで始まる単語の自然な発音ができるようになる。</li>
                        <li>無声音と有声音の共通点と相違点が分かるようになる。</li>
                    </ul>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY2<br>2026/3/9</td>

                  <td>
                    <strong>1.パーツ練習</strong>                       
                    <ul class="mb-0">
                        <li>ra ri ru re ro / la li lu le lo</li>
                        <li>長音母音</li>
                    </ul>
                    <strong>2.フレーズ練習・リンキング</strong>                       
                    <ul class="mb-0">
                        <li>Blending 3 – Alveolar 1 (t + vowel) “lot of, let it”</li>
                        <li>Blending 4 – Alveolar 2 (t + l) “little, subtle”</li>
                    </ul>
                    <strong>3.音読練習</strong>                       
                    <ul class="mb-0">
                        <li>新しい記事を扱う（前回同様100文字程度、中級レベル）<br>※手順は前回と同じ</li>
                    </ul>  
                  </td>
                  <td> 
                    <ul class="mb-0">
                        <li>t と母音のリンキングができるようになる。(通称：フラップT、フラッピング)</li>
                        <li>RとLの音、口の形が作れるようになる。</li>
                        <li>長音母音を発音できるようになる。</li>
                    </ul>
                  </td>                    
                </tr>
                <tr>
                  <td>DAY3<br>2026/3/16</td>
 
                  <td>
                    <strong>1.パーツ練習</strong>  
                    <ul class="mb-0">
                        <li>-al/-le “national, single”</li>
                        <li>無声音・有声音 (f,v)</li>
                    </ul>
                    <strong>2.フレーズ練習・リンキング</strong>                       
                    <ul class="mb-0">
                        <li>Elision 1 – Glottal stop (t/d + consonants） “next day”</li>
                        <li>Elision 2 – Nasal stop (t/d + n) “written”</li>
                    </ul>
                    <strong>3.音読練習</strong>                       
                    <ul class="mb-0">
                        <li>新しい記事を扱う（前回同様100文字程度、中級レベル）<br>※手順は前回と同じ</li>
                    </ul>                      
                  </td>              
                  <td> 
                    <ul class="mb-0">
                        <li>tやdと子音のリンキングができるようになる。(通称：Glottal stop)</li>
                        <li>tがnと隣接する際のリンキングができるようになる。</li>
                        <li>-al や -leで終わる単語の自然な発音ができるようになる。</li>
                    </ul>
                  </td>                     
                </tr>
                <tr>
                  <td>DAY4<br>2026/3/30</td>
 
                  <td>
                    <strong>1.パーツ練習</strong>  
                    <ul class="mb-0">
                        <li>L as う “tell”</li>
                        <li>R-colored vowel “her, first”</li>
                    </ul>
                    <strong>2.フレーズ練習・リンキング</strong>                       
                    <ul class="mb-0">
                        <li>Lateral stop(t/d + li, in suffixes) “lately”</li>
                        <li>Geminates – two same consonants “enough for”</li>
                    </ul>
                    <strong>3.音読練習</strong>                       
                    <ul class="mb-0">
                        <li>新しい記事を扱う（前回同様100文字程度、中級レベル）<br>※手順は前回と同じ</li>
                    </ul> 
                  </td>              
                  <td> 
                    <ul class="mb-0">
                        <li>Lで終わる単語を自然に発音できるようになる。</li>
                        <li>アメリカ英語の特徴的な r (R-colored vowels) を自然に発音できるようになる。</li>
                        <li>-tlyや-dlyで終わる単語を自然に発音できるようになる。</li>
                        <li>同じ子音が隣接する際のリンキングができるようになる。</li>
                    </ul>
                  </td>                     
                </tr>

 
              </table>

          </div>
        </div>

      </div>
    </section>



    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
