<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>ご利用規約｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="英検対策・TOEIC対策のオンライン英会話「ワールドトーク×桐原書店」のご利用の規約となります。会員登録いただく際、こちらの内容をご確認いただくことお願いいたします。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="ご利用規約｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="英検対策・TOEIC対策のオンライン英会話「ワールドトーク×桐原書店」のご利用の規約となります。会員登録いただく際、こちらの内容をご確認いただくことお願いいたします。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/agree" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/agree" />
  <meta name="twitter:title" content="ご利用規約｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="英検対策・TOEIC対策のオンライン英会話「ワールドトーク×桐原書店」のご利用の規約となります。会員登録いただく際、こちらの内容をご確認いただくことお願いいたします。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">
       
        <section class="wt_headvis wt_head_agree">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>講師登録に関する規約</h1>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
          <TMPL_INCLUDE NAME="../include/agreement_prf.html">
                    </div>
                </div>
            </div>
        </section>
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/WTE/prof.cgi?m=agree" itemprop="url" content="https://academy.kirihara.co.jp/WTE/prof.cgi?m=agree"><span itemprop="title">講師登録に関する規約</span></a></li>
        </ul>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
