<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>%prof_caption%ログイン - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
<style>
.bg-symbol-animals {
  position: relative;
}
.bg-symbol-animals::after {
    background: url(/assets/img/common/symbol-animals.png) no-repeat center bottom;
    background-size: contain;
    position: absolute;
    content: "";
    width: 90px;
    height: 82px;
    top: -80px;
    right: 0;
}
</style>
</head>
<body id="instructor" class="noheader">
  <div id="sb-site" class="bg-light">
   
    <!-- schedule section -->
      <div class="text-center small bg-primary text-white">
        <span class="fas fa-bookmark me-2"></span>このページをブックマークしてご利用ください
      </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-6 offset-3 col-md-2 offset-md-5">
            <p class="text-center"><img src="/assets/img/common/logo_light.png?2" alt="講師ページ" class="w-100 h-auto mb-3 mb-md-5"></p>
          </div>
          <div class="col-12 col-md-6 offset-md-3">
            <div class="wte_login card bg-symbol-animals">
              <form action="%CGI_URL%" method="post">
                <input type="hidden" name="m" value="athlinsmt" />
                <div class="card-header">
                  <h3 class="text-center">%prof_caption%ページログイン</h3>
                </div>
                <div class="card-body login-card-body">
                  <p class="text-center">登録したアドレスとパスワードで入室ください</p>
                  <TMPL_IF NAME="errs"><div class="errs text-alert">%errs%</div></TMPL_IF>
                  <div class="form-group mb-4">
                    <div class="input-group">
                      <input type="text" id="prof_email" name="prof_email" value="%prof_email%" class="form-control inputlimit_ascii %prof_email_err%" placeholder="メールアドレスを入力してください">
                        <div class="input-group-text">
                          <span class="fas fa-envelope text-primary"></span>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" id="prof_pass" name="prof_pass" value="%prof_pass%" class="form-control %prof_pass_err%" placeholder="パスワードを入力してください">
                        <div class="input-group-text" id="passview">
                          <span class="fas fa-eye-slash text-primary"></span>
                        </div>
                    </div>
                  </div>

                  <fieldset class="form-group mb-0">
                    <div class="form-check">
                      <label for="auto_login_enable"><input type="checkbox" id="auto_login_enable" name="auto_login_enable" value="1" %auto_login_enable_1_checked%>次回から自動でログイン</label>
                    </div>
                  </fieldset>
                </div>
                <div class="card-footer">
                  <div class="text-center">
                    <input type="submit" value="&raquo; ログイン" class="btn btn-primary rounded-pill" />
                  </div>
                </div>
              </form>
            </div> 
              
          </div>
        </div>
      </div>
    </section>
    
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  <script>
    //  id="view"を取得
  let viewicon = document.getElementById('passview');
  
  //  id="password"を取得
  let inputtype = document.getElementById('prof_pass');
  
  //  id="view"クリック時の処理を設定
  $('#passview').on('click', function () {
  
         //  passwordからtextへ
         if(inputtype.type === 'password'){
                inputtype.type = 'text';
                viewicon.innerHTML = '<span class="fas fa-eye text-primary"></span>';
  
          //  textからpasswordへ
          } else {
                 inputtype.type = 'password';
                 viewicon.innerHTML = '<span class="fas fa-eye-slash text-primary"></span>';
          }
  });

  </script>
</body>
</html>
