<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>コース紹介 ｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

      
<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">コース紹介</h2>
                <p class="text-center">KIRIHARA Online Academyにて準備しているコース一覧です。指導が可能なコースを選択の上、運営事務局までご連絡ください。</p>
              </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="wt_form wt_form_layer mb-5">
            
            <h3>公開中コース</h3>
            
            <table class="table table-striped wt_coursetable">
            <thead>
            <tr>
              <th class="text-center">コース名</th>
              <th class="text-center">使用教材</th>
              <th class="text-center">指導条件</th>
              <th class="text-center">報酬</th>
              <th class="text-center">指導内容</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>TOEIC&reg; L&amp;R テスト500~600点突破コース</td>
              <td>TOEIC&reg; L&amp;Rテスト書き込みドリル 全パート入門編（スコア500）<br>DataBase TOEIC&reg; L&amp;Rテスト最強 単語＆フレーズ<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span><br><br>公式TOEIC Listening &amp; Reading 問題集 10<br><span class="text-danger">※教材購入は別途必要となります</span><a href="https://amzn.to/38V14lT" target="_blank">（Amazon URL）</a></td>
              <td>TOEIC&reg;860点以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_toeic_500_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/wTeLV9Ph3UY" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_500_taiken_listening.zip" target="_blank">体験教材（リスニング）</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_500_taiken_reading.pdf" target="_blank">体験教材（リーディング）</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_500_check.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>TOEIC&reg; L&amp;R テスト730点突破コース</td>
              <td>TOEIC&reg; L&amp;Rテスト書き込みドリル 全パート標準編（スコア650）<br>DataBase TOEIC&reg; L&amp;Rテスト最強 単語＆フレーズ<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span><br><br>公式TOEIC Listening &amp; Reading 問題集 10<br><span class="text-danger">※教材購入は別途必要となります</span><a href="https://amzn.to/38V14lT" target="_blank">（Amazon URL）</a></td>
              <td>TOEIC&reg;900点以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_toeic_730_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/wTeLV9Ph3UY" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://youtu.be/W5GJfJS0Uyo" target="_blank">シラバス解説動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_730_taiken_listening.zip" target="_blank">体験教材（リスニング）</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_730_taiken_reading.pdf" target="_blank">体験教材（リーディング）</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/toeic_730_check.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <!--<tr style="display:none;">
              <td>TOEIC BridgeR L&amp;R テスト対策コース</td>
              <td>TOEIC BRIDGER L&amp;Rテストはじめてでも80点突破<br><span class="text-danger">※教材購入は別途必要となります</span><a href="https://www.amazon.co.jp/dp/4816368604/?&_encoding=UTF8&tag=lamb01-22&linkCode=ur2&linkId=925f63e046c17a6e40ef601348683201&camp=247&creative=1211" target="_blank">（Amazon URL）</a></td>
              <td>TOEIC&reg;900点以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="/assets/pdf/ca_toeic_bridge.pdf" target="_blank">シラバス</a></li>
                  <li><a href="/assets/pdf/toeic_bridge_taiken.pdf" target="_blank">体験用PDF</a></li>
                  <li><a href="https://www.natsume.co.jp/books/13161" target="_blank">音声DL</a></li>
                </ul>
              </td>
            </tr>-->
            <tr>
              <td>英検準1級一次試験対策コース</td>
              <td>DataBase AVAIL（データベース アヴェイル） 4技能 英単語・熟語<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span><br><br>英検準1級総合対策教本[改訂版]<a href="https://amzn.to/3Qc2ERe" target="_blank">（Amazon URL）</a><br>2024年度版 英検準1級 過去6回全問題集 (旺文社英検書)<a target="_blank" href="https://amzn.to/3vL981h">（Amazon URL）</a><br><span class="text-danger">※教材購入は別途必要となります</span></td>
              <td>英検1級以上</td>
              <td>1500円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_J1_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/ZJXNFFGpyVI" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/test/j1_test.html" target="_blank">Vocabテスト</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>英検2級一次試験対策コース</td>
              <td>DataBase AVAIL（データベース アヴェイル） 4技能 英単語・熟語<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span><br><br>英検2級総合対策教本[改訂版]<a href="https://amzn.to/3JB0JDc" target="_blank">（Amazon URL）</a><br>2024年度版 英検2級 過去6回全問題集 (旺文社英検書)<a target="_blank" href="https://amzn.to/3PeH510">（Amazon URL）</a><br><span class="text-danger">※教材購入は別途必要となります</span></td>
              <td>英検準1級以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_2_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/61U3zYYA0Ew" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/test/2_test.html" target="_blank">Vocabテスト</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>英検準2級一次試験対策コース</td>
              <td>DataBase AVAIL（データベース アヴェイル） 4技能 英単語・熟語<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span><br><br>英検準2級総合対策教本[改訂増補版]<a href="https://amzn.to/3TM7ZjQ" target="_blank">（Amazon URL）</a><br>2024年度版 英検準2級 過去6回全問題集 (旺文社英検書)<a target="_blank" href="https://amzn.to/3zn3Qe9">（Amazon URL）</a><br><span class="text-danger">※教材購入は別途必要となります</span></td>
              <td>英検2級以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_J2_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/61U3zYYA0Ew" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/test/j2_test.html" target="_blank">Vocabテスト</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>英検準1級二次試験合格コース</td>
              <td>英検準1級二次試験・面接完全予想問題[改訂版]<a href="https://amzn.to/3U5glD6" target="_blank">（Amazon URL）</a><br><span class="text-danger">※教材購入は別途必要となります</span></td>
              <td>英検1級</td>
              <td>1500円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_men_J1_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/tQTBAPZC2GA" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>英検2級二次試験合格コース</td>
              <td>英検2級二次試験・面接完全予想問題[改訂版]<br><span class="text-danger">※教材購入は別途必要となります</span><a href="https://www.amazon.co.jp/dp/4010930799/?&_encoding=UTF8&tag=lamb01-22&linkCode=ur2&linkId=029c6bf3b1d208649f69daa92c21b11b&camp=247&creative=1211" target="_blank">（Amazon URL）</a></td>
              <td>英検準1級以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_men_2_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/tQTBAPZC2GA" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>英検準2級二次試験合格コース</td>
              <td>英検準2級二次試験・面接完全予想問題[改訂版]<br><span class="text-danger">※教材購入は別途必要となります</span><a href="https://www.amazon.co.jp/dp/4010930802/?&_encoding=UTF8&tag=lamb01-22&linkCode=ur2&linkId=6553d1c79c2f7f04522f48184c4d8280&camp=247&creative=1211" target="_blank">（Amazon URL）</a></td>
              <td>英検2級以上</td>
              <td>1125円/50分</td>
              <td>
                <ul>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/ca_eiken_men_J2_v2_for_guide.pdf" target="_blank">シラバス</a></li>
                  <li><a href="https://youtu.be/tQTBAPZC2GA" target="_blank">早川先生指導動画</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_taiken.pdf" target="_blank">体験教材</a></li>
                  <li><a href="https://academy.kirihara.co.jp/assets/pdf/eiken_men_hojo_sheet.zip" target="_blank">チェックシート</a></li>
                </ul>
              </td>
            </tr>
                
            </tbody>
          </table>
            
            
            <h3 style="display:none;">準備中コース</h3>
            
            <table class="table table-striped wt_coursetable" style="display:none;">
            <thead>
            <tr>
              <th class="text-center">コース名</th>
              <th class="text-center">使用教材</th>
              <th class="text-center">指導条件</th>
              <th class="text-center">報酬</th>
              <th class="text-center">指導内容</th>
            </tr>
            </thead>
            <tbody>



            <tr>
              <td><span class="text-danger">（※10月スタート）</span>Step by Step 文法・単語 基礎コース</td>
              <td>桐原書店オリジナル基礎英文法テキスト<br>データベース1700 使える英単語・熟語[3rd Edition]<br><span class="text-primary">※教材は桐原書店より無償提供いたします</span></td>
              <td></td>
              <td>1125円/50分</td>
              <td class="text-center">制作中<!--<a href="">シラバス</a>--></td>
            </tr>    
                
                
            </tbody>
          </table>

            </div>
          </div>
        </div>
      </div>
    </section>
   </main>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  
</body>
</html>
