<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg; L&amp;Rテスト突破コース - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head_prof.html">
  <style>
    .wte_head-border:after {
      background-color: #83D168;
    }
  </style>
</head>
<body id="instructor">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <!-- content section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
  
              <div class="card mb-5">
                <div class="card-eyecatch">
                  <img src="/assets/img/course/course-eiken1_wide.jpg" class="w-100 h-100 object-fit-cover" alt="英検一次試験対策コース" loading="lazy">
                </div>
                <div class="card-header bg_course-eiken1 p-4">
                  <h3 class="text-center mb-3">英検一次試験対策コース</h3>
                  <h4 class="text-center h6">短期間でTOEICのスコアを上げるための知識とスキルを身につけるコースです</h4>
                </div>
                <div class="card-body pt-5">
                  <h4 class="mb-4 wte_head-border">各種コースラインナップ</h4>
                  <p class="text-center small">TOEIC&reg; L&amp;Rテスト突破コースの各種シラバス、必要情報をまとめています。<br>見たいものをクリックしてください。</p>

                  <div class="row">
                    <div class="col-12 col-md-4 px-3 mb-4">
                      <div class="card h-100">
                        <div class="card-eyecatch mb-3">
                          <a href="%CGI_URL%?m=eiken1"><img src="/assets/img/course/course-eiken1.jpg" class="w-100 h-100 object-fit-cover" alt="英検一次試験対策コース" loading="lazy"></a>
                        </div>
                        <div class="card-body">
                          <h3 class="h5 text-center">TOEIC&reg; L&amp;Rテスト<br>500～600点突破コース</h3>
                          <p class="mb-0 small">TOEIC初心者向けの導入コースです。<br>基礎的な知識を身につけ、TOEICに慣れることで、着実にスコア積み上げます。</p>
                        </div>
                        <div class="card-footer">
                          <div class="text-center">
                            <a href="%CGI_URL%?m=eiken1" class="btn btn-md btn-warning rounded-pill">&raquo; コース詳細を見る</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 px-3 mb-4">
                      <div class="card h-100">
                        <div class="card-eyecatch mb-3">
                          <a href="%CGI_URL%?m=eiken1"><img src="/assets/img/course/course-eiken1.jpg" class="w-100 h-100 object-fit-cover" alt="英検一次試験対策コース" loading="lazy"></a>
                        </div>
                        <div class="card-body">
                          <h3 class="h5 text-center">TOEIC&reg; L&amp;Rテスト<br>730点突破コース</h3>
                          <p class="mb-0 small">スコアアップを目指す中級者コース。<br>知識をスキルに変換し、問題を解くスピードを向上。高スコアを目指します。</p>
                        </div>
                        <div class="card-footer">
                          <div class="text-center">
                            <a href="%CGI_URL%?m=eiken1" class="btn btn-md btn-warning rounded-pill">&raquo; コース詳細を見る</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-12 col-md-4 px-3 mb-4">
                      <div class="card h-100">
                        <div class="card-eyecatch mb-3">
                          <img src="/assets/img/course/course-toeic-subscr.jpg" class="w-100 h-100 object-fit-cover" alt="TOEIC&reg; 500~600点修了者向け定期コース" loading="lazy">
                        </div>
                        <div class="card-body">
                          <h3 class="h5 text-center">TOEIC&reg; 500~600点<br>修了者向け定期コース</h3>
                          <p class="mb-0 small">講座修了後の定期継続コース。<br>苦手なPart対策や、問題を解くスピードを上げるための練習を行います。</p>
                        </div>
                        <div class="card-footer">
                          <div class="text-center">
                            <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=1" class="btn btn-md btn-warning rounded-pill">&raquo; コース詳細を見る</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 px-3 mb-4">
                      <div class="card h-100">
                        <div class="card-eyecatch mb-3">
                          <img src="/assets/img/course/course-toeic-subscr.jpg" class="w-100 h-100 object-fit-cover" alt="TOEIC&reg; 730点修了者向け定期コース" loading="lazy">
                        </div>
                        <div class="card-body">
                          <h3 class="h5 text-center">TOEIC&reg; 730点<br>修了者向け定期コース</h3>
                          <p class="mb-0 small">講座修了後の定期継続コース。<br>更なるスコアアップのために、スキルを更に磨いていくコースです。</p>
                        </div>
                        <div class="card-footer">
                          <div class="text-center">
                            <a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=2" class="btn btn-md btn-warning rounded-pill">&raquo; コース詳細を見る</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h4 class="mb-4 wte_head-border">指導方針</h4>
                  <div class="row mb-5">
                    <div class="col-12 col-md-8 offset-md-2">
                      <div class="wte_youtubecont">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/wTeLV9Ph3UY" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                      <p class="small text-center mt-3">※監修者「早川幸治先生」の指導動画です。一度ご視聴ください。</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row mb-5">
                    <div class="col-12 col-md-6 px-5">
                      <h5 class="mb-4">コースを通して<strong class="wte_marker">「3つの力」</strong>を身につけます</h5>
                      <p class="small">KOAでは、ただTOEIC対策を行うだけでなく、生徒の英語を総合的に上げていくためのカリキュラムを構築しています。</p>
                      <h6>英語力</h6>
                      <p class="small">語彙や文法、文章の構造など、英語の基礎となる「知識」を学習によって身につけます</p>
                      <h6>情報処理能力</h6>
                      <p class="small">リスニングやリーディングなど、英語を使うための「スキル」をトレーニングによって身につけます</p>
                      <h6>対策力</h6>
                      <p class="small">問題集を解くことで、TOEICテストの構成を理解し、Part別にスコアをあげるための対策を行います</p>
                    </div>
                    <div class="col-12 col-md-6">
                      <img src="/assets/img/course/triangle.png" class="w-100 h-auto" style="-webkit-backface-visibility: hidden;" alt="">
                    </div>
                  </div>
                  <hr>
                  <div class="row mb-5">
                    <div class="col-12 col-md-6 px-5 order-1">
                      <h5 class="mb-4"><strong class="wte_marker">「知識」</strong>を<strong class="wte_marker">「スキル」</strong>に変えていくために</h5>
                      <p class="small">知識をスキルに変えることで、英語が使えるようになります。<br>そのために「音読」をはじめとするトレーニングを実施します。</p>
                      <h6>音読</h6>
                      <p class="small">自宅学習・レッスンにて、解いた問題は必ず音読し、正しい英語の文章を反復していきます</p>
                      <h6>多読・速読</h6>
                      <p class="small">すきま時間を利用し、できるだけ多くの英語の文章を読むトレーニングを行います</p>
                      <h6>問題集</h6>
                      <p class="small">実際のTOEICテストの形式に近い問題を解くことで、スキルとして身についているかを確認します</p>
                    </div>
                    <div class="col-12 col-md-6 order-0">
                      <div class="wte_youtubecont">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/wTeLV9Ph3UY" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                      <p class="small text-center mt-3">※監修者「早川幸治先生」の指導動画です。一度ご視聴ください。</p>
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-12 col-md-6 px-5">
                      <h5 class="mb-4">必要な力を伸ばすための<strong class="wte_marker">「教材」</strong></h5>
                      <h6>Database TOEIC</h6>
                      <p class="small">レベル別、ジャンル別に、TOEICに出現しやすい単語をまとめた単語帳です</p>
                      <h6>書き込みドリル</h6>
                      <p class="small">マークシートではなく書き込み式で、各TOEICのPartを基礎から学習できる教材です</p>
                      <h6>公式問題集</h6>
                      <p class="small">TOEICテストを実施しているETSが出版する、本番のテストに極めて近い形の問題集です</p>
                      <h6>FACTBOOK</h6>
                      <p class="small">デイゼロで使用、過去の学習を振り返るための文法書</p>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="wte_youtubecont">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/wTeLV9Ph3UY" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                      <p class="small text-center mt-3">※監修者「早川幸治先生」の指導動画です。一度ご視聴ください。</p>
                    </div>
                  </div>
                  <h4 class="mb-4 wte_head-border">よくあるご質問</h4>
                  <p class="text-center small">コースについて、生徒から質問された際にこちらの回答をご利用ください。</p>

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot_prof.html">

      <script src="%static_url%/js/prof/buztgl.js"></script>
</body>

</html>
