<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>レッスン詳細 - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">

              <!-- schedule -->
              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/online-lesson.png" alt="レッスン詳細" class="wte_img_icons"></div>
                  <h3 class="text-center">レッスン詳細</h3>
                </div>

                <div class="card-body">
                  <TMPL_IF NAME="lsn_cancel">
                    <div class="alert alert-muted mb-5">
                      <div class="row">
                        <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                          <img src="/assets/img/icons/cancelled.png" class="w-100 w-md-50 h-auto" alt="キャンセル">
                        </div>
                        <div class="col-10 col-md-11">
                          <h5><span class="d-none d-md-inline">このレッスンは</span>キャンセルになりました</h5>
                          <p class="mb-0">レッスンの振り替えはメッセージでご調整ください</p>
                        </div>
                      </div>
                    </div>
                  <TMPL_ELSE>
                    <TMPL_IF NAME="lsn_finished">

                      <TMPL_IF NAME="lsn_report_available">
                        <TMPL_IF NAME="lsn_prof_repo_0">
                          <TMPL_IF NAME="lsn_status_0">

                            <div class="alert alert-danger mb-5">
                              <div class="row">
                                <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                                  <img src="/assets/img/icons/checked.png" alt="完了報告" class="w-100 w-md-50 h-auto">
                                </div>
                                <div class="col-10 col-md-11">
                                  <h5>完了報告をお送りください</h5>
                                  <p class="mb-0">報告の期限は%lsn_report_limit_Y%年%lsn_report_limit_n%月%lsn_report_limit_j%日（%lsn_report_limit_wj%）%lsn_report_limit_G%:%lsn_report_limit_i%までとなります</p>
                                </div>
                              </div>
                            </div>
                          </TMPL_IF>
                        </TMPL_IF>

                      <TMPL_ELSE>
                        <div class="alert alert-success mb-5">
                          <div class="row">
                            <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                              <img src="/assets/img/icons/check-symbol.png" class="w-100 w-md-50 h-auto" alt="完了">
                            </div>
                            <div class="col-10 col-md-11">
                              <h5>このレッスンは完了しました</h5>
                              <p class="mb-0">レッスン報告、および%prof_caption%との進捗共有をお願いします</p>
                            </div>
                          </div>
                        </div>
                      </TMPL_IF>
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_today">
                        <TMPL_IF NAME="lsn_during">
                          <div class="alert alert-warning mb-5">
                            <div class="row">
                              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">

                              </div>
                              <div class="col-10 col-md-11">
                                <h5>只今、レッスン中です</h5>
                                <p class="mb-0">通話システムを起動しレッスンをスタートします</p>
                              </div>
                            </div>
                          </div>
                        <TMPL_ELSE>
                          <div class="alert alert-warning mb-5">
                            <div class="row">
                              
                              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                                <img src="/assets/img/icons/bell.png" class="w-100 w-md-50 h-auto" alt="本日がレッスン日です">
                              </div>
                              <div class="col-10 col-md-11">
                                <h5>本日がレッスン日です</h5>
                                <p class="mb-0">通話システムのテストなど、レッスン準備をお願いいたします</p>
                              </div>
                            </div>
                          </div>
                        </TMPL_IF>
                      <TMPL_ELSE>
                        <div class="alert alert-warning mb-5">
                          <div class="row">
                            <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                              <img src="/assets/img/icons/bell.png" class="w-100 w-md-50 h-auto" alt="予約が入りました">
                            </div>
                            <div class="col-10 col-md-11">
                              <h5>レッスンの予約が入りました</h5>
                              <p class="mb-0">レッスンがはじまる前までに生徒の情報をご確認ください</p>
                            </div>
                          </div>
                        </div>
                      </TMPL_IF>
                    </TMPL_IF>
                  </TMPL_IF>

                  <h4 class="wte_head-border mb-4">スケジュール</h4>
                  <div class="row">
                    <div class="col-12 col-md-7 wte_lesson_detail">
                      <h5 class="mb-3"><i class="fas fa-calendar-alt text-primary me-2"></i>%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～<span class="minute_replace_3">%lsn_etime_G%:%lsn_etime_i%</span></h5>
                      <ul class="text-muted wte_annotation">
                        <li>1レッスンは<span class="minute_replace">%course_step%</span>分です</li>
                        <li>終了時刻の<span class="minute_replace_2">%course_step%</span>分前にレッスンを終了させてください</li>
                      </ul>
                      <h5 class="mb-3"><i class="fas fa-chalkboard text-primary me-2"></i>%course_name%</h5>
                      <h5><i class="fas fa-user text-primary me-2"></i>
                        <TMPL_IF NAME="member_logo">
                          <img src="%member_logo_2_url%?%epoch%" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                        <TMPL_ELSE>
                          <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                        </TMPL_IF>%member_handle%さん
                        </h5>
                      <TMPL_IF NAME="lsn_pay_type_1"><TMPL_ELSE>
                        <i class="fas fa-ticket-alt text-primary me-2"></i>クーポンにて予約
                      </TMPL_IF>
                    </div>
                      <TMPL_IF NAME="lsn_finished">
                      <TMPL_ELSE>
                        <div class="col-12 col-md-5 text-center mt-5 mt-md-0">
                        <h5 class="mb-3 text-danger">通話システムに入室する</h5>                            
                        <TMPL_IF NAME="prof_skype_id">
                          <a href="skype:%member_skype_id%?add" class="btn btn-skype rounded-pill"><i class="fab fa-skype me-2"></i>Skypeでコールする</a>
                        </TMPL_IF>
                        <TMPL_IF NAME="prof_hp">
                          <!--<a href="%prof_hp%" class="btn btn-zoom" target="_blank"><i class="fa fa-video-camera me-2"></i> Zoomに入室する</a><br><small>通話前にZoomアカウントにログインください</small>-->
                          <a href="%prof_hp%" class="btn btn-meet rounded-pill" target="_blank"><i class="fas fa-video-camera me-2"></i>Google Meetを開く</a>
                          <!--<br><small>通話前に<a href="https://accounts.google.com/" target="_blank">Googleアカウントにログイン</a>ください</small>-->
                        </TMPL_IF>
                        </div>
                      </TMPL_IF>
                  </div>



                  <TMPL_UNLESS NAME="lsn_cancel">
                    <TMPL_IF NAME="lsn_report_available">
                      <TMPL_IF NAME="lsn_prof_repo_0">
                        <TMPL_IF NAME="lsn_status_0">
                          <h4 class="wte_head-border mb-4 mt-5">レッスン報告</h4>
                            <form action="%CGI_URL%" method="post" id="repo_form">
                              <input type="hidden" name="m" value="lsnrposet" />
                              <input type="hidden" name="pkey" value="%pkey%" />
                              <input type="hidden" name="lsn_id" value="%lsn_id%" />
                              
                              <div class="alert alert-danger mb-5">
                                <div class="row">
                                  <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                                    <img src="/assets/img/icons/checked.png" alt="完了報告" class="w-100 w-md-50 h-auto">
                                  </div>
                                  <div class="col-10 col-md-11">
                                    <p class="mb-0">レッスンの完了状況を選択してください</p>
                                  </div>
                                </div>
                              </div>
      
                                <fieldset class="form-group">
                                  <div class="form-check repo_rating_field">
                                    <label class="form-check-label me-4"><input type="radio" name="lsn_prof_repo" value="1"> 完了しました</label><br class="d-block d-md-none">
                                    <label class="form-check-label me-4"><input type="radio" name="lsn_prof_repo" value="2"> 未実施（%member_caption%が来なかった）</label><br class="d-block d-md-none">
                                    <label class="form-check-label"><input type="radio" name="lsn_prof_repo" value="3"> トラブル（自分の原因）</label>
                                  </div>
                                  <ul class="note">
                                    <li>未実施またはトラブルの場合は簡潔に説明を入力してください。</li>
                                  </ul>
                                  <textarea name="lsn_prof_repo_note" id="lsn_prof_repo_note" maxlength="140" class="form-control" placeholder="140文字以内で状況を入力ください"></textarea>
                                </fieldset>
                                
                                <div class="text-center"><input type="submit" value="&raquo; 報告する" id="repo_btn" class="btn btn-danger rounded-pill"></div>
                             </form>

                        </TMPL_IF>
                      <TMPL_ELSE>
                        <h4 class="wte_head-border mb-4 mt-5">レッスン報告</h4>
                        <h5 class="mb-3">
                          <i class="text-primary me-2">報告</i>
                          <TMPL_IF NAME="lsn_prof_repo_0">
                            未報告
                          <TMPL_ELSE>
                              <TMPL_IF NAME="lsn_prof_repo_1">完了</TMPL_IF>
                              <TMPL_IF NAME="lsn_prof_repo_2">未実施（相手が来ない）</TMPL_IF>
                              <TMPL_IF NAME="lsn_prof_repo_3">トラブル（自分）</TMPL_IF>
                              <TMPL_IF NAME="lsn_prof_repo_9">その他</TMPL_IF>
                          </TMPL_IF>
                        </h5>
                        <TMPL_IF NAME="lsn_prof_repo_note"><p>%lsn_prof_repo_note%</p></TMPL_IF>
                        <div class="row d-none">
                          <div class="col12 col-md-6 mt-4 mt-md-0">
                            <div class="alert alert-light h-100">
                              <div class="row">
                                <h5>%member_caption%の報告</h5>

                                <TMPL_IF NAME="lsn_member_repo_0">
                                  <p class="mb-0">未報告</p>
                                <TMPL_ELSE>
                                  <p class="mb-0">
                                    報告：
                                    <TMPL_IF NAME="lsn_member_repo_1">完了</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_2">未実施（相手が来ない）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_3">トラブル（自分）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_9">その他</TMPL_IF>
                                  </p>
                                  <TMPL_IF NAME="lsn_member_repo_note"><p class="mb-0">%lsn_member_repo_note%</p></TMPL_IF>
                                  <p class="mt-3 mb-0">評価：<span class="value%lsn_member_repo_rating%">%lsn_member_repo_rating%</span></h4>
                                  <TMPL_IF NAME="lsn_review"><p class="mb-0">%lsn_review%</p></TMPL_IF>
                                </TMPL_IF>

                              </div>
                            </div>

                          </div>
                        </div>

                      </TMPL_IF>
                    </TMPL_IF>
                  </TMPL_UNLESS>
                </div>
              <div class="card-footer">
              </div>
            </div>


            <!-- account -->
            <TMPL_IF NAME="lsn_status">
              <div class="card mb-5 d-none">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/accounting.png" alt="会計報告" class="wte_img_icons"></div>
                  <h3 class="text-center">会計報告</h3>
                </div>

                <div class="card-body">
                  <p class="text-center">このレッスンの会計報告です</p>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th class="w20">レッスン料金</th>
                        <td class="w80">%lsn_base_price_with_comma% pt</td>
                      </tr>
                      <tr>
                        <th>配分率</th>
                        <td>%lsn_prof_margin% ％</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>受取金額</th>
                        <td>%lsn_prof_price_with_comma% 円</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </TMPL_IF>



              <!-- profile -->
              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/user.png" alt="メッセージ" class="wte_img_icons"></div>
                    <h3 class="text-center">%member_handle% さんのプロフィール</h3>
                  </div>

                  <div class="card-body">
                    <p class="text-center">%member_handle%さんのプロフィール情報です。レッスン前に確認いたしましょう。</p>
                    <div class="row">
                      <div class="col-2">
                        <TMPL_IF NAME="member_logo">
                          <img src="%member_logo_3_url%?%epoch%" class="w-100 rounded-pill" alt="%member_handle%" />
                        <TMPL_ELSE>
                          <img src="/assets/img/icons/profile.png" class="w-100 rounded-pill" alt="%member_handle%" />
                        </TMPL_IF>
                      </div>
                      <div class="col-10">
                        
                    <table class="table">
                      <TMPL_IF NAME="member_skype_id">
                      <tr>
                        <th>%member_skype_id_caption%</th>
                        <td>%member_skype_id%</td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_gender">
                      <tr>
                        <th>%member_gender_caption%</th>
                        <td>
                          <TMPL_IF NAME="member_gender_1">男性</TMPL_IF>
                          <TMPL_IF NAME="member_gender_2">女性</TMPL_IF>
                        </td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_purpose">
                      <tr>
                        <th>%member_purpose_caption%</th>
                        <td>
                          <TMPL_LOOP NAME="member_purpose_loop"><div><span class="fas fa-check text-primary me-3"></span>%title%</div></TMPL_LOOP>
                        </td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_demand">
                      <tr>
                        <th>%member_demand_caption%</th>
                        <td>
                          <TMPL_LOOP NAME="member_demand_loop"><div><span class="fas fa-check text-primary me-3"></span>%title%</div></TMPL_LOOP>
                        </td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_interest">
                      <tr>
                        <th>%member_interest_caption%</th>
                        <td>
                          <TMPL_LOOP NAME="member_interest_loop"><div><span class="fas fa-check text-primary me-3"></span>%title%</div></TMPL_LOOP>
                        </td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_level">
                      <tr>
                        <th>%member_level_caption%</th>
                        <td>
                          <TMPL_LOOP NAME="member_level_loop"><div><span class="fas fa-check text-primary me-3"></span>%title%</div></TMPL_LOOP>
                        </td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_intro">
                      <tr>
                        <th>%member_intro_caption%</th>
                        <td>%member_intro%</td>
                      </tr>
                      </TMPL_IF>
                      <TMPL_IF NAME="member_comment">
                      <tr>
                        <th>%member_comment_caption%</th>
                        <td>%member_comment%</td>
                      </tr>
                      </TMPL_IF>
                    </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>



              <!-- message -->
              <div class="card mb-5">
              <form action="%CGI_URL%" method="post" id="msg_form">
                <input type="hidden" name="m" value="msgaddset">
                <input type="hidden" name="pkey" value="%pkey%">
                <input type="hidden" name="lsn_id" value="%lsn_id%">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/mail.png" alt="メッセージ" class="wte_img_icons"></div>
                  <h3 class="text-center">メッセージ</h3>
                </div>
                <div class="card-body">
                  <p class="text-center">%member_caption%にメッセージを送信することが可能です。事前のレッスン確認にご利用くださいませ。</p>
                  <TMPL_IF NAME="msg_num">
                    <div class="wte_info_box mb-5">
                    <TMPL_LOOP NAME="msg_loop">
                      <h5 class="mb-2 d-inline-block me-2"><TMPL_IF NAME="msg_direction_1">%member_handle%<TMPL_ELSE>%prof_handle%</TMPL_IF></h5>
                      <div class="mb-2 d-inline-block"><small class="text-black-50">%msg_cdate_Y%/%msg_cdate_n%/%msg_cdate_j%（%msg_cdate_wj%）</small></div>
                      <p class="mb-2">%msg_content%</p>
                      <hr>
                    </TMPL_LOOP>
                  </div>
                  </TMPL_IF>
                    <fieldset class="form-group">
                      <legend class="col-form-legend">%member_handle%さんにメッセージを送る</legend>
                      <textarea name="msg_content" id="msg_content" class="form-control" maxlength="1000" placeholder="1000文字以内でメッセージを入力ください"></textarea>
                    </fieldset>
                </div>
                <div class="card-footer">
                  <div class="text-center"><input type="submit" value="&raquo; メッセージを送る" id="msg_btn" class="btn btn-success rounded-pill"></div>
                </div>
              </form>
              </div>

              
              <!-- cancel -->
            <TMPL_IF NAME="lsn_cancel">
            <div class="card mb-5">
              <div class="card-header">
                <div class="text-center"><img src="/assets/img/icons/cancelled.png" alt="レッスン詳細" class="wte_img_icons"></div>
                <h3 class="text-center">キャンセル</h3>
              </div>
              <div class="card-body">
                <TMPL_IF NAME="lsn_cancel_1">
                <p>%member_caption%によってキャンセルされました。</p>
                </TMPL_IF>
                <TMPL_IF NAME="lsn_cancel_2">
                <p>キャンセルを受け付けました。</p>
                </TMPL_IF>
                <p>キャンセル理由：%lsn_cancel_reason%</p>
              </div>
              <div class="card-footer">
              </div>
            </div>
            <TMPL_ELSE>
              <TMPL_IF NAME="lsn_cancelable">
              <div class="card mb-5">
                <form action="%CGI_URL%" method="post" id="cancel_form">
                <input type="hidden" name="m" value="lsncclset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <input type="hidden" name="lsn_id" value="%lsn_id%" />
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/cancelled.png" alt="キャンセル" class="wte_img_icons"></div>
                    <h3 class="text-center">キャンセル</h3>
                </div>
                <div class="card-body">
                  <p class="text-center">%member_handle%さんとのレッスンをキャンセルする場合は以下フォームにキャンセル理由を入力しご送信ください。<TMPL_IF NAME="lsn_cancelable_2"><br /><strong style="color:red">レッスン開始時間が間近です。極力キャンセルは控えてください。</strong></TMPL_IF></p>
                    <fieldset class="form-group">
                      <legend class="col-form-legend">キャンセル理由</legend>
                      <textarea name="lsn_cancel_reason" id="lsn_cancel_reason" class="form-control" maxlength="140" placeholder="140文字以内でキャンセル理由を入力ください"></textarea>
                    </fieldset>
                </div>
                <div class="card-footer">
                  <div class="text-center"><input type="submit" value="&raquo; キャンセルする" id="cancel_btn" class="btn btn-success rounded-pill"></div>
                </div>
              </form>
              </div>
              </TMPL_IF>
            </TMPL_IF>


              <div class="card mb-5">

                <form action="%CGI_URL%" method="post" id="pre_form">
                  <input type="hidden" name="m" value="preaddset" />
                  <input type="hidden" name="pkey" value="%pkey%" />
                  <input type="hidden" name="lsn_id" value="%lsn_id%" />
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/case.png" alt="レッスン詳細" class="wte_img_icons"></div>
                    <h3 class="text-center">レッスン進捗共有</h3>
                </div>
                <div class="card-body">
                  <p class="text-center">%member_handle%さんとのレッスン進捗状況を他の担当%prof_caption%に共有するフォームです。レッスン後に簡単にご記入ください。</p>
                  <TMPL_IF NAME="prep_num">
                    <p><a href="%CGI_URL%?m=prelstfrm&amp;s_lsn_id=%lsn_id%">&raquo; 進捗報告の一覧はこちらから</a></p>
                    <div class="wte_info_box mb-5">
                      <TMPL_LOOP NAME="prep_loop">
                        <h5 class="mb-2 d-inline-block me-2"><TMPL_IF NAME="prof_id">%prof_handle%<TMPL_ELSE>%member_handle%</TMPL_IF></h5>
                        <div class="mb-2 d-inline-block"><small class="text-black-50">%prep_cdate_Y%/%prep_cdate_n%/%prep_cdate_j%（%prep_cdate_wj%）</small></div>
                        <p class="mb-2">%prep_content%</p>
                        <hr>
                      </TMPL_LOOP>
                    </div>
                  </TMPL_IF>

                    <fieldset class="form-group">
                      <legend class="col-form-legend">進捗記入欄</legend>
                      <textarea name="prep_content" id="prep_content" class="form-control" maxlength="1000" placeholder="1000文字以内でレッスン進捗を入力ください"></textarea>
                    </fieldset>
                </div>
                <div class="card-footer">
                  <div class="text-center"><input type="submit" value="&raquo; 情報共有する" id="prep_btn" class="btn btn-success rounded-pill"></div>
                </div>
              </form>
              </div>

          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  <script>
$(document).ready(function(){
	$('.minute_replace').each(function(){
		var txt = $(this).html();
		$(this).html(
			txt.replace(/30/g,'25')
			   .replace(/60/g,'50')
			   .replace(/90/g,'75')
			   .replace(/120/g,'100')
		);
	});
	$('.minute_replace_2').each(function(){
		var txt2 = $(this).html();
		$(this).html(
			txt2.replace(/30/g,'5')
			   .replace(/60/g,'10')
			   .replace(/90/g,'15')
			   .replace(/120/g,'20')
		);
	});
});
    $(function(){

      $('#lsn_review').keydown(function(e){
        if(event.ctrlKey){
          if(e.keyCode === 13 && $(this).val()){
            $('#repo_form').submit();
            return false;
              }
          }
        });

      $('#msg_content').keydown(function(e){
        if(event.ctrlKey){
          if(e.keyCode === 13 && $(this).val()){
            $('#msg_form').submit();
            return false;
              }
          }
        });

      $('#lsn_cancel_reason').keydown(function(e){
        if(event.ctrlKey){
          if(e.keyCode === 13 && $(this).val()){
            $('#cancel_form').submit();
            return false;
              }
          }
        });

      $('#prep_content').keydown(function(e){
        if(event.ctrlKey){
          if(e.keyCode === 13 && $(this).val()){
            $('#pre_form').submit();
            return false;
              }
          }
        });
    });
  </script>
  <script src="%static_url%/js/prof/lsndtlfrm.js"></script>
</body>
</html>
