<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>レッスンマニュアル｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>
      
<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">レッスンマニュアル</h2>
                  

            <p class="text-center">各種マニュアルを準備いたしましたので、ご確認ください。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2">
              <div class="wt_form wt_form_layer mb-5">
                <ul>
                  <li><a href="/assets/pdf/manual.pdf">講師登録マニュアル</a></li>
                  <li><a href="/assets/pdf/lessonmanual.pdf">レッスンの進め方マニュアル</a></li>
                  <li>ご請求に関するマニュアル</li>
                </ul>
                    
            </div>
          </div>
        </div>
      </div>
    </section>
   </main>                
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  
</body>
</html>
