<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>動画一覧 ｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>


<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academy動画一覧</h2>
                <p class="mb-5 text-center">コース監修を務める早川幸治先生からの教材動画です。<br>KIRIHARA Online Academyのコースのコンセプトを確認する上で、こちらの動画の視聴を是非お願いします。</p>

              </div>
            </div>


            <div class="row">
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqwFddMQ5-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">カリキュラム監修者メッセージ<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EXrc1BPiF1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">TOEIC®︎ L&amp;Rテスト概要<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6RxD1boSF6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">TOEIC書き込みドリルコンセプト<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nO4Gqj3mFmo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">効果的な英語の単語学習法<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yyz2tsizob8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">英語の文法学習法<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Mbu1sDhL0rc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">英語の音読の効果<br>（早川幸治 jay 先生）</p>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/awoP0Ijtq0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">TOEICの公式問題集活用のすすめ<br>（早川幸治 jay 先生）</p>

                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3C0jTH2r5Lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">学習を継続させる！初級者のためのTOEIC L&amp;Rテスト学習法<br>（2021年8月24日セミナー）</p>
                </div>
              </div>
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1VRu8kMVfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">英検二次試験対策法セミナー<br>（2021年9月22日セミナー）</p>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-md-4 text-center mb-5">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1cXnTt0uGro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <p class="mt-3 mb-2">英検一次試験対策法セミナー<br>（2021年10月26日セミナー）</p>

                </div>
              </div>

            </div>
          </div>
        </section>
      </main>
      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
        </div>
        <TMPL_INCLUDE NAME="../include/foot_prof.html">

</body>

</html>
