<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>%prof_caption%ページ - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">
      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/house.png" alt="マイページ" class="wte_img_icons"></div>
                  <h3 class="text-center">マイページ</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-5">
                      <div class="row">
                        <div class="col-3 col-lg-4 text-center p-4">
                          <TMPL_IF NAME="prof_logo">
                            <img src="%prof_logo_2_url%?%epoch%" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="%prof_handle%さん" class="w-100 h-auto rounded-circle">
                          <TMPL_ELSE>
                            <img src="%static_url%/imgs/profile_blank.png" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="%prof_handle%さん" class="w-100 h-auto rounded-circle">
                          </TMPL_IF>
                        </div>
                        <div class="col-9 col-lg-8">
                          <h5 class="mb-3 mt-2">%prof_handle% さん <small><a href="%CGI_URL%?m=prfmodfrm"><i class="fas fa-edit ms-3"></i></a></small></h5>

                          <h6 class="mb-0">対応コース</h6>
                          <ul class="wte_tag mb-1">
                          <TMPL_LOOP NAME="prof_character_loop">
                            <li class="wte_tag_1"><a>%title%</a></li>
                          </TMPL_LOOP>
                          </ul>
                          <ul class="note mb-3">
                            <li>コース追加は運営へお問い合わせください</li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 ps-4 pe-4 mb-4">
                          <h6 class="mb-2">自分用メモ</h6>
                          <TMPL_IF NAME="session_prof_note">
                          <div class="imemo">
                            <p><small>%session_prof_note%</small></p>
                            <p class="mb-0"><small><a href="%CGI_URL%?m=ntemodfrm">&raquo; メモを編集</a></small></p>
                          </div>
                          <TMPL_ELSE>
                          <div class="imemo">
                            <ul class="note mb-0">
                              <li>自分用メモを残しておくことができます</li>
                            </ul>
                            <p class="mb-0"><small><a href="%CGI_URL%?m=ntemodfrm">&raquo; メモを追加</a></small></p>
                          </div>
                          </TMPL_IF>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-7 ps-4 pe-4">
                      <h5 class="mt-2 text-center wte_head-border mb-3 mb-md-4">コースシラバス確認</h5>
                      <div class="row">
                        <!--<div class="col-4 col-md-3 col-lg-15 mb-4">
                          <a href="%CGI_URL%?m=prfschfrm" class="btn-icon">
                            <div><img src="/assets/img/icons/reserved.png" class="w-50 p-2" alt="カンタン予約"></div>
                            カンタン予約
                          </a>
                        </div>-->
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-toeic">
                            <a href="%CGI_URL%?m=toeic" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-toeic.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">TOEIC突破</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-eiken1">
                            <a href="%CGI_URL%?m=eiken1" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-eiken1.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">英検一次対策</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-eiken2">
                            <a href="%CGI_URL%?m=eiken2" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-eiken2.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">英検二次合格</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-toefl">
                            <a href="%CGI_URL%?m=toefl" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-toefl.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">TOEFL（※新規）</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-essay">
                            <a href="%CGI_URL%?m=essay" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-essay.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">小論文対策</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-3 mb-4">
                          <div class="card card-syllabus bg_course-school">
                            <a href="%CGI_URL%?m=school" class="card-anchor"></a>
                            <div class="card-eyecatch">
                              <img src="/assets/img/course/course-school.jpg" class="w-100 h-100 object-fit-cover" alt="オンライン英会話" loading="lazy">
                            </div>
                            <div class="card-body">
                              <h3 class="h4 text-center">学校向け授業</h3>
                            </div>
                          </div>
                        </div>
                        <!--<div class="col-4 col-md-3 col-lg-15 mb-4">
                          <a href="%CGI_URL%?m=lsnlstfrm" class="btn-icon">
                            <div><img src="/assets/img/icons/online-lesson.png" class="w-50 p-2" alt=""></div>
                            予約の確認
                          </a>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">

                </div>
              </div>


              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/reserved.png" alt="レッスン予約" class="wte_img_icons"></div>
                  <h3 class="text-center">レッスン予約</h3>
                </div>

                <div class="card-body">
                  <p class="d-none d-md-block">詳細をクリックで、%member_caption%プロフィール確認やメッセージ送信、レッスン履歴が確認できます。</p>
                  <p class="d-block d-md-none text-center">レッスン情報の確認は「詳細」をクリック</p>
                  <h4 class="mb-3 mb-md-4"><i class="fa-solid fa-clock text-primary me-3"></i>本日のレッスン</h4>
                  <div class="wte_div_table mb-5">
                    <div class="row wte_div_thead">
                      <div class="col-9 col-md-10">
                        <div class="row">
                          <div class="col-12 col-md-4">日時</div>
                          <div class="d-none d-md-block col-md-5">授業名</div>
                          <div class="d-none d-md-block col-md-3">%member_caption%</div>
                        </div>
                      </div>
                      <div class="col-3 col-md-2">詳細</div>
                    </div>
                    <TMPL_LOOP NAME="lsn_today_loop">
                      <div class="row wte_div_tbody">
                        <div class="col-9 col-md-10">
                          <div class="row">
                            <div class="col-12 col-md-4"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a></div>
                            <div class="col-12 col-md-5">%course_name%</div>
                            <div class="col-12 col-md-3">
                              <TMPL_IF NAME="member_logo">
                                <img src="%member_logo_1_url%?%epoch%" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              <TMPL_ELSE>
                                <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              </TMPL_IF>%member_handle%さん
                            </div>
                            <!--<div class="col-3">%lsn_latest_msg_1%</div>-->
                          </div>
                        </div>
                        <div class="col-3 col-md-2">
                          <a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="btn btn-sm btn-warning rounded-pill">確認</a>
                        </div>
                      </div>
                    </TMPL_LOOP>
                  </div>

                  <h4 class="mb-3 mb-md-4"><i class="fa-solid fa-forward text-primary me-3"></i>明日以降のレッスン</h4>
                  <div class="wte_div_table mb-5">
                    <div class="row wte_div_thead">
                      <div class="col-9 col-md-10">
                        <div class="row">
                          <div class="col-12 col-md-4">日時</div>
                          <div class="d-none d-md-block col-md-5">授業名</div>
                          <div class="d-none d-md-block col-md-3">%member_caption%</div>
                        </div>
                      </div>
                      <div class="col-3 col-md-2">詳細</div>
                    </div>
                    <TMPL_LOOP NAME="lsn_tomorrow_loop">
                      <div class="row wte_div_tbody">
                        <div class="col-9 col-md-10">
                          <div class="row">
                            <div class="col-12 col-md-4"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a></div>
                            <div class="col-12 col-md-5">%course_name%</div>
                            <div class="col-12 col-md-3">
                              <TMPL_IF NAME="member_logo">
                                <img src="%member_logo_1_url%?%epoch%" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              <TMPL_ELSE>
                                <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              </TMPL_IF>%member_handle%さん
                            </div>
                            <!--<div class="col-3">%lsn_latest_msg_1%</div>-->
                          </div>
                        </div>
                        <div class="col-3 col-md-2">
                          <a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="btn btn-sm btn-warning rounded-pill">確認</a>
                        </div>
                      </div>
                    </TMPL_LOOP>
                  </div>

                  <h4 class="mb-3 mb-md-4"><i class="fa-solid fa-backward text-primary me-3"></i>終了したレッスン</h4>
                  <div class="wte_div_table">
                    <div class="row wte_div_thead">
                      <div class="col-9 col-md-10">
                        <div class="row">
                          <div class="col-12 col-md-4">日時</div>
                          <div class="d-none d-md-block col-md-5">授業名</div>
                          <div class="d-none d-md-block col-md-3">%member_caption%</div>
                        </div>
                      </div>
                      <div class="col-3 col-md-2">詳細</div>
                    </div>
                    <TMPL_LOOP NAME="lsn_finished_loop">
                      <div class="row wte_div_tbody">
                        <div class="col-9 col-md-10">
                          <div class="row">
                            <div class="col-12 col-md-4"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a></div>
                            <div class="col-12 col-md-5">%course_name%</div>
                            <div class="col-12 col-md-3">
                              <TMPL_IF NAME="member_logo">
                                <img src="%member_logo_1_url%?%epoch%" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              <TMPL_ELSE>
                                <img src="/assets/img/icons/profile.png" class="wte_face_icons rounded-pill" alt="%member_handle%" />
                              </TMPL_IF>%member_handle%さん
                            </div>
                          </div>
                        </div>
                        <!--<div class="col-2">
                          <TMPL_IF NAME="lsn_prof_repo_0">
                            <div>未報告</div>
                          </TMPL_IF>
                          <TMPL_IF NAME="lsn_prof_repo_1">
                            <div class="statusok">完了</div>
                          </TMPL_IF>
                          <TMPL_IF NAME="lsn_prof_repo_2">
                            <div class="statusng">未実施</div>
                          </TMPL_IF>
                          <TMPL_IF NAME="lsn_prof_repo_3">
                            <div class="statusng">トラブル</div>
                          </TMPL_IF>
                          <TMPL_IF NAME="lsn_prof_repo_9">
                            <div class="statusng">その他</div>
                          </TMPL_IF>
                        </div>-->
                        <div class="col-3 col-md-2">
                          <a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="btn btn-sm btn-primary rounded-pill">詳細</a>
                        </div>
                      </div>
                    </TMPL_LOOP>
                  </div>
                </div>
                <div class="card-footer">
                </div>

              </div>

              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/support.png" alt="運営からのお知らせ" class="wte_img_icons"></div>
                  <h3 class="text-center">運営からのお知らせ</h3>
                </div>
                <div class="card-body">
                  <div class="wte_info_box">
                  <TMPL_LOOP NAME="ann_loop">
                    <h5 class="mb-0">%ann_title%</h5>
                    <div class="mb-3"><small class="text-light">%ann_cdate_0%年%ann_cdate_1%月%ann_cdate_2%日</small></div>
                    <p>%ann_content%</p>
                    <hr>
                  </TMPL_LOOP>
                  </div>
                </div>
                <div class="card-footer">
                </div>
              </div>

              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/megaphone.png" alt="クチコミ管理" class="wte_img_icons"></div>
                  <h3 class="text-center">クチコミ管理</h3>
                </div>
                <div class="card-body">
                  <p><span class="d-none d-md-inline">%member_caption%から届いたクチコミです。<br></span>自分のプロフィールページに口コミの表示・非表示を切り替えることができます。</p>
                  <div class="wte_div_table mb-5">
                    <div class="row wte_div_thead">
                      <div class="col-9 col-md-10">クチコミ</div>
                      <div class="col-3 col-md-2">操作</div>
                    </div>
                    <TMPL_LOOP NAME="buz_loop">
                      <div class="row wte_div_tbody">
                        <div class="col-9 col-md-10">
                          %buz_content%
                        </div>
                        <div class="col-3 col-md-2"><span <TMPL_IF NAME="buz_show">class="fas fa-eye text-primary me-1"<TMPL_ELSE>class="fas fa-eye-slash text-muted me-1"</TMPL_IF>
                          data-class-0="fas fa-eye-slash text-muted me-1" data-class-1="fas fa-eye text-primary me-1" id="buz_%buz_id%"></span>
                          <a href="%CGI_URL%?m=buztglajx&amp;buz_id=%buz_id%" data-id="%buz_id%"
                              data-caption-0="非表示" data-caption-1="表示中" data-class-0="fas fa-eye-slash" data-class-0="fas fa-eye" class="buztgl">
                              <TMPL_IF NAME="buz_show">表示中<TMPL_ELSE>非表示</TMPL_IF>
                            </a>

                        </div>
                      </div>
                      </TMPL_LOOP>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-center"><a href="%CGI_URL%?m=buzlstfrm" class="btn btn-primary rounded-pill">&raquo; クチコミ一覧</a></div>
                  </div>
                </div>


              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/sticky-note.png" alt="メモ帳" class="wte_img_icons"></div>
                  <h3 class="text-center">メモ帳</h3>
                </div>
                <div class="card-body">

                  <TMPL_IF NAME="session_prof_note">
                    <div class="imemo">
                      <p>%session_prof_note%</p>
                      <p class="mgb0"><a href="%CGI_URL%?m=ntemodfrm">&raquo; メモ編集</a></p>
                    </div>
                    <TMPL_ELSE>
                      <div class="imemo">
                        <p class="nomemo">ご自由にご記入いただけるメモ帳です。レッスンで教えたことや、何かメモを残したいことがあればご記入ください。</p>
                      </div>
                  </TMPL_IF>

                </div>
                <div class="card-footer">
                  <div class="text-center"><a href="%CGI_URL%?m=ntemodfrm" class="btn btn-primary rounded-pill">&raquo; メモを追加する</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot_prof.html">

      <script src="%static_url%/js/prof/buztgl.js"></script>
</body>

</html>
