<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>パスワード変更 - %product_name%</title>
<TMPL_INCLUDE NAME="../include/head_prof.html">
</head>
<body id="instructor" class="<TMPL_INCLUDE NAME="../include/body_prof_class.html">">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

    <!-- schedule section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card mb-5">
              <form id="passform" method="post" action="%CGI_URL%" name="passform">
                <input type="hidden" name="m" value="passwdset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/key.png" alt="パスワード変更" class="wte_img_icons"></div>
                  <h3 class="text-center">パスワード変更</h3>
                </div>
                <div class="card-body">
                  <p class="text-start text-md-center"><span class="d-none d-md-inline">定期的にパスワードの変更をお願いします。<br></span>変更処理を行うと自動的にログアウトされますので、再度ログインください。</p>
                  <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
              
                  <div class="form-group">
                    <label for="prof_pass">現在のパスワード</label>
                    <div class="input-group">
                      <input type="password" id="prof_pass" name="prof_pass" value="%prof_pass%" size="20" class="form-control inputlimit_ascii" placeholder="現在のパスワードをご入力ください">
                      <div class="input-group-text" id="passview">
                        <span class="fas fa-eye-slash text-primary"></span>
                      </div>
                    </div>
                    <ul class="note">
                      <li><span id="prof_pass_min_char_num">8</span>文字以上<span id="prof_pass_max_char_num">20</span>文字以内（現在の文字数：<span id="prof_pass_char_num">0</span>文字）</li>
                    </ul>
                  </div>
              
                  <div class="form-group">
                    <label for="prof_pass_new1">新しいパスワード</label>
                    <div class="input-group">
                      <input type="password" id="prof_pass_new1" name="prof_pass_new1" value="" size="20" class="form-control inputlimit_ascii" placeholder="新しいパスワードをご入力ください" />
                      <div class="input-group-text" id="passview2">
                        <span class="fas fa-eye-slash text-primary"></span>
                      </div>
                    </div>
                    <ul class="note">
                      <li><span id="prof_pass_new1_min_char_num">8</span>文字以上<span id="prof_pass_new1_max_char_num">20</span>文字以内（現在の文字数：<span id="prof_pass_new1_char_num">0</span>文字）</li>
                    </ul>
                  </div>
              
                  <div class="form-group">
                    <label for="prof_pass_new2">新しいパスワード再入力</label>
                    <div class="input-group">
                      <input type="password" id="prof_pass_new2" name="prof_pass_new2" value="%prof_pass_new2%" size="20" class="form-control inputlimit_ascii" placeholder="再度、新しいパスワードをご入力ください" />
                      <div class="input-group-text" id="passview3">
                        <span class="fas fa-eye-slash text-primary"></span>
                      </div>
                    </div>
                    <ul class="note">
                      <li>確認のためにもう一度パスワードを入力してください。</li>
                      <li><span id="prof_pass_new2_min_char_num">8</span>文字以上<span id="prof_pass_new2_max_char_num">20</span>文字以内（現在の文字数：<span id="prof_pass_new2_char_num">0</span>文字）</li>
                    </ul>
                  </div>
              
                </div>
                <div class="card-footer">
                  <div class="text-center"><input type="submit" value="&raquo; パスワード再設定" class="btn btn-success rounded-pill"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  
<script src="%static_url%/js/dom.js"></script>
<script src="%static_url%/js/form.js"></script>
<script src="%static_url%/js/inputlimit.js"></script>
<script src="%static_url%/js/prof/passwdfrm.js"></script>
<script>
  //  id="view"を取得
let viewicon = document.getElementById('passview');

//  id="password"を取得
let inputtype = document.getElementById('prof_pass');

//  id="view"クリック時の処理を設定
$('#passview').on('click', function () {

       //  passwordからtextへ
       if(inputtype.type === 'password'){
              inputtype.type = 'text';
              viewicon.innerHTML = '<span class="fas fa-eye text-primary"></span>';

        //  textからpasswordへ
        } else {
               inputtype.type = 'password';
               viewicon.innerHTML = '<span class="fas fa-eye-slash text-primary"></span>';
        }
});

let viewicon2 = document.getElementById('passview2');

//  id="password"を取得
let inputtype2 = document.getElementById('prof_pass_new1');

//  id="view"クリック時の処理を設定
$('#passview2').on('click', function () {

       //  passwordからtextへ
       if(inputtype2.type === 'password'){
              inputtype2.type = 'text';
              viewicon2.innerHTML = '<span class="fas fa-eye text-primary"></span>';

        //  textからpasswordへ
        } else {
               inputtype2.type = 'password';
               viewicon2.innerHTML = '<span class="fas fa-eye-slash text-primary"></span>';
        }
});

let viewicon3 = document.getElementById('passview3');

//  id="password"を取得
let inputtype3 = document.getElementById('prof_pass_new2');

//  id="view"クリック時の処理を設定
$('#passview3').on('click', function () {

       //  passwordからtextへ
       if(inputtype3.type === 'password'){
              inputtype3.type = 'text';
              viewicon3.innerHTML = '<span class="fas fa-eye text-primary"></span>';

        //  textからpasswordへ
        } else {
               inputtype3.type = 'password';
               viewicon3.innerHTML = '<span class="fas fa-eye-slash text-primary"></span>';
        }
});

</script>
</body>
</html>

