<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg; L&amp;Rテスト 500～600点突破コース - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head_prof.html">
  <style>
    .wte_head-border:after {
      background-color: #83D168;
    }
  </style>
</head>
<body id="instructor">

  <TMPL_INCLUDE NAME="../include/header_prof.html">
    <div id="sb-site" class="bg-light">

      <!-- content section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
  
              <div class="card mb-5">
                <div class="card-eyecatch">
                  <img src="/assets/img/course/course-toeic_wide.jpg" class="w-100 h-100 object-fit-cover" alt="TOEIC&reg; L&amp;Rテスト 500～600点突破コース" loading="lazy">
                </div>
                <div class="card-header bg_course-toeic p-4">
                  <h3 class="text-center mb-3">TOEIC&reg; L&amp;Rテスト 500～600点突破コース</h3>
                  <h4 class="text-center h6">TOEIC初心者向けの導入コースです。<br>
                    基礎的な知識を身につけ、TOEICに慣れることで、着実にスコア積み上げます。</h4>
                </div>
                <div class="card-body pt-5">
                  <h4 class="mb-4 wte_head-border">コース概要</h4>
                  <h5 class="mb-4">指導条件と報酬について</h5>
                  <p class="mb-4">下記、条件に当てはまる方が指導可能です。</p>
                  <ul class="mb-5">
                    <li>TOEIC&reg; L&Rテストの<strong>スコア860点以上</strong>の方</li>
                    <li>指定教材を持っている方</li>
                    <li>シラバスを把握いただいた方</li>
                  </ul>
                  <p class="mb-4">コースの報酬は以下となります。</p>
                  <ul class="mb-5">
                    <li>通常レッスン（50分）：<strong>1,125円</strong> → <span class="text-danger">※2025年1月から <strong>1,312円</strong></span></li>
                    <li>体験レッスン（25分）：<strong>562円</strong> → <span class="text-danger">※2025年1月から <strong>656円</strong></span></li>
                  </ul>
                  <h5 class="mb-4">コースの狙い</h5>
                  <p>TOEIC受講がはじめての方や、英語に苦手意識を持つ方へのコースです。<br>スコア500点〜600点を取得できる力を、身につけられることを目的としています。<br>基礎的な英語力を身につけ、正答できる問題を確実に増やせるよう、コースを開発しています。</p>
                  <div class="text-center mb-5">
                    <a href="mailto:teacher@kirihara.worldtalk.jp" class="btn btn-warning rounded-pill">&raquo; コースを申請する</a>
                  </div>
                  <h4 class="mb-4 wte_head-border"><span class="badge badge-circle rounded-pill badge-primary">Step.2</span>レッスン予約と準備</h4>
                  <div class="row mb-5">
                    <div class="col-12 col-md-6 px-5 order-1">
                      <p>次は、レッスンを予約してみましょう！</p>
                      <p>WTEでは、<strong><a href="https://www.rocky.wte.jp/WTE/mypage.cgi?m=schlstfrm">「日程から予約」</a><a href="https://www.rocky.wte.jp/WTE/mypage.cgi?m=prflstfrm">「講師から予約」</a></strong>という、たくさんの予約方法があります。<br>それぞれお試しいただき、やりやすい方法をお選びください。<br>スマホでも予約できますので、すきま時間を使ってご利用ください。<br></p>
                      <p>予約が完了すると通知メールが届きます。<br>また、いつでもマイページから予約内容の確認も可能です。</p>
                    </div>
                    <div class="col-12 col-md-6 order-0">
                      <img src="/assets/img/howtouse/mock_2.jpg" class="w-100 h-auto" alt="レッスン予約">
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-12 col-md-6 px-5">
                      <p>レッスンをもっと充実させるためのヒント。<br>メッセージ機能を使って、講師に要望を伝えましょう。</p>
                      <p>通話システムの準備も忘れないよう。<br>マイクやビデオのチェックをしておきましょう。</p>
                      <p>時間になったらレッスンスタートです。<br>素敵な時間をお過ごしください。</p>
                    </div>
                    <div class="col-12 col-md-6">
                      <img src="/assets/img/howtouse/mock_3.jpg" class="w-100 h-auto" alt="レッスン予約">
                    </div>
                  </div>
                  <h4 class="mb-4 wte_head-border"><span class="badge badge-circle rounded-pill badge-primary">Step.3</span>プランの購入</h4>
                  
                  <div class="text-center mb-5">
                    <a href="https://www.rocky.wte.jp/WTE/mypage.cgi?m=mbrmodfrm" class="btn btn-primary rounded-pill">&raquo; プロフィール編集</a>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_prof.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot_prof.html">

      <script src="%static_url%/js/prof/buztgl.js"></script>
</body>

</html>
